﻿@model LPG.Models.FaqModel
@{
    ViewBag.Title = "[[[AddFaq]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[FAQ]]]</span></div>
    </div>
    <div class="container-fluid">
        @*<p class="font-weight-bold">FAQ</p>*@

        <div class="screen-content">
            <form class="sb-form" id="faqform" novalidate method="post" action="#">
                <div class="row mb-15">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>[[[Pertanyaan]]]</label>
                            @Html.TextAreaFor(model => model.Question, new { @class = "form-control", @rows = "5", required = "required", @maxlength = "400" })
                            @Html.ValidationMessageFor(model => model.Question, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row mb-15">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>[[[Jawaban]]]</label>
                            @Html.TextAreaFor(model => model.Answer, new { @class = "form-control", @rows = "5", required = "required" })
                            @Html.ValidationMessageFor(model => model.Answer, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row mb-15">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>[[[Posisi]]]</label>
                            @Html.DropDownListFor(model => model.Position, new SelectList(ViewBag.vbPositionlist, "Text", "Value"), new { @class = "form-control", @placeholder = "[[[Enter Position]]]" })
                            @*@Html.TextBoxFor(model => model.Position, new { @class = "form-control", @Value = (Model.Position > 0 ? Model.Position.ToString() : string.Empty), @type = "number",required="required" })*@
                            @Html.ValidationMessageFor(model => model.Position, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row mb-15">
                    <div class="col-sm-6">
                        <div class="btns-container">
                            <button class="btn btn-success" type="submit">[[[Save]]]</button>
                            <button class="btn btn-default" onclick="location.href='/FAQ/ListFAQ';return false;">[[[Cancel]]]</button>
                        </div>
                    </div>
                </div>
                <input type="hidden" value="@Model.FaqId" name="FaqId" id="FaqId">
            </form>
        </div>
    </div>
    <!-- /.container-fluid -->

</div>
<script>
    $(document).on('submit', '#faqform', function (event) {
        var valid = true;
        var inputFields = $('#faqform input');
        inputFields.each(function () {

            if (!$(this).val()) {
                valid = false;
                $('#faqform').addClass('was-validated');
                event.preventDefault();
            }
        });
    });
</script>
