﻿@model LPG.Models.CheckAreaViewModel
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<style>
    #checkareacontainer {
        width: 100%;
    }

    #checkareamaps {
        width: 100%;
        height: 70vh;
    }

    .chackareafilters{
        margin-bottom:20px;
    }
    
    
    .labelfilter {
        margin-right: 10px;
        margin-left: 15px;
    }
</style>
<div id="checkareacontainer" class="container">
    <div>
        <div class="row chackareafilters">
            <form class="form-inline" action="#">
                <div class="form-group">
                    <label for="" class="labelfilter">Region</label>
                    <select id="cbbregioncheckarea" class="form-control">
                        <option value="0">Semua</option>
                        @foreach (var item in Model.Regions.OrderBy(t => t.RegionName).ToList())
                        {
                            if (Model.DefaultRegion != null)
                            {
                                if (Model.DefaultRegion.RegionId == item.RegionId)
                                {
                                    <option value="@item.RegionId" selected>@item.RegionName</option>
                                }
                                else
                                {
                                    <option value="@item.RegionId">@item.RegionName</option>
                                }
                            }
                            else
                            {
                                <option value="@item.RegionId">@item.RegionName</option>
                            }
                        }
                        <option value="99">Tidak terdaftar</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="" class="labelfilter">Pelanggan</label>
                    <select id="cbbcustcheckarea" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label for="btncheckarea" class="labelfilter">&nbsp;</label>
                    <button type="button" id="btncheckarea" class="btn btn-primary">Cari</button>
                </div>

            </form>
        </div>
        <div class="jumbotron" style="width:100%;margin-top:20px;margin-bottom:10px;padding:15px;" id="paneldetailcheck">
            <div class="panel-heading">
                <strong>Detail Pelanggan</strong>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">Nama</div>
                    <div id="namacheckarea" class="col-md-10">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">No Hanphone</div>
                    <div id="telfoncheckarea" class="col-md-10">

                    </div>
                </div>

                <div class="row" id="addresscheckareacontainer">
                    <div class="col-md-2">Alamat</div>
                    <div id="addresscheckarea" class="col-md-10">

                    </div>
                </div>
                <div class="row" id="moreinfocheckareacontainer">
                    <div class="col-md-2">Info Tambahan</div>
                    <div id="moreinfocheckarea" class="col-md-10">

                    </div>
                </div>
            </div>
        </div>
        <div id="checkareamaps"></div>
    </div>
</div>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCi0cz9Vqdcu49U-U09TB7kOvWSRCRt1wQ"></script>
    

    <script>
        var theMap;
        var distributionchecklist = [];
        var addresses = [];
        var currentParam = { consumer_id: null, region_id: $('#cbbregioncheckarea').val() };

        $(document).ready(function () {
            $('#paneldetailcheck').hide();
            InitMap();
            getDistribution();

            filter({ consumer_id: null, region_id: $('#cbbregioncheckarea').val() });

            initCbb();
        })
        //
        //
        //
        //
        $('#btncheckarea').click(function () {
            currentParam = { consumer_id: $('#cbbcustcheckarea').val(), region_id: $('#cbbregioncheckarea').val() };
            filter(currentParam);
        });

        function initCbb() {
            $('#cbbcustcheckarea').select2({
                minimumInputLength: 3,
                width: '20vw',
                placeholder: "masukan nama / no telfon",
                ajax: {
                    url: '/CheckArea/GetCustomer',
                    delay: 300,
                    type: 'POST',
                    data: function (params) {
                        var query = {
                            name: params.term
                        }
                        // Query parameters will be ?search=[term]&type=public
                        return query;
                    },
                    processResults: function (data) {
                        // Tranforms the top-level key of the response object from 'items' to 'results'
                        return {
                            results: data.map(function (obj) { return { id: obj.CustomerId, text: obj.Name + ' - ' + obj.MobileNo } })
                        };
                    }
                }
            });

            $('#cbbregioncheckarea').select2();
        }

        function getDistribution() {
            $.ajax({
                type: "POST",
                url: "/CheckArea/GetDistributionPoints",
                success: function (result) {
                    //console.log(result);
                    if (result) {
                        distributionchecklist = [];
                        $.each(result, function (i, v) {

                            var radius = new google.maps.Circle({
                                strokeColor: '#769CF5',
                                strokeOpacity: 0.8,
                                strokeWeight: 2,
                                fillColor: '#0C3594',
                                fillOpacity: 0.35,
                                map: theMap,
                                center: new google.maps.LatLng(v.Lat, v.Long),
                                radius: 5000
                            });

                            var marker = new google.maps.Marker({
                                position: new google.maps.LatLng(v.Lat, v.Long),
                                map: theMap,
                                distData: v,
                                icon: {
                                    path: google.maps.SymbolPath.CIRCLE,
                                    scale: 0
                                },
                                label: { color: '#FFF', fontWeight: 'bold', fontSize: '14px', text: v.CompanyAgent, labelAnchor: new google.maps.Point(20, 0) },

                                radius: radius
                            });
                            distributionchecklist.push(marker);

                        });
                    }


                }
            })
        }

        function filter(param) {

            //param = {
            //    consumer_id:null,
            //    region_id:8
            //}

            $.ajax({
                type: "POST",
                url: "/CheckArea/GetAddresses",
                data: param,
                success: function (result) {

                    $.each(addresses, function (i, v) {
                        v.setMap(null);
                    });

                    addresses = [];
                    $.each(result, function (i, v) {

                        var marker = new google.maps.Marker({
                            position: new google.maps.LatLng(v.latitude, v.longitude),
                            map: theMap,
                            addrData: v
                        });

                        marker.addListener('click', function () {
                            var id = v.addr_id;
                            var data = $.grep(addresses, function (e) { return e.addrData.addr_id == id; })[0];

                            //var postion = getMarkerPosition(data);

                            var up = data.addrData;

                            $('#paneldetailcheck').show();

                            $('#namacheckarea').html(': ' + up.consumer_name || '');
                            $('#telfoncheckarea').html(': ' + up.mobile_number || '');
                            $('#moreinfocheckarea').html(': ' + (up.more_info || ''));
                            $('#addresscheckarea').html(': ' + up.address || '');
                            $('#moreinfocheckareacontainer').show();
                            $('#addresscheckareacontainer').show();
                            
                        });


                        addresses.push(marker);

                    });

                    if (currentParam.consumer_id && result.length > 0) {
                        var up = {};

                        up = result[0];

                        $('#paneldetailcheck').show();
                        
                        $('#namacheckarea').html(': ' + up.consumer_name || '');
                        $('#telfoncheckarea').html(': ' + up.mobile_number || '');
                        $('#moreinfocheckareacontainer').hide();
                        $('#addresscheckareacontainer').hide();
                        
                    }
                    else {
                        $('#paneldetailcheck').hide();
                    }

                    $('#cbbcustcheckarea').val(null).trigger('change');

                }
            })
        }


        function getMarkerPosition(marker) {
            var scale = Math.pow(2, theMap.getZoom());
            var nw = new google.maps.LatLng(
                theMap.getBounds().getNorthEast().lat(),
                theMap.getBounds().getSouthWest().lng()
            );
            var worldCoordinateNW = theMap.getProjection().fromLatLngToPoint(nw);
            var worldCoordinate = theMap.getProjection().fromLatLngToPoint(marker.getPosition());
            var pixelOffset = new google.maps.Point(
                Math.floor((worldCoordinate.x - worldCoordinateNW.x) * scale),
                Math.floor((worldCoordinate.y - worldCoordinateNW.y) * scale)
            );

            return pixelOffset;
        }

        function InitMap() {
            var mapOptions = {
                mapTypeId: google.maps.MapTypeId.HYBRID,
                streetViewControl: false
            };

            theMap = new google.maps.Map(document.getElementById('checkareamaps'), mapOptions);
            //-2.471818, 118.090741
            var myCenter = new google.maps.LatLng(-2.471818, 118.090741);
            theMap.panTo(myCenter);
            theMap.setZoom(5);
        }
    </script>
