﻿@model LPG.Models.CheckAreaViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link href="~/Content/css/toastr.css" rel="stylesheet" />
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/toastr.js"></script>
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[Check Area]]]</span></div>
    </div>
    <div class="container-fluid">
        @Html.Partial("CheckArea")
    </div>
</div>


