﻿@model LPG.Models.CustomerModel
@{
    ViewBag.Title = "[[[ListCustomer]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[Pelanggan]]]</span></div>
    </div>
    <div class="container-fluid">
        <p class="font-weight-bold">[[[Daftar Nama Pelanggan]]]</p>
        <div class="table-responsive">
            <table class="table table-hover col-valign" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>[[[Nama Pelanggan]]]</th>
                        <th>[[[Alamat Utama]]]</th>
                        <th>[[[Kota/Kabupaten]]]</th>
                        <th>[[[Kode Pos]]]</th>
                        <th>[[[No HandPhone]]]</th>
                        <th>[[[Tindakan]]]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model.CustomerList)
                    {
                        <tr>
                            <td data-title="CustomerId">
                                <table width="100%" class="table-noborder">
                                    <tr>
                                        <td width="40"><div class="cust-checkbox"><input type="checkbox" id="@data.CustomerId"><label for="@data.CustomerId"></label></div></td>
                                        <td>@data.Name</td>
                                    </tr>
                                </table>
                            </td>
                            <td data-title="Address">@data.Address</td>
                            <td data-title="District">@data.Region</td>
                            <td data-title="Code">@data.Code</td>
                            <td data-target="MobileNo">@data.MobileNo</td>
                            <td>
                                <a data-toggle="modal" data-target="#customerDetails" class="getCustomerDetail" id="view" onclick="getCustomerDetail(@data.CustomerId);" data-id="@data.CustomerId">Melihat</a>
                                @Html.ActionLink("Delete", "deleteCustomer", null, new { id = data.CustomerId, @class = "deleteBtn" }, new { onclick = "return confirm('[[[Apakah Anda ingin menghapus?]]]');", @class = "delete" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--partial Load-->
<div id="customerDetailContent">
    <div id="customerDetails" class="modal" role="dialog" aria-hidden="true" tabindex="-1">
        @Html.Partial("CustomerPartial")
    </div>
</div>
<script type="text/javascript">
    function getCustomerDetail(CustomerId) {
        $.ajax({
            type: "GET",
            data: { id: CustomerId },
            url: '@Url.Action("CustomerDetail", "Customer")',
            success: function (result) {
                $('.modal').html(result);
            },
            error: function (result) {
            }
        });
    }
    $(document).ready(function () {
        $('#dataTable').dataTable({
            "aaSorting": [[3, "asc"]],
            "language": {
                "url": "/Content/datatables/indonesia.json"
            },
        });
    });
</script>
<!--partial Loading-->
