﻿@model LPG.Models.ContactModel
@{
    ViewBag.Title = "[[[ListContact]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[Hubungi kami]]]</span></div>
        <div><button type="button" onclick="location.href='/Contact/AddContact/';return false;" class="btn btn-success">[[[Buat Kontak Baru]]]</button></div>
    </div>
    <div class="container-fluid">
        <div class="table-responsive">
            <table class="table table-hover" width="100%" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>[[[Gambar]]]</th>
                        <th>[[[Deskripsi]]]</th>
                        <th>[[[Tindakan]]]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model.ContactList)
                    {
                        <tr>
                            <td>
                                <table width="100%" class="table-noborder">
                                    <tr>
                                        <td width="40"><div class="cust-checkbox"><input type="checkbox" id="@data.ContactId"><label for="@data.ContactId"></label></div></td>
                                        <td><img src="@data.BannerImage" width="60" height="60" /></td>
                                    </tr>
                                </table>
                            </td>
                            <td>@data.Description</td>
                            <td>
                                <a href="#" class="edit-link" onclick="location.href='/Contact/AddContact/@data.ContactId';return false;">Edit</a>
                                @*<a href="#" class="delete" onclick="location.href='/Contact/DisableContact/@data.ContactId';return false;">Delete</a>*@
                                @Html.ActionLink("Delete", "DisableContact", new { id = data.ContactId }, new { @class = "delete" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    //$(document).ready(function () {
    //    $('#dataTable').dataTable({
    //        "aaSorting": [[3, "asc"]],
    //        "pagingType": "full_numbers"
    //    });
    //});
    $('a.delete').click(function () {
        if (!confirm("[[[Apakah anda ingin menghapus]]]")) {
            return false;
        }
        var id = $(this).attr("id");
        $.ajax({
            url: '/Contact/DisableContact', type: "POST", dataType: "text",
            data: { id: id },
            success: function (data) {
                //window.location.href = '/SuperAdmin/ListSuperAdmin';
                window.location.reload(true);
                alert('[[[Berhasil Dihapus!]]]');
            },
            error: function (xhr, status, error) {
                alert(xhr.responseText);
                alert(status);
                alert(error);
            }
        });
    });
</script>
