﻿@model LPG.Models.BannerInfoModel
@{
    ViewBag.Title = "AddBanner";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[Info Promo]]]</span></div>
    </div>
    <div class="container-fluid">
        <p class="font-weight-bold">[[[Buat Banner Info Promo Baru]]]</p>
        <form id="homebanner-form" method="post">
            <div class="screen-content">
                <div class="row mt-10">
                    <div class="col-sm-1">
                        <div class="form-group">
                            @if (Model.BannerImage == null)
                            {
                                <img id="imgPreview" height="80" src="~/Content/backups/img-icon.png" width="80" />
                            }
                            else
                            {
                                <img id="imgPreview" height="80" src="@Model.BannerImage" width="80" />
                            }
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 pt-10">
                        <label for="UploadImg" class="btn btn-primary">[[[Unggah Gambar Banner]]]</label>
                        <input type="file" class="btn btn-primary" id="UploadImg" />
                        <div class="info-text">[[[Ukuran file 350x350 or 1000x1000 pixel, format file JPG atau PNG]]]</div>
                    </div>
                    <div class="col-md-5 col-sm-6" style="display:none">
                        <div class="alert alert-dismissible sb-alert" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                            <div>[[[Ukuran file gambhar produk melebhi batas maksimal]]]</div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.BannerImage, null, new { @class = "text-danger" })
                </div>
                <div class="row mb-15 sb-form">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>[[[Nama Promo Banner (referensi Internal)]]]</label>
                            @Html.TextBoxFor(model => model.Caption, null, new { @class = "form-control", @placeholder = "[[[Enter Banner Name]]]", required = "required", @maxlength = "48" })
                            @Html.ValidationMessageFor(m => m.Caption, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>[[[Posisi]]]</label>
                            @Html.DropDownListFor(model => model.Position, new SelectList(ViewBag.vbPositionlist, "Text", "Value"), new { @class = "form-control", @placeholder = "[[[Enter Position]]]" })
                            @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <input type="hidden" value="@Model.BannerInfoId" name="BannerInfoId" id="BannerInfoId">
                <input type="hidden" value="@Model.BannerImage" name="BannerImage" id="BannerImage">
                <div class="btns-container">
                    <button class="btn btn-success" value="btnSaveAndPublish" name="Cmd">[[[Simpan & Publikasikan]]]</button>
                    <button class="btn btn-default" value="btnSaveUnpublish" name="Cmd">[[[Simpan & batalkan publikasi]]]</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /.container-fluid -->
<script>
    $(document).ready(function () {

        $("#UploadImg").change(function () {
            var data = new FormData();
            var files = $("#UploadImg").get(0).files;
            if (files.length > 0) {
                data.append("MyImages", files[0]);
            }

            $.ajax({
                url: "/BannerInfo/UploadFile",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $("#BannerImage").val('/extfiles/banners/' + response);
                    $("#imgPreview").attr('src', '/extfiles/banners/' + response);
                },
                error: function (er) {
                    swal(er);
                }

            });
        });
    });
</script>

<script>
    $(document).on('submit', '#addUser', function (event) {
        var valid = true;
        var inputFields = $('.tab-pane.active input');
        inputFields.each(function () {

            if (!$(this).val()) {
                valid = false;
                $('.tab-pane.active').addClass('was-validated');
                event.preventDefault();
            }
        });
    });
</script>
