﻿@model LPG.Models.BannerInfoModel
@{
    ViewBag.Title = "[[[ListBanner]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link href="~/Content/css/toastr.css" rel="stylesheet" />
<script src="~/Scripts/toastr.js"></script>
@Scripts.Render("~/ bundles / toastr")
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[Info Promo]]]</span></div>
        <div><button type="button" onclick="location.href='/BannerInfo/AddBanner/';return false;" class="btn btn-success">[[[Tambah Promo Baru]]]</button></div>
    </div>
    <div class="container-fluid">
        <p class="font-weight-bold">[[[Info Promo Terbaru]]]</p>
        <div class="table-responsive">
            <table class="table table-hover col-valign" id="dataTable">
                <thead>
                    <tr>
                        <th>[[[Nama Promo]]]</th>
                        <th>[[[Posisi]]]</th>
                        <th>[[[Status]]]</th>
                        <th>[[[Tindakan Terakhir Oleh]]]</th>
                        <th>[[[Tindakan]]]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model.BannerInfoList)
                    {
                        <tr>
                            <td>
                                <table width="100%" class="table-noborder">
                                    <tr>
                                        <td width="40"><div class="cust-checkbox"><input type="checkbox" id="@data.BannerInfoId"><label for="@data.BannerInfoId"></label></div></td>
                                        <td width="100"><img src="@data.BannerImage" width="80" height="80" /></td>
                                        <td><span class="message">@data.Caption</span></td>
                                    </tr>
                                </table>
                            </td>
                            <td>@data.Position</td>
                            <td>@(data.Status.ToString() == "1" ? "[[[Publish]]]" : "[[[Unpublish]]]")</td>
                            <td>@data.LastModifiedDate.ToString("dd/mm/yyyy, hh:mm")<br /><span>@data.UpdatedUser</span></td>
                            <td>
                                <a href="#" class="edit-link" onclick="location.href='/BannerInfo/AddBanner/@data.BannerInfoId';return false;">[[[Edit]]]</a>
                                @Html.ActionLink("Delete", "deleteBannerInfo", null, new { id = data.BannerInfoId, @class = "deleteBtn" }, new { onclick = "return confirm('[[[Apakah Anda ingin menghapus?]]]');", @class = "delete" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#dataTable').dataTable({
            "aaSorting": [[1, "asc"]],
            "pagingType": "full_numbers",
            "language": {
                "url": "/Content/datatables/indonesia.json"
            },
        });
    });
</script>
