﻿@model LPG.Models.Dashboar2dModel
@{
    ViewBag.Title = "[[[Dashboard]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="content-wrapper py-3">
    <div class="page-header">
        <div>
           <span class="page-name">[[[Performansi Bright Home Service]]]</span>
        </div>

        <div class="form-inline pull-right">
            <form>
                <select name="month" class="form-control form-control-sm">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">Juny</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
                <select name="year" class="form-control form-control-sm">
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                </select>
                <button class="btn btn-sm btn-primary">Submit</button>
            </form>
        </div>

    </div>
    <div class="container-fluid">

        <div class="row perf-bhs-col">
            <div class="col-md-3 left-triangle">
                <h3 class="left-title"><span>Aktivasi</span></h3>
                <div class="triangle"></div>
            </div>
            <div class="col-md-3">
                <div class="col-round">
                    <h1 class="num">-</h1>
                    <div class="title">Downloads</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-round">
                    <h1 class="num" id="total_users"></h1>
                    <div class="title">Registered users</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-round">
                    <h1 class="num">-</h1>
                    <div class="title">Pilot users</div>
                </div>
            </div>
        </div>

        <h3>Total Sales Per Region</h3>
        @{
            if (Model.ListOfSalesPerRegion.Count() > 0)
            {
                foreach (var x in Model.ListOfSalesPerRegion)
                {
                    <div class="row perf-bhs-col">
                        <div class="col-md-3 left-triangle">
                            <h3 class="left-title">
                                <span>
                                    <b>@x.RegionName</b><br />
                                    (<i>@x.NumberOfAgent</i> agent)
                                </span>
                            </h3>
                            <div class="triangle"></div>
                        </div>

                        <div class="col-md-2">
                            <div class="col-round">
                                <h3 class="num">@x.NumberOfCustomer</h3>
                                <div class="title">Konsumen Melakukan Transaksi</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="sls-chart" data-id="@x.RegionId" id="chart_sales_@x.RegionId">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="col-round">
                                <h3 class="num">@x.NumberOfOntimeDelivery</h3>
                                <div class="title">dari <span>@x.NumberOfTransaction</span> pengantaran on-time</div>
                            </div>
                        </div>
                    </div>
                    <hr />
                }
            }
            else
            {
                <div>Tidak ada transaksi untuk pilihan periode ini.</div>
            }
        }
    </div>
</div>
@section scripts {    
    <script src="@Url.Content("~/Scripts/highcharts.js")"></script>
    <script type="text/javascript">
        var month = "@Model.iMonth";
        var year = "@Model.iYear";

        $(document).ready(function () {
            $.post("@Url.Content("~/Dashboard/TotalUsers")", { month: month, year: year }, function (data) {
                $('#total_users').html(data.total);
            });

            $('.sls-chart').each(function () {
                TotalSalesChart($(this).data('id'));
            })

            $('select[name="month"]').val(@Model.iMonth);
            $('select[name="year"]').val(@Model.iYear);
        })

        function TotalSalesChart(RegID) {
            $.post("@Url.Content("~/Dashboard/NumberOfSales")", { month: month, year: year, region: RegID }, function (data) {
                var total = 0;
                if (data.length > 0) {
                    $.each(data, function (key, item) {
                        total = total + parseInt(item.y);
                    })
                }

                Highcharts.chart('chart_sales_' + RegID, {
                    chart: {
                        type: 'column'
                    },
                    credits: {
                        enabled: false
                    },
                    title: {
                        text: 'Total sales = ' + total + ' tabung',
                        style: { "fontSize": "13px" }
                    },
                    yAxis: {
                        title: {
                            text: '[[[Sales tabung/hari]]]'
                        }
                    },

                    legend: {
                        enabled: false,
                    },
                    plotOptions: {
                        column: {
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },

                    series: [{
                        name: '[[[Sales]]]',
                        data: data,
                        color: '#EA117E'
                    }]
                });
            });
        }

    </script>
}

<style type="text/css">
    .row.perf-bhs-col {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .perf-bhs-col .left-triangle {
        height: 150px;
    }

        .perf-bhs-col .left-triangle .left-title {
            width: 110px;
            height: 150px;
            background-color: #ea117e;
            color: white;
            text-align: left;
            float: left;
            font-size: 16px;
            display:table;
        }
            .perf-bhs-col .left-triangle .left-title span {
                display: table-cell; vertical-align: middle;
                padding-left:20px;
            }
        .perf-bhs-col .left-triangle .triangle {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 75px 0 75px 50px;
            border-color: transparent transparent transparent #ea117e;
            float: left;
        }

    .perf-bhs-col .col-round {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        border: 5px solid #941153;
        text-align: center;
        padding: 20px;
    }

        .perf-bhs-col .col-round .num {
            margin-top: 15px;
        }

        .perf-bhs-col .col-round .title {
            line-height: 16px;
        }

        .perf-bhs-col .sls-chart{
            height:150px;
        }
</style>