﻿@model LPG.Models.Dashboar2dModel
@{
    ViewBag.Title = "[[[Dashboard]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="content-wrapper py-3">
    <div class="page-header">
        <div>
           <span class="page-name">[[[Performansi Bright Home Service]]]</span>
        </div>

        <div class="form-inline pull-right">
            <form>
                <select name="month" class="form-control form-control-sm">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">Juny</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
                <select name="year" class="form-control form-control-sm">
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                </select>
                <button class="btn btn-sm btn-primary">Submit</button>
            </form>
        </div>

    </div>
    <div class="container-fluid">
        @{
            if (Model.Region.Count > 1)
            {
                foreach (var reg in Model.Region)
                {
                    <h3>KPI Report <span>@reg.RegionName</span></h3>
                    var kpi = Model.KPIReport.Where(x => x.RegionCode.Equals(reg.RegionCode));

                    <table class="table table-hover table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th width="20"></th>
                                <th width="*">KPI Metric</th>
                                @foreach (var k in kpi)
                                {
                                    <th class="text-center" width="150">@k.AgentName</th>
                                }
                                <th width="100">Target</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="badge fa-2x badge-warning">1</span></td>
                                <td>
                                    % Konversi ke Bright Gas
                                    (dari LPG Biru 12kg atau PSO 3kg)
                                </td>
                                @foreach (var k in kpi)
                                {
                                    var cls = "text-warning";
                                    if (k.ConvertionRate > Model.KPISetting.ConversionRateOnTrack)
                                    {
                                        cls = "text-success";
                                    }
                                    else if (k.ConvertionRate < Model.KPISetting.ConversionRateAtRisk)
                                    {
                                        cls = "text-danger";
                                    }

                                    <td class="text-center kpi-value"><i class="fa fa-circle @cls"></i><span>@Convert.ToInt16(k.ConvertionRate).ToString("#,##0")</span>%</td>
                                }
                                <td class="text-center"><span class="text-danger font-weight-bold">@Model.KPISetting.ConversionRateOnTrack%</span><br /><span>(permonth)</span></td>
                            </tr>
                            <tr>
                                <td><span class="badge fa-2x badge-warning">2</span></td>
                                <td>
                                    Total Pendapatan Tambahan
                                    Order via App + via Phone + via Pickup
                                </td>
                                @foreach (var k in kpi)
                                {
                                    var cls = "text-warning";
                                    if (Convert.ToDouble(k.TotalSales) > Model.KPISetting.TotalSalesOnTrack)
                                    {
                                        cls = "text-success";
                                    }
                                    else if (Convert.ToDouble(k.TotalSales) < Model.KPISetting.TotalSalesAtRisk)
                                    {
                                        cls = "text-danger";
                                    }

                                    <td class="text-center kpi-value"><i class="fa fa-circle @cls"></i><span>@Convert.ToInt32(k.TotalSales).ToString("#,##0")</span></td>
                                }
                                    <td class="text-center"><span class="text-danger font-weight-bold">@Convert.ToInt32(Model.KPISetting.TotalSalesOnTrack).ToString("#,##0")</span><br /><span>(prev & curr month)</span></td>
                            </tr>


                            <tr>
                                <td><span class="badge fa-2x badge-warning">3</span></td>
                                <td>
                                    % Pertumbuhan Jualan untuk Volume (month-on-month)
                                </td>
                                @foreach (var k in kpi)
                                {
                                    var cls = "text-warning";
                                    if (Convert.ToInt16(k.IncreaseOfSales) > Model.KPISetting.IncreaseVolSalesOnTrack)
                                    {
                                        cls = "text-success";
                                    }
                                    else if (Convert.ToInt16(k.IncreaseOfSales) < Model.KPISetting.IncreaseVolSalesAtRisk)
                                    {
                                        cls = "text-danger";
                                    }

                                    <td class="text-center kpi-value"><i class="fa fa-circle @cls"></i><span>@Convert.ToInt16(k.IncreaseOfSales).ToString("#,##0")</span>%</td>
                                }
                                    <td class="text-center"><span class="text-danger font-weight-bold">@Model.KPISetting.IncreaseVolSalesOnTrack%</span><br /><span>(per month)</span></td>
                            </tr>

                            <tr>
                                <td><span class="badge fa-2x badge-warning">4</span></td>
                                <td>
                                    Total jumlah transaksi untuk Rumah Tangga ("Sales-Out")
                                </td>
                                @foreach (var k in kpi)
                                {
                                    var cls = "text-warning";
                                    if (Convert.ToInt16(k.JumlahHouseHold) > Model.KPISetting.TotalTransHouseholdOnTrack)
                                    {
                                        cls = "text-success";
                                    }
                                    else if (Convert.ToInt16(k.JumlahHouseHold) < Model.KPISetting.TotalTransHouseholdAtRisk)
                                    {
                                        cls = "text-danger";
                                    }

                                    <td class="text-center kpi-value"><i class="fa fa-circle @cls"></i><span>@Convert.ToInt16(k.JumlahHouseHold).ToString("#,##0")</span></td>
                                }
                                    <td class="text-center"><span class="text-danger font-weight-bold">@Model.KPISetting.TotalTransHouseholdOnTrack</span> <span class="text-danger font-weight-bold">rumah tangga</span> <br /><span>(per month)</span></td>
                            </tr>

                            <tr>
                                <td><span class="badge fa-2x badge-warning">5</span></td>
                                <td>
                                    Service Quality – % Order via Alokasi yang diterima
                                </td>
                                @foreach (var k in kpi)
                                {
                                    var cls = "text-warning";
                                    if (Convert.ToInt16(k.Allocated) > Model.KPISetting.OrderAllocatedOnTrack)
                                    {
                                        cls = "text-success";
                                    }
                                    else if (Convert.ToInt16(k.Allocated) < Model.KPISetting.OrderAllocatedAtRisk)
                                    {
                                        cls = "text-danger";
                                    }

                                    <td class="text-center kpi-value"><i class="fa fa-circle @cls"></i><span>@Convert.ToInt16(k.Allocated).ToString("#,##0")</span>%</td>
                                }
                                    <td class="text-center"><span class="text-danger font-weight-bold">@Model.KPISetting.OrderAllocatedOnTrack%</span> <br /><span>(avg per month)</span></td>
                            </tr>
                            <tr>
                                <td><span class="badge fa-2x badge-warning">6</span></td>
                                <td>Service Quality – % Order yang on-time</td>
                                @foreach (var k in kpi)
                                {
                                    var cls = "text-warning";
                                    if (Convert.ToInt16(k.OntimeDelivery) > Model.KPISetting.OrderOntimeOnTrack)
                                    {
                                        cls = "text-success";
                                    }
                                    else if (Convert.ToInt16(k.OntimeDelivery) < Model.KPISetting.OrderOnTimeAtRisk)
                                    {
                                        cls = "text-danger";
                                    }

                                    <td class="text-center kpi-value"><i class="fa fa-circle @cls"></i><span>@Convert.ToInt16(k.OntimeDelivery).ToString("#,##0")</span>%</td>
                                }
                                    <td class="text-center"><span class="text-danger font-weight-bold">@Model.KPISetting.OrderOntimeOnTrack%</span> <br /><span>(avg per month)</span></td>
                            </tr>
                            <tr>
                                <td><span class="badge fa-2x badge-warning">7</span></td>
                                <td>
                                    Service Quality – Rating Servis Rata-Rata (dari maks rating 5)
                                </td>
                                @foreach (var k in kpi)
                                {
                                    var cls = "text-warning";
                                    if (Convert.ToInt16(k.Rating) > Model.KPISetting.RatingOnTrack)
                                    {
                                        cls = "text-success";
                                    }
                                    else if (Convert.ToInt16(k.Rating) < Model.KPISetting.RatingAtRisk)
                                    {
                                        cls = "text-danger";
                                    }

                                    <td class="text-center kpi-value"><i class="fa fa-circle @cls"></i><span>@Convert.ToInt16(k.Rating).ToString("#,##0.0")</span></td>
                                }
                                    <td class="text-center"><span class="text-danger font-weight-bold">@Model.KPISetting.RatingOnTrack%</span> <br /><span>(avg per month)</span></td>
                            </tr>
                        </tbody>
                    </table>
               }
            }
            else
            {
                <div>Tidak ada transaksi untuk pilihan periode ini.</div>
            }
        }
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('select[name="month"]').val(@Model.iMonth);
            $('select[name="year"]').val(@Model.iYear);
        })
    </script>
}

<style type="text/css">
    td.kpi-value {
        font-size:15px;
        font-weight:bold;
    }
    td.kpi-value fa {
        display:inline-block;margin-right:10px;
    }
    .table td{
        padding:4px;
    }
</style>