﻿@model LPG.Models.MDashKPISetting

@{
    ViewBag.Title = "[[[Order Percustomer]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="content-wrapper py-3">
    <div class="page-header">
        <div>
            <span class="page-name">[[[Order Percustomer]]]</span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="table-responsive">
            <table class="table table-hover col-valign" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>[[[ID]]]</th>
                        <th>[[[Nama Pelanggan]]]</th>
                        <th>[[[Address]]]</th>
                        <th>[[[Kode Pos]]]</th>
                        <th>[[[No HandPhone]]]</th>
                        <th>[[[Total Order]]]</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTable').dataTable({
            "dom": '<"top"f>rt<"bottom"ilp><"clear">',
            "language": {
                "url": "/Content/datatables/indonesia.json"
            },
            "columnDefs": [
                { defaultContent: '-', targets: '_all' },
                {
                    data: 'ConsID',
                    visible: false,
                    targets: 0
                },
                {
                    data: 'Name',
                    targets: 1
                },
                {
                    data: 'Address',
                    targets: 2
                },
                {
                    data: 'PostalCode',
                    targets: 3
                },
                {
                    data: 'PhoneNumber',
                    targets: 4
                },
                {
                    data: 'JmlTrans',
                    targets: 5
                },
                {
                    data: 'ConsID',
                    targets: 6,
                    render: function (data, type, row) {
                        var res = '<a data-toggle="modal" data-target="#customerDetails" class="getCustomerDetail" id="view" onclick="getCustomerDetail(' + row.CustomerId + ');" data-id="' + row.CustomerId + '">Melihat</a>';
                        res += '<br/><a href="/Dashboard/OrderPercustomerDetail/?id=' + row.ConsID + '" class="detailBtn detail">View</a>';

                        return res;
                    }
                }
            ],
            serverSide: true,
            ajax: {

                url: '/Dashboard/ListCustomer',
                type: "POST",
                dataType: 'json',
                async: true,
                contentType: 'application/json',
                data: function (data) {

                    var x = {};

                    x.draw = data.draw;
                    x.length = data.length;
                    x.search = [data.search.value];
                    x.start = (data.start / data.length) + 1;

                    return JSON.stringify(x); // return JSON string
                },
                processing: true,
                //dataSrc: function (data) {
                //    return data.data;
                //},
                searchDelay: 350,

            }

        });
    });
</script>