﻿@model LPG.Models.MDashKPISetting

@{
    ViewBag.Title = "[[[Order Percustomer]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="content-wrapper py-3">
    <div class="page-header">
        <div>
            <span class="page-name">[[[Order Percustomer]]]</span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="table-responsive">
            <table class="table table-hover col-valign" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>[[[ID]]]</th>
                        <th>[[[Invoice Number]]]</th>
                        <th>[[[Order Date]]]</th>
                        <th>[[[Order Status]]]</th>
                        <th>[[[Quantity]]]</th>
                        <th>[[[Grant Total]]]</th>
                        <th>[[[Rating]]]</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/moment.min.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var CustomerId = "@ViewBag.ID";
        $('#dataTable').dataTable({
            "dom": '<"top"f>rt<"bottom"ilp><"clear">',
            "language": {
                "url": "/Content/datatables/indonesia.json"
            },
            "columnDefs": [
                { defaultContent: '-', targets: '_all' },
                {
                    data: 'OrdrID',
                    visible:false,
                    targets: 0
                },
                {
                    data: 'InvoiceNumber',
                    targets: 1
                },
                {
                    data: 'OrderDate',
                    targets: 2,
                    render: function (data, type, row) {
                        if (row.OrderDate) {
                            var d = /\/Date\((\d*)\)\//.exec(row.OrderDate);
                            date = (d) ? new Date(+d[1]) : value;
                            return moment(date).format('DD/MM/YYYY');
                        }
                        else {
                            return '-';
                        }
                    }
                },
                {
                    data: 'orderStatus',
                    targets: 3
                },
                {
                    data: 'Quantity',
                    targets: 4
                },
                {
                    data: 'GrandTotal',
                    targets: 5
                },
                {
                    data: 'Rating',
                    targets: 6
                }
            ],

            serverSide: true,
            ajax: {

                url: '/Dashboard/ListCustomerDetail/?id=' + CustomerId,
                type: "POST",
                dataType: 'json',
                async: true,
                contentType: 'application/json',
                data: function (data) {

                    var x = {};

                    x.draw = data.draw;
                    x.length = data.length;
                    x.search = [data.search.value];
                    x.start = (data.start / data.length)+1;

                    return JSON.stringify(x); // return JSON string
                },
                processing: true,
                //dataSrc: function (data) {
                //    return data.data;
                //},
                searchDelay: 350,

            }

        });
    });
</script>