﻿@model LPG.Models.LoginModel
@{
    ViewBag.Title = "[[[ForgotPassword]]]";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[[[Change Password]]] | [[[Bright Home Service]]]</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
</head>
<body>
    <div class="full-page">
        <div class="login-wrapper">
            <img src="~/Content/backups/logo.png" alt="[[[Bright Home Service]]]">
            <form method="post" action="#">
                <div class="form-group">
                    <label>[[[Kode Sandi dari email]]]</label>
                    @Html.TextBoxFor(model => model.Email, null, new { @class = "form-control", @required = "required", @placeholder = "example@lpg.com" })
                </div>
                @*<div class="form-group">
                        <label>[[[Sandi Baru]]]</label>
                        @Html.TextBoxFor(model => model.new_password, null, new { @class = "form-control password", @type = "password", @placeholder = "[[[Sandi Baru]]]", @required = "required", @maxlength = "6", @minpaswword = "6", @maxpassword = "12" })

                    </div>
                    <div class="form-group">
                        <label>[[[Konfirmasi Sandi Baru]]]</label>
                        @Html.TextBoxFor(model => model.confirm_password, null, new { @class = "form-control password", @type = "password", @placeholder = "[[[Konfirmasi Sandi Baru]]]", @required = "required", @maxlength = "6", @minpaswword = "6", @maxpassword = "12" })

                    </div>*@
                <div>
                    @*<button type="submit" class="btn btn-theme btn-block">[[[Perbaharui Sandi]]]</button>*@
                    <button type="submit" class="btn btn-theme btn-block">[[[Kirim Kata Sandi]]]</button>
                    <div style="color:#fff">@Model.ErrorMessage</div>
                    @*<button class="btn btn-theme btn-block" data-toggle="modal" data-target="#forgotpwd">[[[Perbaharui Sandi]]]</button>
                        <div style="color:red">@Model.ErrorMessage</div>
                        <div class="modal fade" id="forgotpwd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="table-div text-center">
                                            <div>
                                                <p>[[[Apakah Anda yakin untuk memperbaharui password baru?]]]</p>
                                                <button type="submit" class="btn btn-theme">[[[Ya]]]</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">[[[Batal]]]</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
            </form>
        </div>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        $(".password").on({
            keydown: function (e) {
                if (e.which === 32)
                    return false;
            },
            change: function () {
                this.value = this.value.replace(/\s/g, "");
            }
        });
    })
</script>
