﻿@model LPG.Models.UserRegistrtaionModel
@{
    ViewBag.Title = "[[[AddUser]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src='https://maps.google.com/maps/api/js?key=AIzaSyBBmB-t7GO4hVmBaxOIqT44JJK3OxnBS9s&sensor=false&libraries=places'></script>
<script src="@Url.Content("~/Content/Location/locationpicker.jquery.min.js")"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
<style>

    .mp-container .mp-innerwrap {
        display: block;
        position: relative;
    }

        .mp-container .mp-innerwrap input[type="text"] {
            display: block;
            width: 100%;
        }

        .mp-container .mp-innerwrap i {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            color: #ea117e;
            cursor: pointer;
            z-index: 100;
            font-size: 16px;
        }

    #us6-dialog .form-horizontal {
        max-width: 100% !important;
    }

    .modal-latt-wrap {
        padding-bottom: 15px;
    }

        .modal-latt-wrap .mlw-child {
            float: left;
            width: 50%;
            padding-right: 15px;
        }

            .modal-latt-wrap .mlw-child:last-child {
                padding-right: 0;
            }

            .modal-latt-wrap .mlw-child label {
                display: block;
                width: 100%;
            }

    .clr {
        clear: left;
    }

    .clearfix:after {
        content: " ";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
</style>
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[Form Registrasi]]]</span></div>
    </div>
    <div class="container-fluid">
        <p class="font-weight-bold">[[[Registrasi <span id="tab-name">Agen Perusahaan</span>]]]</p>
        <form action="/User/AddUser/" method="post" id="addUser" novalidate>
            <div class="screen-content">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="agen-perusahaan" data-toggle="tab" href="#agen-perusahaan-tab" role="tab" aria-controls="home" aria-expanded="true">[[[Agen Perusahaan]]]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="titik-distribusi" data-toggle="tab" href="#titik-distribusi-tab" role="tab" aria-controls="profile">[[[Titik Distribusi]]]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="agen-bos" data-toggle="tab" href="#agen-bos-tab" role="tab" aria-controls="profile">[[[Agen Bos]]]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="agen-admin" data-toggle="tab" href="#agen-admin-tab" role="tab" aria-controls="profile">[[[Agen Admin]]]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="driver" data-toggle="tab" href="#driver-tab" role="tab" aria-controls="profile">[[[Driver]]]</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="agen-perusahaan-tab" role="tabpanel" aria-labelledby="agen-perusahaan">
                        <div class="row">
                            <div class="sb-form mt-3 col-sm-4">
                                <div class="form-group">
                                    <label>[[[Sold to Number]]]</label>
                                    @Html.TextBoxFor(model => model.SoldTono, new { @class = "form-control soldno", @rows = "5", @maxlength = "48" })
                                    @Html.ValidationMessageFor(m => m.SoldTono, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>[[[Nama Perusahaan (PT)]]]</label>
                                    @Html.TextBoxFor(model => model.AgencyName, new { @class = "form-control", @rows = "5", @maxlength = "80" })
                                    @Html.ValidationMessageFor(m => m.AgencyName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>[[[Region]]]</label>
                                    @Html.DropDownListFor(m => m.RegionId, Model.RegionList, "-[[[Pilih Region]]]-", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.RegionId, "", new { @class = "text-danger" })
                                </div>
                                <div class="btns-container">
                                    <button class="btn btn-success" name="Cmd" value="btnAgency">[[[Save]]]</button>
                                    <button class="btn btn-default" onclick="location.href='/Company/ListCompany/';return false;">[[[Cancel]]]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="titik-distribusi-tab" role="tabpanel" aria-labelledby="titik-distribusi">
                        <div class="row">
                            <div class="sb-form mt-3 col-sm-4">
                                <div class="form-group">
                                    <label>[[[Nama Agen Perusahaan (PT)]]]</label>
                                    @Html.DropDownListFor(m => m.AgenDistAgencyId, Model.AgencyList, "-[[[Pilih Agen Perusahaan]]]-", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.AgenDistAgencyId, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>[[[Nama Titik Distribusi]]]</label>
                                    @Html.TextBoxFor(model => model.AgenDistributionName, new { @class = "form-control", @rows = "5", @maxlength = "48" })
                                </div>
                                <div class="form-group mp-container">
                                    <label>[[[Koordinat]]]</label>
                                    <span class="mp-innerwrap">
                                        <i class="fa fa-map-marker" aria-hidden="true" data-target="#us6-dialog" data-toggle="modal"></i>
                                        @Html.TextBoxFor(model => model.Lat, new { @class = "form-control mapLat", @rows = "5", @placeholder = "[[[Latitude]]]", @readonly = "readonly" })
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label>[[[Alamat]]]</label>
                                    @Html.TextAreaFor(model => model.AgenAddress, new { @class = "form-control", @rows = "5", @columns = "3", @maxlength = "150" })
                                </div>
                                @Html.HiddenFor(model => model.DistCityId, new {id="CityId"})
                                @Html.HiddenFor(model => model.DistCityName,new { id = "CityName" })
                                <div class="btns-container">
                                    <button class="btn btn-success" value="btnDistribution" name="Cmd">[[[Save]]]</button>
                                    <button class="btn btn-default" onclick="location.href='/Distribution/ListDistribution/';return false;">[[[Cancel]]]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="agen-bos-tab" role="tabpanel" aria-labelledby="agen-bos">
                        <div class="sb-form mt-3 row">
                            <div class="form-group col-sm-7">
                                <label>[[[Nama Owner]]]</label>
                                @Html.TextBoxFor(model => model.AgencyOwnername, new { @class = "form-control", @rows = "5", @maxlength = "80" })
                            </div>
                            <div class="w-100"></div>
                            <div class="repeater-wrapper w-100">
                                <div class="form-group clearfix repeater-field col-sm-7">
                                    <label>[[[Nama Perusahaan (PT)]]]</label>
                                    @Html.DropDownListFor(m => m.ABAgencyId, Model.AgencyList, "-[[[Pilih Agen Perusahaan]]]-", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ABAgencyId, "", new { @class = "text-danger" })
                                    <i class="fa fa-times fa-lg remove-btn" aria-hidden="true"></i>
                                    <button type="button" class="repeater-btn btn btn-success pull-right mt-2">[[[Add More]]]</button>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="form-group col-sm-6">
                                <label>[[[No Handphone Owner]]]</label>
                                <div class="clearfix"></div>
                                @Html.TextBoxFor(model => model.CountryCode, new { @class = "form-control", @readonly = "readonly", @style = "width:60px;float:left" })
                                @Html.TextBoxFor(model => model.AgencyBossMobile, new { @class = "form-control numeric mobile", @style = "width:270px;float:left", @maxlength = "15" })
                                @Html.ValidationMessageFor(model => model.AgencyBossMobile, "", new { @class = "text-danger" })
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-sm-6" style=" display:block">
                                <div class="form-group" style=" display:block">
                                    <label>[[[Id Email]]]</label>
                                    <div class="clearfix"></div>
                                    @Html.TextBoxFor(model => model.AgentBossEmail, new { @class = "form-control", @required = "required", @rows = "5", @maxlength = "80" })
                                    @Html.ValidationMessageFor(model => model.AgentBossEmail, null, new { @class = "text-danger" })
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="btns-container col-sm-12">
                                <button class="btn btn-success" value="btnAgentboss" name="Cmd">[[[Save]]]</button>
                                <button class="btn btn-default" onclick="location.href='/AgentBoss/ListAgentBoss/';return false;">[[[Cancel]]]</button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="agen-admin-tab" role="tabpanel" aria-labelledby="agen-admin">
                        <div>
                            <div class="sb-form mt-3 row">
                                <div class="form-group col-sm-6">
                                    <label>[[[Nama Admin]]]</label>
                                    @Html.TextBoxFor(model => model.AgenAdminName, new { @class = "form-control", @rows = "5", maxlength = "48" })
                                </div>
                                <div class="w-100"></div>
                                <div class="w-100">
                                    @*<div class="col-sm-12 repeater-field">*@
                                    <div class="col-sm-12 repeater-field">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>[[[Nama Perusahaan (PT)]]]</label>
                                                    @Html.DropDownListFor(m => m.AgenAdAgenId, Model.AgencyList, "-[[[Pilih Agen Perusahaan]]]-", new { @class = "form-control" , id = "ptAdminCbb" })
                                                    @Html.ValidationMessageFor(m => m.AgenAdAgenId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>[[[Nama titik Distribusi]]]</label>
                                                    @Html.DropDownListFor(m => m.AgentDistId, Model.DistributionList, "-[[[Pilih Distribusi]]]-", new { @class = "form-control" , id = "distAdminCbb" })
                                                    @Html.ValidationMessageFor(m => m.AgentDistId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <i class="fa fa-times fa-lg remove-btn" style="display:none" aria-hidden="true"></i>
                                        <button type="button" style="display:none" class="repeater-btn btn btn-success pull-right">[[[Add More]]]</button>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>[[[No Handphone Admin]]]</label>
                                    <div class="clearfix"></div>
                                    @Html.TextBoxFor(model => model.CountryCode, new { @class = "form-control", @readonly = "readonly", @style = "width:60px;float:left" })
                                    @Html.TextBoxFor(model => model.AgnAdminMObile, new { @class = "form-control numeric mobile", @style = "width:270px;float:left", @maxlength = "15" })
                                    @Html.ValidationMessageFor(model => model.AgnAdminMObile, "", new { @class = "text-danger" })
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-sm-6" style=" display:block">
                                    <div class="form-group" style=" display:block">
                                        <label>[[[Id Email]]]</label>
                                        <div class="clearfix"></div>
                                        @Html.TextBoxFor(model => model.AgentAdminEmail, new { @class = "form-control", @required = "required", @rows = "5", @maxlength = "80" })
                                        @Html.ValidationMessageFor(model => model.AgentAdminEmail, null, new { @class = "text-danger" })
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-sm-12 btns-container">
                                    <button class="btn btn-success" value="btnAgentAdmin" name="Cmd">[[[Save]]]</button>
                                    <button class="btn btn-default" onclick="location.href='/AgentAdmin/ListAgentAdmin/';return false;">[[[Cancel]]]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="driver-tab" role="tabpanel" aria-labelledby="driver">
                        <div class="row">
                            <div class="sb-form mt-3 col-sm-6">

                                <div id="singleEntry">
                                    <div class="form-group">
                                        <label>[[[Nama Driver]]]</label>
                                        @Html.TextBoxFor(model => model.AgenDriverName, new { @class = "form-control", @rows = "5", @maxlength = "80" })
                                    </div>
                                    <div class="form-group">
                                        <label>[[[Nama Perusahaan (PT)]]]</label>
                                        @Html.DropDownListFor(m => m.AgenDriverAgenId, Model.AgencyList, "-[[[Pilih Agen Perusahaan]]]-", new { @class = "form-control", id = "ptDriverCbb" })
                                        @Html.ValidationMessageFor(m => m.AgenDriverAgenId, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>[[[Nama Titik Distribusi]]]</label>
                                        @Html.DropDownListFor(m => m.AgenDriverDistId, Model.DistributionList, "-[[[Pilih Distribusi]]]-", new { @class = "form-control", id = "distDriverCbb" })
                                        @Html.ValidationMessageFor(m => m.AgenDriverDistId, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>[[[No Handphone Driver]]]</label>
                                        <div class="clearfix"></div>
                                        @Html.TextBoxFor(model => model.CountryCode, new { @class = "form-control", @readonly = "readonly", @style = "width:60px;float:left" })
                                        @Html.TextBoxFor(model => model.AgenDriverMobileNo, new { @class = "form-control numeric mobile", @style = "width:270px;float:left", @maxlength = "15" })
                                        @Html.ValidationMessageFor(model => model.AgenDriverMobileNo, "", new { @class = "text-danger" })
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="btns-container">
                                        <button class="btn btn-success" value="btnDriver" name="Cmd">[[[Save]]]</button>
                                        <button class="btn btn-default" onclick="location.href='/Driver/ListDriver/';return false;">[[[Cancel]]]</button>
                                    </div>
                                </div>
                                @*<div id="multipleEntry" style="display:none;">
                                        <div class="form-group">
                                            <label>[[[Nama Perusahaan (PT)]]]</label>
                                            @Html.DropDownListFor(m => m.AgenDriverAgenId, Model.AgencyList, "-[[[Pilih Agen Perusahaan]]]-", new { Name = string.Empty, @class = "form-control", @id = "cbbAgen" })
                                            @Html.ValidationMessageFor(m => m.AgenDriverAgenId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label>[[[Nama Titik Distribusi]]]</label>
                                            @Html.DropDownListFor(m => m.AgenDriverDistId, Model.DistributionList, "-[[[Pilih Distribusi]]]-", new { Name = string.Empty, @class = "form-control", @id = "cbbDistribusi" })
                                            @Html.ValidationMessageFor(m => m.AgenDriverDistId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label>[[[Nama Driver]]]</label>
                                            @Html.TextBoxFor(model => model.AgenDriverName, new { @class = "form-control", @rows = "5", @maxlength = "80", @id = "txtNama" })
                                        </div>
                                        <div class="form-group">
                                            <label>[[[No Handphone Driver]]]</label>
                                            <div class="clearfix"></div>
                                            @Html.TextBoxFor(model => model.CountryCode, new { @class = "form-control", @readonly = "readonly", @style = "width:60px;float:left" })
                                            @Html.TextBoxFor(model => model.AgenDriverMobileNo, new { @class = "form-control numeric mobile", @style = "width:270px;float:left", @maxlength = "15", @id = "txtHo" })
                                            @Html.ValidationMessageFor(model => model.AgenDriverMobileNo, "", new { @class = "text-danger" })
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-primary">Tambahkan Driver</button>
                                        </div>
                                        <ul class="list-group" style="margin:15px 0px;">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Cras justo odio
                                                <span class="badge badge-primary badge-pill">14</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Dapibus ac facilisis in
                                                <span class="badge badge-primary badge-pill">2</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Morbi leo risus
                                                <span class="badge badge-primary badge-pill">1</span>
                                            </li>
                                        </ul>
                                        <div class="btns-container">
                                            <button class="btn btn-success" type="button" value="btnDriver" name="Cmd">[[[Save]]]</button>
                                            <button class="btn btn-default" onclick="location.href='/Driver/ListDriver/';return false;">[[[Cancel]]]</button>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="errorMsg">@Model.ErrorMessage</div>
            </div>
            <input type="hidden" name="AgenDistAgencyId" value="@Model.AgenDistAgencyId" id="AgenDistAgencyId" />
            <input type="hidden" name="AgencyId" value="@Model.AgencyId" id="AgencyId" />
        </form>
    </div>
</div>
<script>

    //var multidriverds = [];

    //$('#btnDriver').click(function () {
    //    multidriverds.push({
    //        nama :
    //    })
    //});

    //$('#cbMultiple').on('change', function () {

    //    if (this.checked) {
    //        $('#multipleEntry').css('display', '');
    //        $('#singleEntry').css('display', 'none');
    //    }
    //    else {
    //        $('#multipleEntry').css('display', 'none');
    //        $('#singleEntry').css('display', '');
    //    }
    //})


    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var tabName = $(this).text();
        $('#tab-name').text(tabName);
    });
    $(document).on('click', '.repeater-btn', function () {
        var $self = $(this);
        $self.parent().after($self.parent().clone());
        $self.remove();
    });
    $(document).on('click', '.remove-btn', function () {
        var $self = $(this);
        $self.parent().remove();
    })
    $(document).on('submit', '#addUser', function (event) {
        var valid = true;
        var inputFields = $('.tab-pane.active input');
        var textarea = $('.tab-pane.active textarea');
        var dropdown = $('.tab-pane.active select');
        inputFields.each(function () {

            if (!$(this).val()) {
                valid = false;
                $('.tab-pane.active').addClass('was-validated');
                event.preventDefault();
            }
        });

        textarea.each(function () {

            if (!$(this).val()) {
                valid = false;
                $('.tab-pane.active').addClass('was-validated');
                event.preventDefault();
            }
        });
        dropdown.each(function () {

            if (!$(this).val()) {
                valid = false;
                $('.tab-pane.active').addClass('was-validated');
                event.preventDefault();
            }
        });
    });
    //function ValidateNumber(evt) {
    //    var charCode = (evt.which) ? evt.which : evt.keyCode;
    //    if (charCode != 46 && charCode > 31 && charCode != 190
    //        && (charCode < 48 || charCode > 57))
    //        return false;

    //    return true;

    //};

    //$('#SoldTono').keypress(function (event) {
    //    if (event.which != 8 && isNaN(String.fromCharCode(event.which))) {
    //        event.preventDefault();
    //    }
    //});


    $(document).ready(function () {


        $('.mobile').on('input propertychange paste', function (e) {
            var reg = /^0+/gi;
            if (this.value.match(reg)) {
                this.value = this.value.replace(reg, '');
            }
        });
        $(".numeric").keydown(function (event) {


            if (event.shiftKey == true) {
                event.preventDefault();
            }

            if ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190 || (event.ctrlKey && event.key === 'v')) {

            } else {
                event.preventDefault();
            }

            if ($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
                event.preventDefault();
            var reg = /^0+/gi;
            if (this.value.match(reg)) {
                this.value = this.value.replace(reg, '');
            }
        });

        $(".soldno").keydown(function (event) {


            if (event.shiftKey == true) {
                event.preventDefault();
            }

            if ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190 || (event.ctrlKey && event.key === 'v')) {

            } else {
                event.preventDefault();
            }

            if ($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
                event.preventDefault();
        });
    });
</script>
<div id="us6-dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">[[[Lokasi peta]]]</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label">[[[Lokasi]]]:</label>
                        <div">
                            <input type="text" class="form-control" id="us3-address" />
                    </div>
                </div>
                <div class="m-t-small modal-latt-wrap clearfix">
                    <div class="mlw-child">
                        <label class="p-r-small control-label">[[[Lintang]]]:</label>
                        <input type="text" class="form-control" id="us3-lat" />
                    </div>
                    <div class="mlw-child">
                        <label class="p-r-small control-label">[[[Garis bujur]]]:</label>
                        <input type="text" class="form-control" id="us3-lon" />
                    </div>
                </div>
                <div id="us3" style="width: 100%; height: 400px;"></div>
                <div class="clearfix">&nbsp;</div>
                <div class="clearfix"></div>
                <script>
                    $('#us3').locationpicker({
                        location: {
                            latitude: -6.1729643,
                            longitude: 106.8305693
                        },
                        radius: 300,
                        inputBinding: {
                            latitudeInput: $('#us3-lat'),
                            longitudeInput: $('#us3-lon'),
                            radiusInput: $('#us3-radius'),
                            locationNameInput: $('#us3-address')
                        },
                        enableAutocomplete: true,
                        markerIcon: '/Content/images/pin.png'
                    });
                    $('#us6-dialog').on('shown.bs.modal', function () {
                        $('#us3').locationpicker('autosize');
                    });
                </script>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">[[[Close]]]</button>
                <button id="btnMapSave" type="button" class="btn btn-primary">[[[Save changes]]]</button>
            </div>
        </div>
    </div>
</div>
<script>
                    $(function () {

                        var selTab = '@(ViewBag.SelTab ?? "0")';
                        $("#myTab li:eq("+selTab+") a").tab('show');

                        var input = document.getElementById("us3-address");
                        var autocomplete = new google.maps.places.Autocomplete(input);

                        //$('#us6-dialog').modal('show');
                        $(document).on('click', '#btnMapSave', function (event) {
                            var latLon = $("#us3-lat").val() + ',' + $("#us3-lon").val();
                            //alert(latLon);
                            $(".mapLat").val(latLon);

                            $.get('https://maps.googleapis.com/maps/api/geocode/json?latlng=' + latLon + '&key=AIzaSyCi0cz9Vqdcu49U-U09TB7kOvWSRCRt1wQ', function (result) {

                                if (result.status == 'OK') {

                                    if (result.results.length > 0) {

                                        var city = result.results.filter(function (e) { return e.types.filter(function (x) { return x == "administrative_area_level_2" }).length > 0 })[0].address_components.filter(function (e) { return e.types.filter(function (x) { return x == "administrative_area_level_2"; }).length > 0; })[0];
                                        $('#CityId').val(0);
                                        $('#CityName').val(city.long_name);
                                    }

                                }

                                $('#us6-dialog').modal('hide');

                            })

                            
                        });
                    });


                    $('#ptAdminCbb').change(function () {
                        if ($(this).val()) {

                            $.ajax({
                                type: "POST",
                                url: "/AgentAdmin/GetDist",
                                data: { agency: $(this).val() },
                                success: function (result) {
                                    $('#distAdminCbb').empty();
                                    $('#distAdminCbb').append('<option>-Pilih Distribusi-</option>');
                                    $.each(result, function (i, v) {
                                        $('#distAdminCbb').append('<option value="' + v.DistributionId + '" >' + v.DistributionPoint + '</option>');
                                    })
                                    //$('#distCbb').val(null);
                                }
                            })
                        }
                        else {
                            $('#distAdminCbb').val(null).change().html('');
                        }
                    });

                    $('#ptDriverCbb').change(function () {
                        if ($(this).val()) {

                            $.ajax({
                                type: "POST",
                                url: "/AgentAdmin/GetDist",
                                data: { agency: $(this).val() },
                                success: function (result) {
                                    $('#distDriverCbb').empty();
                                    $('#distDriverCbb').append('<option>-Pilih Distribusi-</option>');
                                    $.each(result, function (i, v) {
                                        $('#distDriverCbb').append('<option value="' + v.DistributionId + '" >' + v.DistributionPoint + '</option>');
                                    })
                                    //$('#distCbb').val(null);
                                }
                            })
                        }
                        else {
                            $('#distDriverCbb').val(null).change().html('');
                        }
                    });

</script>
<style>

    .pac-container {
        z-index: 10000 !important;
    }
</style>
