﻿@model LPG.Models.AgentBossModel
@{
    ViewBag.Title = "[[[ListAgentBoss]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[Daftar Agen]]]</span></div>
    </div>
    
    <div class="container-fluid">
        <p class="font-weight-bold">[[[Agen Bos]]]</p>
        <div class="table-responsive">
            <table class="table table-hover col-valign" id="dataTablex">
                <thead>
                    <tr>
                        <th>[[[Nama Owner]]]</th>
                        <th>[[[Nama Perusahaan]]]</th>
                        <th>[[[No HandPhone Admin]]]</th>
                        <th>[[[Email]]]</th>
                        <th>[[[Tidakan]]]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model.AgentBossList)
                    {
                        <tr>
                            <td>
                                <table width="100%" class="table-noborder">
                                    <tr>
                                        <td width="40"><div class="cust-checkbox"><input type="checkbox" id="@data.AgentBossId"><label for="@data.AgentBossId"></label></div></td>
                                        <td>@data.OwnerName</td>
                                    </tr>
                                </table>
                            </td>
                            <td>@data.CompanyName</td>
                            <td>@data.MobileNo</td>
                            <td>@data.AgentBossEmail</td>
                            <td>
                                <a href="#" onclick="location.href='/AgentBoss/AddAgentBoss/@data.AgentBossId';return false;" class="edit-link">[[[Edit]]]</a>
                                <a class="delete" id="@data.AgentBossId" href="#">[[[Delete]]]</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#dataTablex').dataTable({
            "dom": '<"top"Bf>rt<"bottom"ilp><"clear">',//'Blftrip',
            "buttons": [
                {
                    extend: 'excel',
                    text: 'Export Excel',
                    className: 'exportExcel btn-success margin-bottom-5',
                    filename: 'Daftar Agen Bos',
                    exportOptions: {
                        modifier: {
                            page: 'all',
                        },
                        columns: [0, 1, 2, 3]
                    }
                }
            ],
            "aaSorting": [],
            "pagingType": "full_numbers",
            "language": {
                "url": "/Content/datatables/indonesia.json"
            },
        });
    });
    $('a.delete').click(function () {
        if (!confirm("[[[Do you want to delete?]]]")) {
            return false;
        }
        var id = $(this).attr("id");
        $.ajax({
            url: '/AgentBoss/DeleteAgentBoss', type: "POST", dataType: "text",
            data: { id: id },
            success: function (data) {
                //window.location.href = '/SuperAdmin/ListSuperAdmin';
                window.location.reload(true);
                alert('[[[Deleted successfully]]]!');
            },
            error: function (xhr, status, error) {
                alert(xhr.responseText);
                alert(status);
                alert(error);
            }
        });
    });

</script>
