﻿@model List<LPG.Models.ProductModel>
@{
    ViewBag.Title = "[[[Index]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="content-wrapper py-3">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <h4>[[[Info Promo]]]</h4>
            </li>
        </ol>
        <div class="card mb-3">
            <div class="card-header">
                <strong>[[[Info Promo Terbaru]]]</strong>
                <button type="button" onclick="location.href='/BannerInfo/AddBanner/';return false;" class="btn btn-success pull-right"><i class="fa fa-plus "></i>[[[Tambah Promo Baru]]]</button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="table table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>[[[Name]]]</th>
                                <th>[[[Position]]]</th>
                                <th>[[[Office]]]</th>
                                <th>[[[Age]]]</th>
                                <th>[[[Start date]]]</th>
                                <th>[[[Salary]]]</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>[[[Name]]]</th>
                                <th>[[[Position]]]</th>
                                <th>[[[Office]]]</th>
                                <th>[[[Age]]]</th>
                                <th>[[[Start date]]]</th>
                                <th>[[[Salary]]]</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var data in Model)
                            {
                                <tr>
                                    <td>@data.ProductName</td>
                                    <td>@data.Position</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').dataTable({
            "aaSorting": [[1, "asc"]],
            "language": {
                "url": "/Content/datatables/indonesia.json"
            },
        });
    });
</script>
