﻿@model LPG.Models.ProductExchangeList
@using (Html.BeginCollectionItem("ExchangeProductLists"))
{
    <table width="100%">
        <tr>
            <td>
                <div class="row sb-form">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>[[[Ditukar dengan]]]</label>
                            @Html.TextBoxFor(model => model.exchange_with, null, new { @class = "form-control", @maxlength = "250", @required = "required", @placeholder = "" })
                            @Html.ValidationMessageFor(model => model.exchange_with, null, new { @class = "errorMsg" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>[[[Jumiah ditukar]]]</label>
                            @Html.TextBoxFor(model => model.exchange_quantity, null, new { @class = "form-control numeric", @maxlength = "4", @type = "number", @required = "required", @Value = (Model.exchange_quantity > 0 ? Model.exchange_quantity.ToString() : string.Empty), @placeholder = "" })
                            @Html.ValidationMessageFor(model => model.exchange_quantity, null, new { @class = "errorMsg" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>[[[Harga Normal]]]</label>
                            @Html.TextBoxFor(model => model.exchange_price, null, new { @class = "form-control numeric", @maxlength = "15", @required = "required", @Value = (Model.exchange_price > 0 ? Model.exchange_price.ToString() : string.Empty), @placeholder = "" })
                            @Html.ValidationMessageFor(model => model.exchange_price, null, new { @class = "errorMsg" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>[[[Harga Promo]]]</label>
                            @Html.TextBoxFor(model => model.exchange_promo_price, null, new { @class = "form-control numeric", @maxlength = "15", @placeholder = "" })
                            @Html.ValidationMessageFor(model => model.exchange_promo_price, null, new { @class = "errorMsg" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <a class="delete" id="@Model.exchanhe_id" href="#">[[[Remove]]]</a>
                        </div>
                    </div>
                    @*<input type="hidden" value="@Model.CreatedDate " name="CreatedDate" id="CreatedDate">
                        <input type="hidden" value="@Model.CreatedBy " name="CreatedBy" id="CreatedBy">
                        <input type="hidden" value="@Model.UpdatedBy " name="UpdatedBy" id="UpdatedBy">
                        <input type="hidden" value="@Model.UpdatedDate " name="UpdatedDate" id="UpdatedDate">*@
                </div>
            </td>
        </tr>
    </table>

}
<script type="text/javascript">
    $(document).ready(function () {
        $(".numeric").keydown(function (event) {


            if (event.shiftKey == true) {
                event.preventDefault();
            }

            if ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

            } else {
                event.preventDefault();
            }

            if ($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
                event.preventDefault();

        });

    });


    $("a.delete").click(function () {
        if (!confirm("[[[Do you want to remove?]]]")) {
            return false;
        }
        var id = $(this).attr("id");
        if (id != 0) {
            $.ajax({
                url: '/Product/DeleteProductExchange', type: "POST", dataType: "text",
                data: { id: id },
                success: function (data) {
                    window.location.reload(true);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                    alert(status);
                    alert(error);
                }
            });
        }
        else {
            var commentBlock = $(this).closest('table');
            commentBlock.remove();
            $("#delete").die("click");
        }

    });
</script>
