﻿@model LPG.Models.ProductModel
@{
    ViewBag.Title = "[[[AddProduct]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link href="~/Content/css/toastr.css" rel="stylesheet" />
<script src="~/Scripts/toastr.js"></script>
@Scripts.Render("~/ bundles / toastr")
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[Daftar Produk]]]</span></div>
    </div>
    <div class="container-fluid">
        @using (Html.BeginForm())
        {
            <p class="font-weight-bold">[[[Tambah Produk Baru]]]</p>
            <div class="screen-content">
                <div class="mb-15">
                    <strong>[[[Gambar Produk]]]</strong>
                    <div class="row mt-10">
                        <div class="col-sm-1">
                            <div class="form-group">
                                @if (Model.ProductImage == null)
                                {
                                    <img id="imgPreview" height="80" src="~/Content/backups/img-icon.png" />
                                }
                                else
                                {
                                    <img id="imgPreview" height="80" src="@Model.ProductImage" />
                                }
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 pt-10">
                            <label for="UploadImg" class="btn btn-primary">[[[Unggah Gambar Produk]]]</label>
                            <input type="file" class="btn btn-primary" id="UploadImg" />
                            <div class="info-text">[[[Ukuran file 250 x250 pixel, format file JPG atau PNG]]]</div>
                        </div>
                        <div class="col-md-5 col-sm-6" id="productImageErrorDiv" style="display:none">
                            <div class="alert alert-dismissible sb-alert" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                                <div>[[[Ukuran file gambar produk melebihi batas maksimal]]]</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-15">
                    <strong>[[[Gambar Produk Detail]]]</strong>
                    <div class="row mt-10">
                        <div class="col-sm-1">
                            <div class="form-group">
                                @if (Model.ProductImageDetails == null)
                                {
                                    <img id="imgPreviewDetails" height="80" src="~/Content/backups/img-icon.png" />
                                }
                                else
                                {
                                    <img id="imgPreviewDetails" height="80" src="@Model.ProductImageDetails" />
                                }
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 pt-10">
                            <label for="UploadImgDetails" class="btn btn-primary">[[[Unggah Gambar Produk Detail]]]</label>
                            <input type="file" class="btn btn-primary" id="UploadImgDetails" />
                            <div class="info-text">[[[Ukuran file 360x196 pixel, format file JPG atau PNG]]]</div>
                        </div>
                        <div class="col-md-5 col-sm-6" id="productImageDetailErrorDiv" style="display:none">
                            <div class="alert alert-dismissible sb-alert" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                                <div>[[[Ukuran file gambhar produk detail melebhi batas maksimal]]]</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-15 sb-form">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>[[[Nama Produk]]]</label>
                            @Html.TextBoxFor(model => model.ProductName, null, new { @class = "form-control", @required = "required", @maxlength = "150", @placeholder = "" })
                            <div id="ProductName_error" class="errorMsg"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>[[[Produk Code]]]</label>
                            @if (Model.ProdID == 0)
                            {
                                @Html.TextBoxFor(model => model.ProductCode, null, new { @class = "form-control", @required = "required", @maxlength = "25", @placeholder = "" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.ProductCode, null, new { @class = "form-control", @readonly = "readonly", @placeholder = "" })
                            }
                            <div id="ProductCode_error" class="errorMsg"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>[[[No Posisi]]]</label>
                            @Html.DropDownListFor(model => model.Position, new SelectList(ViewBag.vbPositionlist, "Text", "Value"), new { @class = "form-control", @placeholder = "[[[Enter Position]]]" })
                            @*@Html.TextBoxFor(model => model.Position, null, new { @class = "form-control numeric", @required = "required", @maxlength = "4", @Value = (Model.Position > 0 ? Model.Position.ToString() : string.Empty), @placeholder = "" })*@
                            <div id="Position_error" class="errorMsg"></div>
                        </div>
                    </div>
                </div>
                @*<strong>[[[Tabung dan Isi]]]</strong>
                    <div class="row mb-15 sb-form">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>[[[Harga Normal]]]</label>
                                @Html.TextBoxFor(model => model.TubePrice, null, new { @class = "form-control numeric", @required = "required", @maxlength = "15", @Value = (Model.TubePrice > 0 ? Model.TubePrice.ToString() : string.Empty), @placeholder = "" })
                                <div id="TubePrice_error" class="errorMsg"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>[[[Harga Promo]]]</label>
                                @Html.TextBoxFor(model => model.TubePromoPrice, null, new { @class = "form-control numeric", @maxlength = "15", @placeholder = "" })
                                <div id="TubePromoPrice_error" class="errorMsg"></div>
                            </div>
                        </div>
                        <div id="TubePrice_compare_error" class="errorMsg"></div>
                    </div>*@
                <strong>[[[Tabung dan Isi]]]</strong>
                <div class="row mb-15 sb-form">
                    <div class="col-sm-6">
                        <div class="form-group">
                                <label for="UploadExcel">[[[Unggah File Excel]]]</label>
                                <input type="file" class="btn btn-primary" id="UploadExcel" />
                            @*else
                            {
                                <label style="color:red">[[[File harga produk telah tersedia. Silahkan edit harga produk dari setiap kota melalui button berikut :]]]</label>
                                <button type="button" class="btn btn-primary" onclick="location.href='/Product/DetailProduct?productId=@Model.ProdID';return false;">[[[ Edit Harga Produk ]]]</button>

                            }*@
                        </div>
                        <div class="col-md-5 col-sm-6" id="productExcelErrorDiv" style="display:none">
                            <div class="alert alert-dismissible sb-alert" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                                <div>[[[Ukuran file gambar produk detail melebhi batas maksimal]]]</div>
                            </div>
                        </div>
                    </div>
                  
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label style="color:red">[[[*Format file excel untuk mengisikan data harga tabung]]]</label>
                                @if (Model.ProductFile == null)
    {
                            <button type="button" class="btn btn-white btn-sm" onclick="location.href='/Product/DownloadTemplate';return false;"><img src="~/Content/backups/excel-icon.png">[[[ < Download Template]]]</button>
}
else
{
                                    
                            <button type="button" class="btn btn-white btn-sm" onclick="location.href='/Product/DownloadTemplateEdit?productID=@Model.ProdID';return false;"><img src="~/Content/backups/excel-icon.png">[[[ < Download Template]]]</button>
}
                            </div>
                        </div>
                    <div id="TubePrice_compare_error" class="errorMsg"></div>
                </div>
                @*<strong>[[[Refill / Isi Ulang]]]</strong>
                    <div class="row mb-15 sb-form">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>[[[Harga Normal]]]</label>
                                @Html.TextBoxFor(model => model.RefillPrice, null, new { @class = "form-control numeric", @maxlength = "15", @Value = (Model.RefillPrice > 0 ? Model.RefillPrice.ToString() : string.Empty), @required = "required", @placeholder = "" })
                                <div id="RefillPrice_error" class="errorMsg"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>[[[Harga Promo]]]</label>
                                @Html.TextBoxFor(model => model.RefillPromoPrice, null, new { @class = "form-control numeric", @maxlength = "15", @placeholder = "" })
                                <div id="RefillPromoPrice_error" class="errorMsg"></div>
                            </div>
                        </div>
                        <div id="RefillPrice_compare_error" class="errorMsg"></div>
                    </div>*@
                <strong>[[[Tukar Tambah]]]</strong>
                <div id="new-Exchange">
                    @if (Model.ExchangeProductLists != null)
                    {
                        foreach (var excProduct in Model.ExchangeProductLists)
                        {
                            Html.RenderPartial("_ProductExchange", excProduct);
                        }
                    }
                </div>
                <div style="color:red">@Model.ErrorMessage</div>
                <div class="sb-form mt-2 mb-4">
                    <button type="button" id="addnewexchanfe" name="addnewexchanfe" class="btn btn-success">[[[Tambah Opsi Tukar Tambah]]]</button>
                </div>
                <strong>[[[Biaya Pengiriman]]]</strong>
                <div class="row sb-form">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>[[[Biaya Normal]]]</label>
                            @Html.TextBoxFor(model => model.ShippingPrice, null, new { @class = "form-control numeric", @maxlength = "9", @required = "required", @Value = (Model.ShippingPrice > 0 ? Model.ShippingPrice.ToString() : string.Empty), @placeholder = "" })
                            <div id="ShippingPrice_error" class="errorMsg"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>[[[Biaya Promo]]]</label>
                            @Html.TextBoxFor(model => model.ShippingPromoPrice, null, new { @class = "form-control numeric", @maxlength = "9", @placeholder = "" })
                            <div id="ShippingPromoPrice_error" class="errorMsg"></div>
                        </div>
                    </div>
                    <div id="ShippingPrice_compare_error" class="errorMsg"></div>
                </div>
                <input type="hidden" value="@Model.ProductImage" name="ProductImage" id="ProductImage">
                <input type="hidden" value="@Model.ProductImageDetails" name="ProductImageDetails" id="ProductImageDetails">
                <input type="hidden" value="@Model.ProductFile" name="ProductFile" id="ProductFile">
                <input type="hidden" value="@Model.PublishBit" name="PublishBit" id="PublishBit">
                <input type="hidden" value="@Model.ProdID " name="ProdID" id="ProdID">
                <input type="hidden" value="@Model.CreatedDate " name="CreatedDate" id="CreatedDate">
                <input type="hidden" value="@Model.CreatedBy " name="CreatedBy" id="CreatedBy">
                <input type="hidden" value="@Model.UpdatedBy " name="UpdatedBy" id="UpdatedBy">
                <input type="hidden" value="@Model.UpdatedDate " name="UpdatedDate" id="UpdatedDate">
                <div class="btns-container">
                    <button type="button" onclick="savePublish('publish')" class="btn btn-success">[[[Simpan publikasi]]]</button>
                    <button type="button" onclick="savePublish('unpublish')" class="btn btn-default">[[[Simpan tanpa publikasi]]]</button>
                </div>
            </div>
        }
    </div>
    <!-- /.container-fluid -->
</div>
<script>
    $('#addnewexchanfe').on('click', function () {

        $.ajax({
            url: '/Product/AddNewProductExchange',
            async: false,

            success: function (partialView) {

                $('#new-Exchange').append(partialView);
            },
            error: function (xhr) {
                console.log(xhr);

            }
        });
    });
    $(document).ready(function () {
        $(".numeric").keydown(function (event) {


            if (event.shiftKey == true) {
                event.preventDefault();
            }

            if ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

            } else {
                event.preventDefault();
            }

            if ($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
                event.preventDefault();

        });
        $("#UploadImg").change(function () {
            var data = new FormData();
            var files = $("#UploadImg").get(0).files;
            if (files.length > 0) {
                data.append("ProdImg", files[0]);
            }

            var extension = $("#UploadImg").val().split('.').pop().toUpperCase();
            if (extension != "PNG" && extension != "JPG" && extension != "GIF" && extension != "JPEG") {
                document.getElementById("productImageErrorDiv").style.display = "block";
            }
            else {
                document.getElementById("productImageErrorDiv").style.display = "none";
                $.ajax({
                    url: "/Product/UploadProdImage",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {
                        $("#ProductImage").val('' + response);
                        $("#imgPreview").attr('src', '' + response);
                    },
                    error: function (er) {
                        alert(er);
                    }

                });
            }



        });

        $("#UploadImgDetails").change(function () {
            var data = new FormData();
            var files = $("#UploadImgDetails").get(0).files;
            if (files.length > 0) {
                data.append("ProdDetImg", files[0]);
            }

            var extension = $("#UploadImgDetails").val().split('.').pop().toUpperCase();
            if (extension != "PNG" && extension != "JPG" && extension != "GIF" && extension != "JPEG") {
                document.getElementById("productImageDetailErrorDiv").style.display = "block";
            }
            else {
                document.getElementById("productImageDetailErrorDiv").style.display = "none";
                $.ajax({
                    url: "/Product/UploadProdDetImage",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {
                        $("#ProductImageDetails").val('' + response);
                        $("#imgPreviewDetails").attr('src', '' + response);
                    },
                    error: function (er) {
                        alert(er);
                    }

                });
            }


        });

        $("#UploadExcel").change(function () {
            var data = new FormData();
            var files = $("#UploadExcel").get(0).files;
            if (files.length > 0) {
                data.append("ProdExcel", files[0]);
            }
            var extension = $("#UploadExcel").val().split('.').pop().toUpperCase();
            if (extension != "XLS" && extension != "XLSX") {
                document.getElementById("productExcelErrorDiv").style.display = "block";
            }
            else {
                document.getElementById("productExcelErrorDiv").style.display = "none";
                $.ajax({
                    url: "/Product/UploadExcel",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {
                        $("#ProductFile").val('' + response);
                        console.log("#ProductFile");
                    },
                    error: function (er) {
                        alert(er);
                    }

                });
            }


        });

    });

    var _URL = window.URL || window.webkitURL;
    function checkform() {
        var error = "";
        var bit = 0;
        var name = document.getElementById("ProductName");
        if (name.value == "") {
            error = " [[[Enter Product Name]]] ";
            document.getElementById("ProductName_error").innerHTML = error;
            bit = 1;
        }
        else {
            document.getElementById("ProductName_error").innerHTML = "";
        }
        var code = document.getElementById("ProductCode");
        if (code.value == "") {
            error = " [[[Enter Product Code]]] ";
            document.getElementById("ProductCode_error").innerHTML = error;
            bit = 1;
        }
        else {
            document.getElementById("ProductCode_error").innerHTML = "";
        }
        //var position = document.getElementById("Position");
        //if (position.value == "0" || position.value == "") {
        //    error = " [[[Enter Position]]] ";
        //    document.getElementById("Position_error").innerHTML = error;
        //    bit = 1;
        //}
        //else {
        //    document.getElementById("Position_error").innerHTML = "";
        //}
        //var tubePrice = document.getElementById("TubePrice");
        //var TubePromoPrice = document.getElementById("TubePromoPrice");
        //if (tubePrice.value == "" || tubePrice.value == "0") {
        //    error = " [[[Enter Harga Normal]]] ";
        //    document.getElementById("TubePrice_error").innerHTML = error;
        //    bit = 1;
        //}
        //else {
        //    document.getElementById("TubePrice_error").innerHTML = "";
        //    if (tubePrice.value != "" && tubePrice.value != "0" && TubePromoPrice.value != "" && TubePromoPrice.value != "0") {
        //        if (parseFloat(tubePrice.value) < parseFloat(TubePromoPrice.value)) {
        //            error = " [[[Tube Promo price must be less than or equals to the Tube price]]] ";
        //            document.getElementById("TubePrice_compare_error").innerHTML = error;
        //            bit = 1;
        //        }
        //        else {
        //            document.getElementById("TubePrice_compare_error").innerHTML = "";
        //        }
        //    }

        //}


        //if (TubePromoPrice.value == "") {
        //    error = " Enter Tube Promo Price. ";
        //    document.getElementById("TubePromoPrice_error").innerHTML = error;
        //    bit = 1;
        //}
        //else {
        //    document.getElementById("TubePromoPrice_error").innerHTML = "";
        //}


        //var refillPrice = document.getElementById("RefillPrice");
        //var RefillPromoPrice = document.getElementById("RefillPromoPrice");
        //if (refillPrice.value == "" || refillPrice.value == "0") {
        //    error = " [[[Enter Refill Price]]] ";
        //    document.getElementById("RefillPrice_error").innerHTML = error;
        //    bit = 1;
        //}
        //else {
        //    document.getElementById("RefillPrice_error").innerHTML = "";
        //    if (refillPrice.value != "" && refillPrice.value != "0" && RefillPromoPrice.value != "" && RefillPromoPrice.value != "0") {
        //        if (parseFloat(refillPrice.value) < parseFloat(RefillPromoPrice.value)) {
        //            error = " [[[Refill Promo price must be less than or equals to the Refill price]]] ";
        //            document.getElementById("RefillPrice_compare_error").innerHTML = error;
        //            bit = 1;
        //        }
        //        else {
        //            document.getElementById("RefillPrice_compare_error").innerHTML = "";
        //        }
        //    }

        //}


        //if (RefillPromoPrice.value == "") {
        //    error = " Enter Refill Promo Price. ";
        //    document.getElementById("RefillPromoPrice_error").innerHTML = error;
        //    bit = 1;
        //}
        //else {
        //    document.getElementById("RefillPromoPrice_error").innerHTML = "";
        //}


        var shippingPrice = document.getElementById("ShippingPrice");
        var ShippingPromoPrice = document.getElementById("ShippingPromoPrice");
        if (shippingPrice.value == "0" || shippingPrice.value == "") {
            error = " [[[Enter Shipping Price]]] ";
            document.getElementById("ShippingPrice_error").innerHTML = error;
            bit = 1;
        }
        else {
            document.getElementById("ShippingPrice_error").innerHTML = "";
            if (ShippingPromoPrice.value != "0" && ShippingPromoPrice.value != "") {
                if (parseFloat(shippingPrice.value) < parseFloat(ShippingPromoPrice.value)) {
                    error = " [[[Shipping Promo price must be less than or equals to the Shipping price]]] ";
                    document.getElementById("ShippingPrice_compare_error").innerHTML = error;
                    bit = 1;
                }
                else {
                    document.getElementById("ShippingPrice_compare_error").innerHTML = "";
                }
            }

        }

        if (ShippingPromoPrice.value == "0" || ShippingPromoPrice.value == "") {
            error = " Enter Shipping Promo Price. ";
            document.getElementById("ShippingPromoPrice_error").innerHTML = error;
            bit = 1;
        }
        else {
            document.getElementById("ShippingPromoPrice_error").innerHTML = "";
        }

        if (bit == 0) {
            return true;
        }
        else {
            return false;
        }
    }

    function savePublish(publishedBit) {

        var chkFrm = checkform();
        console.log("cek");
        if (chkFrm) {

            $("#PublishBit").val(publishedBit);
            $("form").submit();

        }
    }



</script>
@*<script type="text/javascript">

        $("a.delete").click(function () {
            if (!confirm("Do you want to remove")) {
                return false;
            }
            var id = $(this).attr("id");
            if (id != 0) {
                $.ajax({
                    url: '/Product/DeleteProductExchange', type: "POST", dataType: "text",
                    data: { id: id },
                    success: function (data) {
                        window.location.reload(true);
                    },
                    error: function (xhr, status, error) {
                        alert(xhr.responseText);
                        alert(status);
                        alert(error);
                    }
                });
            }
            else {
                var commentBlock = $(this).closest('table');
                //commentBlock.hide('slow');
                commentBlock.remove();
            }

        });
    </script>*@
<style>
    .errorMsg {
        display: block;
        /*width: 51%;
        margin: 0 0 0.5em 49%;*/
        color: #f00;
        background-color: #ffa
    }
</style>
