﻿@model LPG.Models.DetailPriceModel
@{
    ViewBag.Title = "[[[Edit Price]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link href="~/Content/css/toastr.css" rel="stylesheet" />
<script src="~/Scripts/toastr.js"></script>
@Scripts.Render("~/ bundles / toastr")
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[Edit Harga]]] </span></div>
    </div>
    <div class="container-fluid">
        @using (Html.BeginForm())
        {
        <div class="screen-content">
            <div class="row mb-15 sb-form">
                <div class="col-sm-12">
                    <div class="form-group" style="text-align:center">
                        <img src="@Model.ProductImg" style="height:100px" />
                        <h5>@Model.ProductName</h5>
                        <hr />
                        <h5 style="text-align:center">@Model.CityName</h5>
                    </div>
                </div>
            </div>

            <strong>[[[Tabung dan Isi]]]</strong>
            <div class="row mb-15 sb-form">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>[[[Harga Normal]]]</label>
                        @Html.TextBoxFor(model => model.TubeNormalPrice, null, new { @class = "form-control numeric", @maxlength = "15", @placeholder = "" })
                        <div id="TubePrice_error" class="errorMsg"></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>[[[Harga Promo]]]</label>
                        @Html.TextBoxFor(model => model.TubePromoPrice, null, new { @class = "form-control numeric", @maxlength = "15", @placeholder = "" })
                        <div id="TubePromoPrice_error" class="errorMsg"></div>
                    </div>
                </div>
            </div>
            <strong>[[[Refill / Isi Ulang]]]</strong>
            <div class="row mb-15 sb-form">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>[[[Harga Normal]]]</label>
                        @Html.TextBoxFor(model => model.RefillNormalPrice, null, new { @class = "form-control numeric", @maxlength = "15", @placeholder = "" })
                        <div id="RefillPrice_error" class="errorMsg"></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>[[[Harga Promo]]]</label>
                        @Html.TextBoxFor(model => model.RefillPromoPrice, null, new { @class = "form-control numeric", @maxlength = "15", @placeholder = "" })
                        <div id="RefillPromoPrice_error" class="errorMsg"></div>
                    </div>
                </div>
                
            </div>
            <div class="btns-container">
                <button type="submit" class="btn btn-success">[[[Simpan publikasi]]]</button>
                <button type="button" onclick="location.href='/Product/DetailProduct?productId=@Model.ProductID'"class="btn btn-default">[[[Simpan tanpa publikasi]]]</button>
            </div>
        </div>
        }
    </div>
    <!-- /.container-fluid -->
</div>
<script>
    $(document).ready(function () {
        $(".numeric").keydown(function (event) {


            if (event.shiftKey == true) {
                event.preventDefault();
            }

            if ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

            } else {
                event.preventDefault();
            }

            if ($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
                event.preventDefault();

        });
    });

</script>

<style>
    .errorMsg {
        display: block;
        /*width: 51%;
        margin: 0 0 0.5em 49%;*/
        color: #f00;
        background-color: #ffa
    }
</style>
