﻿@model List<LPG.Models.ProductModel>
@{
    ViewBag.Title = "[[[ProductList]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link href="~/Content/css/toastr.css" rel="stylesheet" />
<script src="~/Scripts/toastr.js"></script>
@Scripts.Render("~/ bundles / toastr")
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[Daftar Produk]]]</span></div>
        <div><button type="button" onclick="location.href='/Product/AddProduct/';return false;" class="btn btn-success">[[[Tambah Produk Baru]]]</button></div>
    </div>
    <div class="container-fluid">
        <p class="font-weight-bold">[[[Daftar Produk Terbaru]]]</p>
        <div class="table-responsive">
            <table class="table table-hover col-valign" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>[[[Nama Produk]]]</th>
                        <th>[[[Posisi]]]</th>
                        <th>[[[Status]]]</th>
                        <th>[[[Tindakan]]]</th>
                        <th>[[[Tindakan Terakhir Oleh]]]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model)
                    {
                        <tr>
                            <td>
                                <table width="100%" class="table-noborder">
                                    <tr>
                                        <td width="40"><div class="cust-checkbox"><input type="checkbox" id="@data.ProdID"><label for="@data.ProdID"></label></div></td>
                                        <td width="60"><img src="@data.ProductImage" height="40" /></td>
                                        <td><span class="message">@data.ProductName</span></td>
                                    </tr>
                                </table>
                            </td>
                            <td>@data.Position</td>
                            <td>
                                @if (@data.Published == true)
                                {<span>[[[Publish]]]</span> }
                                else
                                { <span>[[[Unpublish]]]</span>}
                            </td>
                            <td>
                                <a href="#" class="Edit" onclick="location.href='/Product/AddProduct?productId=@data.ProdID';return false;">[[[Edit]]]</a>
                                <a class="delete" id="@data.ProdID" href="#">[[[Delete]]]</a>
                                <a href="#" onclick="location.href='/Product/DetailProduct?productId=@data.ProdID';return false;" style="margin-left:25px">Detail Harga</a>
                            </td>
                            <td>
                                @data.CreatedDate.ToString("dd/MM/yyyy HH:mm")
                                <br />
                                @data.UserName
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    //$('#dataTable').dataTable({
    // "aaSorting": [[1, "asc"]]
    //});
    $('a.delete').click(function () {
        if (!confirm("[[[Apakah Anda ingin menghapus]]]")) {
            return false;
        }
        var id = $(this).attr("id");
        $.ajax({
            url: '/Product/DeleteProduct', type: "POST", dataType: "text",
            data: { id: id },
            success: function (data) {
                window.location.reload(true);
                alert('[[[Berhasil Delete!]]]');
            },
            error: function (xhr, status, error) {
                alert(xhr.responseText);
                alert(status);
                alert(error);
            }
        });
    });
    $(document).ready(function () {
        $('#dataTable').dataTable({
            "aaSorting": [[3, "asc"]],
            "pagingType": "full_numbers",
            "language": {
                "url": "/Content/datatables/indonesia.json"
            },
        });
    });
</script>
