﻿@model LPG.Models.CustomerModel
@{
    ViewBag.Title = "[[[ListCustomer]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<style>
    .overlaywait {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9000;
        background-color: rgba(0, 0, 102,0.5);
        font-size:larger;
        font-weight:bolder;
        text-align: center;
        padding-top: 30vh;
        color: #fff;
        animation: blink normal 1.5s infinite ease-in-out;
    }

    @@keyframes blink {
        0% {
            color: rgba(255,255,255,1)
        }

        50% {
            color: rgba(255,255,255,0.5)
        }

        100% {
            color: rgba(255,255,255,1)
        }
    }

    .custid{
        visibility:hidden;
    }
</style>
@*<div class="overlaywait">
    <div>Memuat Data...</div>
</div>*@
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[Pelanggan]]]</span></div>
    </div>
    <div class="container-fluid">
        <p class="font-weight-bold">[[[Daftar Nama Pelanggan]]]</p>
        <div class="row" style="margin-bottom:10px;">
            <div class="col-md-12">
                @using (Html.BeginForm("Export", "Customer", FormMethod.Post))
            {
                <button type="submit" class="btn btn-success btn-sm">[[[Export Excel]]]</button>
        }
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover col-valign" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>[[[ID]]]</th>
                        <th>[[[Nama Pelanggan]]]</th>
                        <th>[[[Alamat Utama]]]</th>
                        <th>[[[Kota/Kabupaten]]]</th>
                        <th>[[[Kode Pos]]]</th>
                        <th>[[[No HandPhone]]]</th>
                        <th>[[[Tindakan]]]</th>
                    </tr>
                </thead>
                <tbody>
                    @*foreach (var data in Model.CustomerList)
                        {
                            <tr>
                                <td  class="custid">@data.CustomerId</td>
                                <td data-title="CustomerId">
                                    <table width="100%" class="table-noborder">
                                        <tr>
                                            <td width="40"><div class="cust-checkbox"><input type="checkbox" id="@data.CustomerId"><label for="@data.CustomerId"></label></div></td>
                                            <td>@data.Name</td>
                                        </tr>
                                    </table>
                                </td>
                                <td data-title="Address">@data.Address</td>
                                <td data-title="District">@data.Region</td>
                                <td data-title="Code">@data.Code</td>
                                <td data-target="MobileNo">@data.MobileNo</td>
                                <td>
                                    <a data-toggle="modal" data-target="#customerDetails" class="getCustomerDetail" id="view" onclick="getCustomerDetail(@data.CustomerId);" data-id="@data.CustomerId">Melihat</a>
                                    @Html.ActionLink("Delete", "deleteCustomer", null, new { id = data.CustomerId, @class = "deleteBtn" }, new { onclick = "return confirm('[[[Apakah Anda ingin menghapus?]]]');", @class = "delete" })
                                </td>
                            </tr>
                        }
                    </tbody>*@
            </table>
        </div>
    </div>
</div>
<!--partial Load-->
<div id="customerDetailContent">
    <div id="customerDetails" class="modal fade" role="dialog" aria-hidden="true" tabindex="-1">
        @Html.Partial("CustomerPartial")
    </div>
</div>
<script type="text/javascript">
    function getCustomerDetail(CustomerId) {
        $.ajax({
            type: "GET",
            data: { id: CustomerId },
            url: '@Url.Action("CustomerDetail", "Customer")',
            success: function (result) {
                $('#customerDetails').html(result);
                $('#customerDetails').modal('show');
            },
            error: function (result) {
            }
        });
    }
    $(document).ready(function () {
        $('.overlaywait').css('display', 'none');

        $('#dataTable').dataTable({
            "dom": '<"top"f>rt<"bottom"ilp><"clear">',
            "language": {
                "url": "/Content/datatables/indonesia.json"
            },
            "columnDefs": [
                { defaultContent: '-', targets: '_all' },
                {
                    data: 'CustomerId',
                    visible:false,
                    targets: 0
                },
                {
                    data: 'Name',
                    targets: 1
                },
                {
                    data: 'Address',
                    targets: 2
                },
                {
                    data: 'Region',
                    targets: 3
                },
                {
                    data: 'Code',
                    targets: 4
                },
                {
                    data: 'MobileNo',
                    targets: 5
                },
                {
                    data: 'CustomerId',
                    targets: 6,
                    render: function (data, type, row) {
                        var res = '<a data-toggle="modal" data-target="#customerDetails" class="getCustomerDetail" id="view" onclick="getCustomerDetail(' + row.CustomerId + ');" data-id="' + row.CustomerId + '">Melihat</a>';
                        res += '<br/><a href="/Customer/deleteCustomer/' + row.CustomerId + '" class="deleteBtn delete" onclick="return confirm(\'[[[Apakah Anda ingin menghapus?]]]\');">Delete</a>';

                        return res;
                    }
                }
            ],
            serverSide: true,
            ajax: {

                url: '/Customer/ListCustomer',
                type: "POST",
                dataType: 'json',
                async: true,
                contentType: 'application/json',
                data: function (data) {

                    var x = {};

                    x.draw = data.draw;
                    x.length = data.length;
                    x.search = [data.search.value];
                    x.start = (data.start / data.length)+1;

                    return JSON.stringify(x); // return JSON string
                },
                processing: true,
                //dataSrc: function (data) {
                //    return data.data;
                //},
                searchDelay: 350,

            }

        });
    });
</script>
<!--partial Loading-->
