﻿
@{
    ViewBag.Title = "[[[Index]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="content-wrapper py-3">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <h4>[[[Error]]]</h4>
            </li>
        </ol>
        <div class="card mb-3">
            @Html.Raw(ViewBag.ErrorMessage ?? string.Empty)
        </div>
    </div>
</div>
