﻿@model LPG.Models.ReminderModel
@{
    ViewBag.Title = "[[[AddBanner]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[Reminder]]]</span></div>
    </div>
    <div class="container-fluid">
        <p class="font-weight-bold">[[[Reminder]]]</p>
        <form id="homebanner-form" method="post">
            <div class="screen-content">
                <div class="row mt-10">
                    <div class="col-sm-1">
                        <div class="form-group">
                            @if (Model.BannerImage == null)
                            {
                                <img id="imgPreview" class="clsimgPreview" height="80" src="~/Content/backups/img-icon.png" width="80" />
                            }
                            else
                            {
                                <img id="imgPreview" class="clsimgPreview" height="80" src="@Model.BannerImage" width="80" />
                            }
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 pt-10">
                        <label for="UploadImg" class="btn btn-primary">[[[Unggah Gambar Kontak]]]</label>
                        <input type="file" class="btn btn-primary" id="UploadImg" />
                        <div class="info-text">[[[Ukuran file 1000x1000 pixel, format file JPG atau PNG]]]</div>
                    </div>
                    <div class="col-md-5 col-sm-6" style="display:none">
                        <div class="alert alert-dismissible sb-alert" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                            <div>[[[Ukuran file gambhar produk melebhi batas maksimal]]]</div>
                        </div>
                    </div>
                </div>
                <div class="row mb-15 sb-form">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>[[[Nama Penerima]]]</label>
                            <select id="UserType" name="UserType" class="form-control select2" style="width: 100%;">
                                @if (Model.UserType == true)
                                {
                                    <option selected value="true">[[[Driver]]]</option>
                                    <option value="false">[[[Konsumen]]]</option>
                                }
                                else
                                {
                                    <option value="true">[[[Driver]]]</option>
                                    <option selected value="false">[[[Konsumen]]]</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mb-15 sb-form">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>[[[Deskripsi]]]</label>
                            <textarea id="Description" class="form-control" rows="8" name="Description">@Model.Description</textarea>
                            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <input type="hidden" value="@Model.ReminderId" name="ReminderId" id="ReminderId">
                <input type="hidden" value="@Model.BannerImage" name="BannerImage" id="BannerImage">
                <div class="btns-container">
                    <button class="btn btn-success" value="btnSaveAndPublish" name="Cmd">[[[Simpan & publikasikan]]]</button>
                    <button class="btn btn-default" value="btnSaveUnpublish" name="Cmd">[[[Simpan & batalkan publikasi]]]</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /.container-fluid -->
<script>
    $(document).ready(function () {



        $('#btnSaveAndPublish').bind("click", function () {
            var imgVal = $('#UploadImg').val();
            if (imgVal == '') {
                alert("[[[Empty input file]]]");

            }
            return false;

        });





        $("#UploadImg").change(function () {

            var _URL = window.URL || window.webkitURL;

            var data = new FormData();
            var files = $("#UploadImg").get(0).files;

            if (files.length > 0) {

                var img = new Image();

                img.onload = function () {

                    if (img.width < 1000 || img.height < 1000) {
                        alert("[[[Ukuran gambar minimal 1000x1000 pixels.\nGambar yang anda upload ]]]" + img.width + "x" + img.height + "[[[ pixels]]].");
                        return;
                    }


                    data.append("MyImages", files[0]);

                    $.ajax({
                        url: "/Reminder/UploadFile",
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: data,
                        success: function (response) {
                            $("#BannerImage").val('/extfiles/reminder/' + response);
                            $("#imgPreview").attr('src', '/extfiles/reminder/' + response);
                        },
                        error: function (er) {
                            alert(er);
                        }

                    });
                };

                img.src = _URL.createObjectURL(files[0]);

            }


        });
    });





</script>
