﻿@model LPG.Models.ReminderModel
@{
    ViewBag.Title = "[[[ListReminder]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[Reminder]]]</span></div>
        <div><button type="button" onclick="location.href='/Reminder/AddReminder/';return false;" class="btn btn-success">[[[Buat Reminder Baru]]]</button></div>
    </div>
    
    <div class="container-fluid">
        <p class="font-weight-bold">[[[Daftar Reminder]]]</p>
        <div class="table-responsive">
            <table class="table table-hover col-valign" id="dataTablex" cellspacing="0">
                <thead>
                    <tr>
                        <th>[[[Nama Reminder]]]</th>
                        <th>[[[Deskripsi]]]</th>
                        <th>[[[Penerima]]]</th>
                        <th>[[[Status]]]</th>
                        <th>[[[Tindakan Terakhir Oleh]]]</th>
                        <th>[[[Tindakan]]]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model.ReminderList)
                    {
                        <tr>
                            <td>
                                <table width="100%" class="table-noborder">
                                    <tr>
                                        <td width="40"><div class="cust-checkbox"><input type="checkbox" id="@data.ReminderId"><label for="@data.ReminderId"></label></div></td>
                                        <td><img src="@data.BannerImage" width="80" height="80" /></td>
                                    </tr>
                                </table>
                            </td>
                            <td>@data.Description</td>
                            <td>@(data.UserType == true ? "[[[Driver]]]" : "[[[Konsumen]]]")</td>
                            <td>@(data.IsActive == true ? "[[[Publish]]]" : "[[[Unpublish]]]")</td>
                            <td>@data.LastModifiedDate.ToString("dd/MM/yyyy, hh:mm")<br /><span>@data.UpdatedUser</span></td>
                            <td>
                                <a href="#" class="edit-link" onclick="location.href='/Reminder/AddReminder/@data.ReminderId';return false;">Edit</a>
                                @*<a href="#" class="delete" onclick="location.href='/Reminder/deleteReminder/@data.ReminderId';return false;">Delete</a>*@
                                @Html.ActionLink("[[[Delete]]]", "deleteReminder", new { id = data.ReminderId }, new { onclick = "return confirm('[[[Apakah Anda ingin menghapus?]]]');", @class = "delete" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#dataTablex').dataTable({
            "dom": '<"top"Bf>rt<"bottom"ilp><"clear">',//'Blftrip',
            "buttons": [
                {
                    extend: 'excel',
                    text: 'Export Excel',
                    className: 'exportExcel btn-success margin-bottom-5',
                    filename: 'Daftar Reminder',
                    exportOptions: {
                        modifier: {
                            page: 'all',
                        },
                        columns:[0,1,2,3,4]
                    }
                }
            ],
            "aaSorting": [],
            "pagingType": "full_numbers",
            "language": {
                "url": "/Content/datatables/indonesia.json"
            },
        });
    });
</script>
