﻿@model LPG.Models.AgentAdminModel
@{
    ViewBag.Title = "[[[AddAgentAdmin]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[Admin Agen]]]</span></div>
    </div>
    <div class="container-fluid">
        <p class="font-weight-bold">[[[Admin Agen]]]</p>
        <div class="screen-content">
            <form class="sb-form" method="post" id="formadmin" novalidate action="#">
                <div class="row mb-15">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>[[[Nama Admin]]]</label>
                            @Html.TextBoxFor(model => model.AdminName, new { @class = "form-control", @rows = "5", required = "required", @maxlength = "48" })
                        </div>
                    </div>
                </div>
                <div class="row mb-15">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>[[[Nama Perusahaan]]]</label>
                            @Html.DropDownListFor(m => m.AgenadminAgenId, Model.agencyAList, "-[[[Pilih Agen Perusahaan]]]-", new { @class = "form-control", required = "required", id="ptCbb" })
                        </div>
                    </div>
                </div>
                <div class="row mb-15">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>[[[Nama Titik Distribusi]]]</label>
                            @Html.DropDownListFor(m => m.AgenadminDistId, Model.agencyDList, "-[[[Pilih Distribusi]]]-", new { @class = "form-control", required = "required",id="distCbb" })
                        </div>
                    </div>
                </div>
                <div class="row mb-15">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>[[[No HandPhone Admin]]]</label>
                            <div class="clearfix"></div>
                            @Html.TextBoxFor(model => model.CountryCode, new { @class = "form-control", @readonly = "readonly", @style = "width:60px;float:left" })
                            @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control numeric mobile", @rows = "5", @style = "width:270px;float:left", required = "required", @maxlength = "15" })
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="row mb-15">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>[[[Id Email]]]</label>
                            <div class="clearfix"></div>
                            @Html.TextBoxFor(model => model.email, new { @class = "form-control", @rows = "5", required = "required", @maxlength = "64" })
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="row mb-15">
                    <div class="col-sm-6">
                        <div class="btns-container">
                            <button class="btn btn-success" type="submit">[[[Save]]]</button>
                            <button class="btn btn-default" onclick="location.href='/AgentAdmin/ListAgentAdmin/';return false;">[[[Cancel]]]</button>
                        </div>
                    </div>
                </div>
                <div class="errorMsg">@Model.errorMessage</div>
                <input type="hidden" value="@Model.AgentId" name="AgentId" id="AgentId">
            </form>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<script>
    $(document).on('submit', '#formadmin', function (event) {
        var valid = true;
        var inputFields = $('#formadmin input');
        var dropdown = $('#formadmin select');
        inputFields.each(function () {

            if (!$(this).val()) {
                valid = false;
                $('#formadmin').addClass('was-validated');
                $('.errorMsg').text('[[[Please enter all required fields]]]');
                event.preventDefault();
            }
        });

        dropdown.each(function () {

            if (!$(this).val()) {
                valid = false;
                $('#formadmin').addClass('was-validated');
                $('.errorMsg').text('[[[Please enter all required fields]]]');
                event.preventDefault();
            }
        });

    });
    //function ValidateNumber(evt) {
    //    var charCode = (evt.which) ? evt.which : evt.keyCode;
    //    if (charCode != 46 && charCode > 31 && charCode != 190
    //        && (charCode < 48 || charCode > 57))
    //        return false;

    //    return true;

    //};

    $('#ptCbb').change(function () {
        if ($(this).val()) {

            $.ajax({
                type: "POST",
                url: "/AgentAdmin/GetDist",
                data: { agency: $(this).val() },
                success: function (result) {
                    $('#distCbb').empty();
                    $('#distCbb').append('<option>-Pilih Distribusi-</option>');
                    $.each(result, function (i, v) {
                        $('#distCbb').append('<option value="' + v.DistributionId+'" >' + v.DistributionPoint+'</option>');
                    })
                    //$('#distCbb').val(null);
                }
            })
        }
        else {
            $('#distCbb').val(null).change().html('');
        }
    });

    $(document).ready(function () {
        $('.mobile').on('input propertychange paste', function (e) {
            var reg = /^0+/gi;
            if (this.value.match(reg)) {
                this.value = this.value.replace(reg, '');
            }
        });
        $(".numeric").keydown(function (event) {


            if (event.shiftKey == true) {
                event.preventDefault();
            }

            if ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

            } else {
                event.preventDefault();
            }

            if ($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
                event.preventDefault();
            var reg = /^0+/gi;
            if (this.value.match(reg)) {
                this.value = this.value.replace(reg, '');
            }
        });
    });
</script>
