﻿@model LPG.Models.AgentAdminModel
@{
    ViewBag.Title = "ListAgentAdmin";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[Daftar Agen]]]</span></div>
    </div>
    
    <div class="container-fluid">
        <p class="font-weight-bold">[[[Agen Admin]]]</p>
        <div class="table-responsive">
            <table class="table table-hover col-valign" id="dataTablex">
                <thead>
                    <tr>
                        <th>[[[Nama Admin]]]</th>
                        <th>[[[Nama Perusahaan]]]</th>
                        <th>[[[Nama Titik Distribusi]]]</th>
                        <th>[[[Kota/Kabupaten]]]</th>
                        <th>[[[No HandPhone Admin]]]</th>
                        <th>[[[Id Email]]]</th>
                        <th>[[[Tindakan]]]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model.AgentAdminList)
                    {
                    <tr>
                        <td><div class="cust-checkbox"><input type="checkbox" id="@data.AgentId"><label for="@data.AgentId">@data.AdminName</label></div></td>
                        <td>@data.CompanyName</td>
                        <td>@data.DistributionPointName</td>
                        <td>@data.CityName</td>
                        <td>@data.MobileNo</td>
                        <td>@data.email</td>
                        <td>
                            <a href="#" onclick="location.href='/AgentAdmin/AddAgentAdmin/@data.AgentId';return false;" class="edit-link">[[[Edit]]]</a>
                            <a class="delete" id="@data.AgentId" href="#">[[[Delete]]]</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#dataTablex').dataTable({
            "dom": '<"top"Bf>rt<"bottom"ilp><"clear">',//'Blftrip',
            "buttons": [
                {
                    extend: 'excel',
                    text: 'Export Excel',
                    className: 'exportExcel btn-success margin-bottom-5',
                    filename: 'Daftar Agen dmin',
                    exportOptions: {
                        modifier: {
                            page: 'all',
                        },
                        columns: [0, 1, 2, 3, 4,5]
                    }
                }
            ],
            "aaSorting": [],
            "language": {
                "url": "/Content/datatables/indonesia.json"
            },
        });
    });
    $('a.delete').click(function () {
        if (!confirm("[[[Apakah Anda ingin menghapus]]]")) {
            return false;
        }
        var id = $(this).attr("id");
        $.ajax({
            url: '/AgentAdmin/DeleteAgentAdmin', type: "POST", dataType: "text",
            data: { id: id },
            success: function (data) {
                //window.location.href = '/SuperAdmin/ListSuperAdmin';
                window.location.reload(true);
                alert('[[[Berhasil Dihapus]]]!');
            },
            error: function (xhr, status, error) {
                alert(xhr.responseText);
                alert(status);
                alert(error);
            }
        });
    });
</script>
