﻿@model LPG.Models.DriverModel
@{
    ViewBag.Title = "[[[AddDriver]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[Driver]]]</span></div>
    </div>
    <div class="container-fluid">
        <p class="font-weight-bold">[[[Driver]]]</p>
        <div class="screen-content">
            <form class="sb-form" method="post" id="formdriver" novalidate action="#">
                <div class="row mb-15">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>[[[Nama Driver]]]</label>
                            @Html.TextBoxFor(model => model.DriverName, new { @class = "form-control", @rows = "5", maxlength = "80" })
                        </div>
                    </div>
                </div>
                <div class="row mb-15">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>[[[Nama Agen Perusahaan]]]</label>
                            @Html.DropDownListFor(m => m.AgenDriverAgenId, Model.AgencyList, "-[[[Pilih Agen Perusahaan]]]-", new { @class = "form-control", required = "required", id = "ptCbb" })
                        </div>
                    </div>
                </div>
                <div class="row mb-15">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>[[[Titik Distribusi]]]</label>
                            @Html.DropDownListFor(m => m.AgenDriverDistId, Model.DistributionList, "-[[[Pilih Distribusi]]]-", new { @class = "form-control", required = "required", id="distCbb" })
                        </div>
                    </div>
                </div>
                <div class="row mb-15">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>[[[No HandPhone Driver]]]</label>
                            <div class="clearfix"></div>
                            @Html.TextBoxFor(model => model.CountryCode, new { @class = "form-control", @readonly = "readonly", @style = "width:60px;float:left" })
                            @Html.TextBoxFor(model => model.MobilePhone, new { @class = "form-control numeric mobile", @style = "width:270px;float:left", @maxlength = "15" })
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="row mb-15">
                    <div class="col-sm-6">
                        <div class="btns-container">
                            <button class="btn btn-success" type="submit">[[[Save]]]</button>
                            <button class="btn btn-default" onclick="location.href='/Driver/ListDriver/';return false;">[[[Cancel]]]</button>
                        </div>
                    </div>
                </div>
                <div class="errorMsg">@Model.ErrorMessage</div>
                <input type="hidden" value="@Model.DriverId" name="DriverId" id="DriverId">
            </form>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<script>
    $(document).on('submit', '#formdriver', function (event) {
        var valid = true;
        var inputFields = $('#formdriver input');
        var dropdown = $('#formdriver select');
        inputFields.each(function () {

            if (!$(this).val()) {
                valid = false;
                $('#formdriver').addClass('was-validated');
                $('.errorMsg').text('[[[Please enter all required fields]]]');
                event.preventDefault();
            }
        });

        dropdown.each(function () {

            if (!$(this).val()) {
                valid = false;
                $('#formdriver').addClass('was-validated');
                $('.errorMsg').text('[[[Please enter all required fields]]]');
                event.preventDefault();
            }
        });
    });


    $('#ptCbb').change(function () {
        if ($(this).val()) {

            $.ajax({
                type: "POST",
                url: "/AgentAdmin/GetDist",
                data: { agency: $(this).val() },
                success: function (result) {
                    $('#distCbb').empty();
                    $('#distCbb').append('<option>-Pilih Distribusi-</option>');
                    $.each(result, function (i, v) {
                        $('#distCbb').append('<option value="' + v.DistributionId + '" >' + v.DistributionPoint + '</option>');
                    })
                    //$('#distCbb').val(null);
                }
            })
        }
        else {
            $('#ptCbb').val(null).change().html('');
        }
    });

    $(document).ready(function () {

        $('.mobile').on('input propertychange paste', function (e) {
            var reg = /^0+/gi;
            if (this.value.match(reg)) {
                this.value = this.value.replace(reg, '');
            }
        });
        $(".numeric").keydown(function (event) {


            if (event.shiftKey == true) {
                event.preventDefault();
            }

            if ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

            } else {
                event.preventDefault();
            }

            if ($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
                event.preventDefault();
            var reg = /^0+/gi;
            if (this.value.match(reg)) {
                this.value = this.value.replace(reg, '');
            }
        });
    });
</script>
