﻿@model LPG.Models.DriverModel
@{
    ViewBag.Title = "[[[ListDriver]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link href="~/Content/css/toastr.css" rel="stylesheet" />
<script src="~/Scripts/toastr.js"></script>
@Scripts.Render("~/ bundles / toastr")
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[Daftar Agen Driver]]]</span></div>
    </div>
    
    <div class="container-fluid">
        <p class="font-weight-bold">[[[Agen Driver]]]</p>
        <div class="table-responsive">
            <table class="table table-hover col-valign" id="dataTablex">
                <thead>
                    <tr>
                        <th>[[[Nama Driver]]]</th>
                        <th>[[[Nama Perusahaan]]]</th>
                        <th>[[[Nama Titik Distribusi]]]</th>
                        <th>[[[Kota/Kabupaten]]]</th>
                        <th>[[[No HandPhone Driver]]]</th>
                        <th>[[[Tindakan]]]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model.DriverModelList)
                    {
                    <tr>
                        <td>
                            <table width="100%" class="table-noborder">
                                <tr>
                                    <td width="40"><div class="cust-checkbox"><input type="checkbox" id="@data.DriverId"><label for="@data.DriverId"></label></div></td>
                                    <td>@data.DriverName</td>
                                </tr>
                            </table>
                        </td>
                        <td>@data.Company</td>
                        <td>@data.DistributionPoint</td>
                        <td>@data.CityName</td>
                        <td>@data.MobilePhone</td>
                        <td>
                            <a href="#" onclick="location.href='/Driver/AddDriver/@data.DriverId';return false;" class="edit-link">[[[Edit]]]</a>
                            <a class="delete" id="@data.DriverId" href="#">[[[Delete]]]</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#dataTablex').dataTable({
            "dom": '<"top"Bf>rt<"bottom"ilp><"clear">',//'Blftrip',
            "buttons": [
                {
                    extend: 'excel',
                    text: 'Export Excel',
                    className: 'exportExcel btn-success margin-bottom-5',
                    filename: 'Daftar Driver',
                    exportOptions: {
                        modifier: {
                            page: 'all',
                        },
                        columns: [0, 1, 2, 3,4]
                    }
                }
            ],
            "aaSorting": [],
            "pagingType": "full_numbers",
            "language": {
                "url": "/Content/datatables/indonesia.json"
            },
        });
    });
    $('a.delete').click(function () {
        if (!confirm("[[[Apakah Anda ingin menghapus]]]")) {
            return false;
        }
        var id = $(this).attr("id");
        $.ajax({
            url: '/Driver/DeleteDriver', type: "POST", dataType: "text",
            data: { id: id },
            success: function (data) {
                //window.location.href = '/SuperAdmin/ListSuperAdmin';
                window.location.reload(true);
                alert('[[[Berhasil Dihapus!]]]');
            },
            error: function (xhr, status, error) {
                alert(xhr.responseText);
                alert(status);
                alert(error);
            }
        });
    });
</script>
