﻿
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<link href="~/Content/css/toastr.css" rel="stylesheet" />
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/toastr.js"></script>
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[Notification History]]]</span></div>
    </div>
    <div class="container-fluid">
        <div class="row" style="margin-bottom:10px;">
            <div class="col-md-12">
                @using (Html.BeginForm("Export", "NotificationLog", FormMethod.Post))
                {
                    <button type="submit" class="btn btn-success btn-sm">[[[Export Excel]]]</button>
                }
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover col-valign" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>[[[Username]]]</th>
                        <th>[[[Mobile Number]]]</th>
                        <th>[[[Role]]]</th>
                        <th>[[[Agen]]]</th>
                        <th>[[[Judul]]]</th>
                        <th>[[[Pesan]]]</th>
                        <th>[[[Terkirim Pada]]]</th>
                        <th>[[[Status Pengiriman]]]</th>
                        <th>[[[Dibuka]]]</th>
                        <th>[[[Dibuka Pada]]]</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<script>
    moment.locale('id');
    $(document).ready(function () {
        $('#dataTable').DataTable({

            "pagingType": "full_numbers",
            "scrollX": true,
            "language": {
                "url": "/Content/datatables/indonesia.json"
            },
            "columnDefs": [
                { defaultContent: '-', targets: '_all' },
                {
                    data: 'Username',
                    targets: 0
                },
                {
                    data: 'MobileNumber',
                    targets: 1
                },
                {
                    data: 'Role',
                    targets: 2
                },
                {
                    data: 'NamaAgen',
                    targets: 3
                },
                {
                    data: 'Title',
                    targets: 4
                },
                {
                    data: 'Message',
                    targets: 5
                },
                {
                    data: 'CreatedDateFormated',
                    targets: 6,
                    render: function (data, type, row) {
                        if (row.CreatedDateFormated)
                            //return moment(new Date((row.CreatedDate.match(/\d+/)[0] * 1))).format('DD/MM/YYYY HH:mm');
                            //return moment((new Date((row.CreatedDate.match(/\d+/)[0] * 1))).toISOString(), 'YYYY-MM-DDTHH:mm:ss').format('DD/MM/YYYY HH:mm')
                            //return convertDateFormat(new Date((row.CreatedDate.match(/\d+/)[0] * 1)));
                            return moment(row.CreatedDateFormated, 'YYYY-MM-DDTHH:mm:ss').format('DD/MM/YYYY HH:mm');
                        else
                            return '-';
                    }
                },
                {
                    data: 'Success',
                    targets: 7,
                    render: function (data, type, row) {
                        if (row.Success > 0)
                            return 'Pengiriman Berhasil'
                        else
                            return 'Pengiriman Gagal';
                    }
                },
                {
                    data: 'IsRead',
                    visible:false,
                    targets: 8,
                    render: function (data, type, row) {
                        if (row.IsRead == 0)
                            return 'Belum dibaca'
                        else
                            return 'Sudah dibaca';
                    }
                },
                {
                    data: 'ReadAtFormated',
                    visible: false,
                    targets: 9,
                    render: function (data, type, row) {
                        if (row.ReadAtFormated)
                            //return moment(new Date((row.CreatedDate.match(/\d+/)[0] * 1))).format('DD/MM/YYYY HH:mm');
                            //return moment.utc(moment.utc((new Date((row.ReadAt.match(/\d+/)[0] * 1)))).local().format('YYYY-MM-DD HH:mm:ss')).local().format('YYYY/MM/DD HH:mm')
                            return moment(row.ReadAtFormated, 'YYYY-MM-DDTHH:mm:ss').format('DD/MM/YYYY HH:mm');
                        else
                            return '-';
                    }
                }
            ],
            serverSide: true,
            ajax: {

                url: '/NotificationLog/List',
                type: "POST",
                dataType: 'json',
                async: true,
                contentType: 'application/json',
                data: function (data) {

                    var x = {};

                    x.draw = data.draw;
                    x.length = data.length;
                    x.search = [data.search.value];
                    x.start = (data.start / data.length);

                    return JSON.stringify(x); // return JSON string
                },
                processing: true,
                //dataSrc: function (data) {
                //    return data.data;
                //},
                searchDelay: 350,

            }
        });
    });

    function convertDateFormat(date) {
        var today = date; var dd = today.getDate(); var mm = today.getMonth() + 1; //January is 0! 
        var hour = today.getHours();
        var min = today.getMinutes();
        var yyyy = today.getFullYear();
        if (dd < 10) { dd = '0' + dd }
        if (mm < 10) { mm = '0' + mm }
        if (hour < 10) { hour = '0' + hour }
        if (min < 10) { min = '0' + min }
        var today = dd + '/' + mm + '/' + yyyy + ' '+hour+':'+min;
        return today;
    }

</script>



