﻿@model List<LPG.Models.CityModel>
@{
    ViewBag.Title = "[[[CityList]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link href="~/Content/css/toastr.css" rel="stylesheet" />
<script src="~/Scripts/toastr.js"></script>
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[List Kota]]]</span></div>
        <div><button type="button" onclick="location.href='/City/AddCity/';return false;" class="btn btn-success">[[[Tambah Kota Baru]]]</button></div>
    </div>
    
    <div class="container-fluid">
        <div class="table-responsive">
            <table class="table table-hover col-valign" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>[[[ID]]]</th>
                        <th>[[[Kode Kota/Kab]]]</th>
                        <th>[[[Nama Kota]]]</th>
                        <th>[[[Tindakan]]]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model)
                    {
                        <tr>
                            <td>@data.ID</td>
                            <td>@data.CityCode</td>
                            <td>@data.CityName</td>
                            <td><a href="#" class="Edit" onclick="location.href='/City/EditCity?CityId=@data.ID';return false;">[[[Edit Kota]]]</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#dataTable').dataTable({
            "dom": '<"top"Bf>rt<"bottom"ilp><"clear">',//'Blftrip',
            "buttons": [
                {
                    extend: 'excel',
                    text: 'Export Excel',
                    className: 'exportExcel btn-success margin-bottom-5',
                    filename: 'Daftar Kota',
                    exportOptions: {
                        modifier: {
                            page: 'all'
                        },
                        columns: [0, 1,2]
                    }
                }
            ],
            //"aaSorting": [[2, "asc"]],
            "pagingType": "full_numbers",
            "language": {
                "url": "/Content/datatables/indonesia.json"
            },
        });
    });
</script>
