﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | [[[Bright Home Service]]]</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="/Content/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type='text/javascript'>
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } }
            var t = { config: config }, u = document, e = window, o = 'script', s = u.createElement(o), i, f; for (s.src = config.url || '//az416426.vo.msecnd.net/scripts/a/ai.0.js', u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ['Event', 'Exception', 'Metric', 'PageView', 'Trace', 'Ajax']; i.length;)r('track' + i.pop()); return r('setAuthenticatedUserContext'), r('clearAuthenticatedUserContext'), config.disableExceptionTracking || (i = 'onerror', r('_' + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o), s }), t
        }({
            instrumentationKey: 'fa9e03cc-f757-48d3-b5a5-3ae8117bab78'
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();

        window.flashMessage = function (options) {
            var target = this;
            options = $.extend({}, options, { timeout: 3000 });
            if (!options.message) {
                options.message = getFlashMessageFromCookie();
                deleteFlashMessageCookie();
            }
            if (options.message) {
                if (typeof options.message === "string") {
                    target.html("<span>" + options.message + "</span>");
                } else {
                    target.empty().append(options.message);
                }
            }

            if (target.children().length === 0) return;

            target.fadeIn().one("click", function () {
                $(this).fadeOut();
            });

            if (options.timeout > 0) {
                setTimeout(function () { target.fadeOut(); }, options.timeout);
            }

            return this;

            function getFlashMessageFromCookie() {
                return $.cookie("FlashMessage");
            }

            function deleteFlashMessageCookie() {
                $.cookie("FlashMessage", null, { path: '/' });
            }
        };

    </script>
    <style>
        .margin-bottom-5{
            margin-bottom:15px !important;
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @*@Scripts.Render("~/bundles/datatables_id")*@
    @Scripts.Render("~/bundles/LPGjquery")
    @RenderSection("scripts", required: false)
    

</body>
</html>
