﻿@model LPG.Models.CityAndProvinceModel
@{
    ViewBag.Title = "[[[Edit City]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link href="~/Content/css/toastr.css" rel="stylesheet" />
<script src="~/Scripts/toastr.js"></script>
@Scripts.Render("~/ bundles / toastr")
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[Edit Kota]]] </span></div>
    </div>
    <div class="container-fluid">
        @using (Html.BeginForm())
        {
        <div class="screen-content">
            <div class="row mb-15 sb-form">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>[[[Provinsi]]]</label>
                        @Html.DropDownListFor(model => model.city.ProvID, Model.DDList, "--[[[Select]]]--", new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.city.ProvID, null, new { @class = "errorMsg" })
                    </div>
                </div>
            </div>
            <div class="row mb-15 sb-form">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>[[[Kode Kota]]]</label>
                        @Html.TextBoxFor(model => model.city.CityCode, null, new { @class = "form-control numeric", @placeholder = "" })
                        <div id="CityCode_error" class="errorMsg"></div>
                    </div>
                </div>
            </div>
            <div class="row mb-15 sb-form">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>[[[Nama Kota]]]</label>
                        @Html.TextBoxFor(model => model.city.CityName, null, new { @class = "form-control numeric", @placeholder = "" })
                        <div id="CityName_error" class="errorMsg"></div>
                    </div>
                </div>
            </div>
            <input type="hidden" value="@Model.city.ID" name="city.ID" id="city.ID">
            <div class="btns-container">
                <button type="submit" class="btn btn-success">[[[Simpan Publikasi]]]</button>
                <button type="button" onclick="location.href='/City/ListCity'" class="btn btn-default">[[[Simpan tanpa publikasi]]]</button>
            </div>
        </div>
        }
    </div>
    <!-- /.container-fluid -->
</div>
<style>
    .errorMsg {
        display: block;
        /*width: 51%;
        margin: 0 0 0.5em 49%;*/
        color: #f00;
        background-color: #ffa
    }
</style>
