﻿@using i18n
@model LPG.Models.DashboardModel
@{
    ViewBag.Title = "[[[Homepage]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[Selamat Datang]]]</span></div>
        <div>
            @using (Html.BeginForm("Export", "Home", FormMethod.Post, new { @class = "form-inline", @onsubmit = "return validateExport()" }))
            {
                <input type="text" autocomplete="off" name="dtpStart" id="dtpStart" data-date-format="dd/mm/yyyy" placeholder="start date" class="form-control" />
                <input type="text" autocomplete="off" name="dtpEnd" id="dtpEnd" data-date-format="dd/mm/yyyy" placeholder="end date" class="form-control" />
                <button type="submit" class="btn btn-white btn-sm pull-right"><img src="~/Content/backups/excel-icon.png">[[[Master Data Export]]]</button>
            }
        </div>
    </div>
    <div class="container-fluid">
        <div class="screen-content">
            <div class="chart-control ml-5">
                <button class="btn btn-theme btn-prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                <div class="chartname" id="b_pager">
                    <span class="active" id="chartview1" data-code="1">[[[Laporan Penjualan]]]</span>
                    <span id="chartview2" data-code="2">[[[Peringkat penjual]]]</span>
                </div>
                <button class="btn btn-theme btn-next"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            </div>
            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col-md-6 bordered-div">
                        <p><strong>[[[Total Penjualan]]]</strong></p>
                        <div id="container" style="height: 300px"></div>
                    </div>
                    <div class="col-md-6">
                        <table class="table theme-table">
                            <thead>
                                <tr>
                                    <th colspan="4" style="text-align: center;">[[[Filters]]]</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model.Products.Any())
                                    {

                                        <tr class="productclass">
                                            <th>SKU</th>
                                            <td colspan="3">
                                                @{int flag = 1;
                                                    foreach (var x in Model.Products)
                                                    {
                                                        <div class="radio-wrapper">
                                                            <input type="radio" data-code="@x.Id" n name="sku" id="@string.Format("sku{0}", flag)">
                                                            <label class="btn-radio clsProduct" data-code="@x.Id" f for="@string.Format("sku{0}", flag)">@x.Code</label>
                                                        </div>
                                                        flag++;
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                                @*<tr>
                                        <th>SKU</th>
                                        <td class="radio-wrapper">
                                            <input type="radio" data-code="BG12" name="sku" id="sku1">
                                            <label class="btn-radio clsProduct" data-code="BG12" for="sku1">BG 12</label>
                                        </td>
                                        <td class="radio-wrapper">
                                            <input type="radio" data-code="BG55" name="sku" id="sku2">
                                            <label class="btn-radio clsProduct" data-code="BG55" for="sku2">BG 5.5</label>
                                        </td>
                                        <td class="radio-wrapper">
                                            <input type="radio" data-code="ELPG" name="sku" id="sku3">
                                            <label class="btn-radio clsProduct" data-code="ELPG" for="sku3">Elpiji</label>
                                        </td>
                                    </tr>*@
                                <tr>
                                    <th>[[[Periode]]]</th>
                                    <td class="radio-wrapper">
                                        <input type="radio" data-code="2" name="periode" id="periode1">
                                        <label class="btn-radio clsPeriod" data-code="2" for="periode1">[[[Week]]]</label>
                                    </td>
                                    <td class="radio-wrapper">
                                        <input type="radio" data-code="1" name="periode" id="periode2">
                                        <label class="btn-radio clsPeriod" data-code="1" for="periode2">[[[Month]]]</label>
                                    </td>
                                    <td class="radio-wrapper">
                                        <input type="radio" data-code="3" name="periode" id="periode3">
                                        <label class="btn-radio clsPeriod" data-code="3" for="periode3">[[[Year]]]</label>
                                    </td>
                                </tr>
                                <tr id="trTotalType">
                                    <th>[[[Total]]]</th>
                                    <td class="radio-wrapper">
                                        <input type="radio" name="total" data-code="1" id="total1">
                                        <label class="btn-radio clsTotal" data-code="1" for="total1">[[[Value]]]</label>
                                    </td>
                                    <td class="radio-wrapper">
                                        <input type="radio" name="total" data-code="2" id="total2">
                                        <label class="btn-radio clsTotal" data-code="2" for="total2">[[[Quantity]]]</label>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="scrollable-div">
                            <p><strong>[[[Agen]]]</strong></p>
                            <ul class="checkbox-combo-list">
                                <li>[[[Region]]]</li>
                                <li><input type="checkbox" checked disabled> <input type="text" value="[[[Indonesia]]]" disabled></li>
                                <li>[[[Perusahaan]]]</li>
                                @{
                                    int i = 0;
                                    foreach (var x in Model.Companies)
                                    {
                                        <li><input class="clsAgency" name="chkAgency" data-code="@x.CompanyId" type="checkbox" @(i >= 0 ? "checked" : "")> <input type="text" value="@x.CompanyName.ToDefaultString()"></li>
                                        i++;
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- screen-content -->
        <div class="screen-content">
            <div class="container-fluid mt-2">
                <div class="row">
                    <div class="col-md-12">
                        <div id="usersPieChart" style="width:100%; height:500px;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="usersLineChart" style="width:100%; height:500px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
@section scripts {
    <script src="@Url.Content("~/Scripts/highcharts.js")"></script>
    <script src="@Url.Content("~/Scripts/moment.min.js")"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>


    <script>
    var prdCode;
    var period;
    var totalType;
    var agencyId = []
    var reportType=1;
    $(document).ready(function () {
        $('#sku1').prop('checked', true);
        $('#periode1').prop('checked', true);
        $('#total2').prop('checked', true);
        prdCode = $('#sku1').attr("data-code");
        period = $('#periode1').attr("data-code");
        totalType = $('#total2').attr("data-code");

        //$('#dtpStart , #dtpEnd').datepicker('getDate');
        $('#dtpStart , #dtpEnd').datepicker();

        $('input:checkbox[name=chkAgency]:checked').each(function () {
            agencyId.push($(this).attr("data-code"))
        })

        $('.clsProduct').click(function () {
            prdCode = $(this).attr("data-code");
            LoadData();
        });
        $('.clsPeriod').click(function () {
            period = $(this).attr("data-code");
            LoadData();
        });
        $('.clsTotal').click(function () {
            totalType = $(this).attr("data-code");
            LoadData();
        });
        $('.clsAgency').click(function () {
            //debugger;
            var currntItem = $('.chartname span.active');
            if (currntItem.length == 0) {
                currntItem = $('.chartname span').first();
            }
            //alert($(nextItem).attr("data-code"));
            reportType = $(currntItem).attr("data-code");
            if (reportType == 2) {
                $(".clsAgency").prop('checked', false);
                $(this).prop('checked', true);
            }
            agencyId = [];
            $('input:checkbox[name=chkAgency]:checked').each(function () {
                agencyId.push($(this).attr("data-code"))
            })
            LoadData();
        });

        LoadData();

        // Chart name change
        $(document).on('click', '.btn-next', function () {
            var nextItem = $('.chartname span.active').removeClass('active').next();
            if (nextItem.length == 0) {
                nextItem = $('.chartname span').first();
            }
            //alert($(nextItem).attr("data-code"));
            reportType = $(nextItem).attr("data-code");
            if (reportType == 1) {
                $('#trTotalType').show();
                $(".clsAgency").prop('checked', true);
                agencyId = [];
                $('input:checkbox[name=chkAgency]:checked').each(function () {
                    agencyId.push($(this).attr("data-code"))
                })
            }
            else
            {
                $(".clsAgency").prop('checked', false);
                $(".clsAgency").first().prop('checked', true);
                agencyId = [];
                $('input:checkbox[name=chkAgency]:checked').each(function () {
                    agencyId.push($(this).attr("data-code"))
                })
                $('#trTotalType').hide();
            }
            LoadData();
            $(nextItem).addClass('active');
        });
        $(document).on('click', '.btn-prev', function () {
            var prevItem = $('.chartname span.active').removeClass('active').prev();
            if (prevItem.length == 0) {
                prevItem = $('.chartname span').last();
            }
            //alert($(prevItem).attr("data-code"));
            reportType = $(prevItem).attr("data-code");
            if (reportType == 1) {
                $('#trTotalType').show();
                $(".clsAgency").prop('checked', true);
                agencyId = [];
                $('input:checkbox[name=chkAgency]:checked').each(function () {
                    agencyId.push($(this).attr("data-code"))
                })
            }
            else {
                $(".clsAgency").prop('checked', false);
                $(".clsAgency").first().prop('checked', true);
                agencyId = [];
                $('input:checkbox[name=chkAgency]:checked').each(function () {
                    agencyId.push($(this).attr("data-code"))
                })
                $('#trTotalType').hide();
            }
            LoadData();
            $(prevItem).addClass('active');
        }); //Users pie chart

        var ordersStatusChart = Highcharts.chart('usersPieChart', {
            credits: {
                enabled: false
            },
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: '[[[Orders by Status]]]'
            },

            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: '[[[Orders]]]',
                colorByPoint: true,
                data: []
            }]
        });

        LoadOrdersStatusData(1, ordersStatusChart);

        //Number of users
        var usersLineChart = Highcharts.chart('usersLineChart', {
            chart: {
                type: 'column'
            },
            credits: {
                enabled: false
            },
            title: {
                text: '[[[Users Registered Per Month]]]'
            },
            subtitle: {
                text: '[[[Users in total]]]: 0'
            },
            yAxis: {
                title: {
                    text: '[[[Number of Users]]]'
                }
            },
            xAxis: {
                categories: []
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },

            plotOptions: {
                series: {
                //    label: {
                //        connectorAllowed: false
                //    }
                },
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0.1,
                    groupPadding: 0,
                    shadow: true
                }
            },

            series: [{
                name: '[[[Users]]]',
                data: []
            }],
            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }

        });

        LoadUserStats(usersLineChart);
    });

    function LoadOrdersStatusData(rType, chart) {
        var obj = { ReportType: rType };
        $.post("@Url.Content("~/Home/LoadChartData")", obj, function (data) {
            chart.update({
                series: [{
                    data: data
                }]
            });

        });
    }

    function LoadUserStats(chart) {
        var req = {}
        $.post("@Url.Content("~/Home/LoadUserStats")", req, function (data) {
            chart.update({
                xAxis: {
                    categories: data.x
                },
                series: [{
                    data: data.y,
                    color: '#EA117E'
                }]
            });

        });

        $.post("@Url.Content("~/Home/LoadTotalUserStats")", req, function (data) {
            chart.update({
                subtitle: {
                    text: '[[[Users in total]]]: ' + data.total
                }
            });

        });

    }


    function LoadData()
    {
        var obj = { ReportType: reportType, ProductId: prdCode, Period: period, TotalType: totalType, AgencyId: agencyId};
             $.post("@Url.Content("~/Home/LoadChart")", obj, function (data) {
            //alert(JSON.stringify(res));
            BindChart(data);

        });
        }

        function BindChart(data) {
            var periodName = "";
            if (period == 1) {
                periodName = "[[[Month]]]";
            }
            else if (period == 2) {
                periodName = "[[[Week]]]";
            }
            else if (period == 3) {
                periodName = "[[[Year]]]";
            }

            var seriesname = "[[[Period]]]";
            var reportname = "[[[Report]]]";
            var yaxisname = "[[[Value]]]";
            if (reportType == 1) {
                reportname = "[[[Laporan Penjualan]]]";
                seriesname = seriesname + " - Per " + periodName;
                yaxisname = ((totalType == 1) ? "[[[Amount]]]" : "[[[Number of Products]]]");
                $('.productclass').show();

            }
            else {
                reportname = "[[[Peringkat penjual]]]";
                seriesname = seriesname + " - Per " + periodName;
                yaxisname = "[[[Rating]]]";
                $('.productclass').hide();
            }



            var chart = new Highcharts.Chart({
                credits: {
                    enabled: false
                },
                chart: {
                    renderTo: 'container',
                    type: 'column'
                },
                title: {
                    text: reportname
                },
                xAxis: {
                    categories: data.x
                },
                yAxis: {
                    title: {
                        text: yaxisname,
                        useHTML: true,
                        style: {
                            "-webkit-transform": "rotate(90deg)",
                            "-moz-transform": "rotate(90deg)",
                            "-o-transform": "rotate(90deg)"
                        }
                    }
                },
                //tooltip: {
                //    valueDecimals: 2
                //},
                series: [{
                    name: seriesname, color: '#EA117E',
                    data: data.y
                }]

            });
        }


        function validateExport() {
            if (!$('#dtpStart').val() || !$('#dtpEnd').val()) {

                alert('lengkapi periode export terlebih dahulu');
                return false;
            }

            return true;
        }
    </script>
}
