﻿@model LPG.Models.CompanyModel
@{
    ViewBag.Title = "AddCompany";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">Daftar Agen</span></div>
    </div>
    <div class="container-fluid">
        <p class="font-weight-bold">Nama Perusahaan</p>
        <div class="screen-content">
            <form class="sb-form" id="sb-form" method="post" novalidate action="#">
                <div class="row mb-15">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Sold To Number</label>
                            @Html.TextBoxFor(model => model.Soldtono, new { @class = "form-control", @rows = "5", @type = "number", required = "required", @maxlength = "48" })
                            @Html.ValidationMessageFor(m => m.Soldtono, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row mb-15">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Nama Perusahaan</label>
                            @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control", @rows = "5", required = "required", @maxlength = "80" })
                            @Html.ValidationMessageFor(m => m.CompanyName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row mb-15">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>[[[Region]]]</label>
                            @Html.DropDownListFor(m => m.RegionId, Model.RegionList, "-[[[Pilih Region]]]-", new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(m => m.RegionId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row mb-15">
                    <div class="col-sm-6">
                        <div class="btns-container">
                            <button class="btn btn-success" type="submit">[[[Save]]]</button>
                            <button class="btn btn-default" onclick="location.href='/Company/ListCompany';return false;">[[[Cancel]]]</button>
                        </div>
                    </div>
                </div>
                <input type="hidden" value="@Model.CompanyId" name="CompanyId" id="CompanyId">
                <div class="errorMsg">@Model.errorMessage</div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).on('submit', '#sb-form', function (event) {
        var valid = true;
        var inputFields = $('#sb-form input');
        var dropdown = $('#sb-form select');
        inputFields.each(function () {

            if (!$(this).val()) {
                valid = false;
                $('#sb-form').addClass('was-validated');
                $('.errorMsg').text('[[[Please enter all required fields]]]');
                event.preventDefault();
            }
        });
        dropdown.each(function () {

            if (!$(this).val()) {
                valid = false;
                $('#sb-form').addClass('was-validated');
                $('.errorMsg').text('[[[Please enter all required fields]]]');
                event.preventDefault();
            }
        });
    });
</script>
