﻿@model LPG.Models.CompanyModel
@{
    ViewBag.Title = "[[[ListCompany]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[Daftar Agen]]]</span></div>
    </div>
    
    <div class="container-fluid">
        <p class="font-weight-bold">[[[Agen Perusahaan]]]</p>
        <div class="table-responsive">
            <table class="table table-hover col-valign" id="dataTablex">
                <thead>
                    <tr>
                        <th>[[[Sold to Number]]]</th>
                        <th>[[[Nama Perusahaan]]]</th>
                        <th>[[[Region]]]</th>
                        <th>[[[Tindakan]]]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model.CompanyList)
                    {
                        <tr>
                            <td>
                                <table width="100%" class="table-noborder">
                                    <tr>
                                        <td width="40"><div class="cust-checkbox"><input type="checkbox" id="@data.CompanyId"><label for="@data.CompanyId"></label></div></td>
                                        <td>@data.Soldtono</td>
                                    </tr>
                                </table>
                            </td>
                            <td>@data.CompanyName</td>
                            <td>@data.Region</td>
                            <td>
                                <a href="#" class="edit-link" onclick="location.href='/Company/AddCompany/@data.CompanyId';return false;">[[[Edit]]]</a>
                                <a class="delete" id="@data.CompanyId" href="#">[[[Dihapus]]]</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#dataTablex').dataTable({
            "dom": '<"top"Bf>rt<"bottom"ilp><"clear">',//'Blftrip',
            "buttons": [
                {
                    extend: 'excel',
                    text: 'Export Excel',
                    className: 'exportExcel btn-success margin-bottom-5',
                    filename: 'Daftar Agen Perushaan',
                    exportOptions: {
                        modifier: {
                            page: 'all',
                        },
                        columns: [0, 1, 2]
                    }
                }
            ],
            "aaSorting": [],
            "pagingType": "full_numbers",
            "language": {
                "url": "/Content/datatables/indonesia.json"
            },
        });
    });
    $('a.delete').click(function () {
        if (!confirm("[[[Apakah Anda ingin menghapus]]]")) {
            return false;
        }
        var id = $(this).attr("id");
        $.ajax({
            url: '/Company/DeleteCompany', type: "POST", dataType: "text",
            data: { id: id },
            success: function (data) {
                //window.location.href = '/SuperAdmin/ListSuperAdmin';
                window.location.reload(true);
                alert('[[[Berhasil Dihapus!]]]');
            },
            error: function (xhr, status, error) {
                alert(xhr.responseText);
                alert(status);
                alert(error);
            }
        });
    });

</script>
