﻿@model LPG.Models.DistributionModel
@{
    ViewBag.Title = "[[[AddDistribution]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<!--Coordinates-->
@*<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>*@
<script type="text/javascript" src='https://maps.google.com/maps/api/js?key=AIzaSyBBmB-t7GO4hVmBaxOIqT44JJK3OxnBS9s&libraries=places'></script>
<script src="@Url.Content("~/Content/Location/locationpicker.jquery.min.js")"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
<!--end-->
<style>
    .mp-container .mp-innerwrap {
        display: block;
        position: relative;
    }

        .mp-container .mp-innerwrap input[type="text"] {
            display: block;
            width: 100%;
        }

        .mp-container .mp-innerwrap i {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            color: #ea117e;
            cursor: pointer;
            z-index: 100;
            font-size: 16px;
        }

    #us6-dialog .form-horizontal {
        max-width: 100% !important;
    }

    .modal-latt-wrap {
        padding-bottom: 15px;
    }

        .modal-latt-wrap .mlw-child {
            float: left;
            width: 50%;
            padding-right: 15px;
        }

            .modal-latt-wrap .mlw-child:last-child {
                padding-right: 0;
            }

            .modal-latt-wrap .mlw-child label {
                display: block;
                width: 100%;
            }

    .clr {
        clear: left;
    }

    .clearfix:after {
        content: " ";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
</style>
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[Daftar Distribusi]]]</span></div>
    </div>
    <div class="container-fluid">
        <p class="font-weight-bold">[[[Perbarui distribusi]]]</p>
        <div class="screen-content">
            <form class="sb-form" method="post" id="distform" novalidate action="#">
                <div class="row mb-15">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>[[[Nama Perusahaan]]]</label>
                            @Html.DropDownListFor(m => m.AgenDriverAgenId, Model.AgencyList, "-[[[Pilih Agen Perusahaan]]]-", new { @class = "form-control", required = "required" })
                        </div>
                    </div>
                </div>
                <div class="row mb-15">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>[[[Nama Distribusi]]]</label>
                            @Html.TextBoxFor(model => model.DistributionPoint, new { @class = "form-control", required = "required", @rows = "5", @maxlength = "90" })
                        </div>
                    </div>
                </div>
                <div class="row mb-15">
                    <div class="col-sm-6">
                        <div class="form-group mp-container">
                            <label>[[[Koordinat]]]</label>
                            <span class="mp-innerwrap">
                                <i class="fa fa-map-marker" aria-hidden="true" data-target="#us6-dialog" data-toggle="modal"></i>
                                @Html.TextBoxFor(model => model.Lat, new { @class = "form-control mapLat", @rows = "5", @placeholder = "latitude", @readonly = "readonly" })
                            </span>
                        </div>
                        @*<div class="form-group">
                    <label>Koordinat</label>
                    @Html.TextBoxFor(model=>model.Lat,new { @class="form-control",@rows="5",required="required",@type="number"})
                    @Html.TextBoxFor(model => model.Long, new { @class = "form-control", @rows = "5",required="required",@type="number"})
                </div>*@
                    </div>
                </div>
                <div class="row mb-15">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>[[[Alamat]]]</label>
                            @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @rows = "5", @columns = "3", required = "required", @maxlength = "150" })
                        </div>
                    </div>
                </div>
                <div class="row mb-15">
                    <div class="col-sm-6">
                        <div class="btns-container">
                            <button class="btn btn-success" type="submit">[[[Save]]]</button>
                            <button class="btn btn-default" onclick="location.href='/Distribution/ListDistribution';return false;">[[[Cancel]]]</button>
                        </div>
                    </div>
                </div>
                <div class="errorMsg">@Model.errorMessage</div>
                <input type="hidden" value="@Model.DistributionId" name="DistributionId" id="DistributionId">
                <input type="hidden" value="@Model.CityId" name="CityId" id="CityId">
                <input type="hidden" value="@Model.CityName" name="CityName" id="CityName">
            </form>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<script>
    $(document).on('submit', '#distform', function (event) {
        var valid = true;
        var inputFields = $('#distform input');
        var textarea = $('#distform textarea');
        var dropdown = $('#distform select');
        inputFields.each(function () {

            if (!$(this).val()) {
                valid = false;
                $('#distform').addClass('was-validated');
                $('.errorMsg').text('[[[Please enter all required fields]]]');
                event.preventDefault();
            }
        });

        textarea.each(function () {

            if (!$(this).val()) {
                valid = false;
                $('#distform').addClass('was-validated');
                $('.errorMsg').text('[[[Please enter all required fields]]]');
                event.preventDefault();
            }
        });

        dropdown.each(function () {

            if (!$(this).val()) {
                valid = false;
                $('#distform').addClass('was-validated');
                $('.errorMsg').text('[[[Please enter all required fields]]]');
                event.preventDefault();
            }
        });
    });
</script>
<div id="us6-dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">[[[Lokasi peta]]]</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label">[[[Lokasi]]]:</label>
                        <div>
                            <input type="text" class="form-control" id="us3-address" />
                        </div>
                    </div>
                    <div class="m-t-small modal-latt-wrap clearfix">
                        <div class="mlw-child">
                            <label class="p-r-small control-label">[[[Lintang]]]:</label>
                            <input type="text" class="form-control" id="us3-lat" />
                        </div>
                        <div class="mlw-child">
                            <label class="p-r-small control-label">[[[Garis bujur]]]:</label>
                            <input type="text" class="form-control" id="us3-lon" />
                        </div>
                    </div>
                    <div id="us3" style="width: 100%; height: 400px;"></div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="clearfix"></div>
                    <script>
                    $('#us3').locationpicker({
                        location: {
                            latitude: @Model.Latitude,
                            longitude: @Model.Longitude
                        },
                        radius: 300,
                        inputBinding: {
                            latitudeInput: $('#us3-lat'),
                            longitudeInput: $('#us3-lon'),
                            radiusInput: $('#us3-radius'),
                            locationNameInput: $('#us3-address')
                        },
                        enableAutocomplete: true,
                        markerIcon: '/Content/images/pin.png'
                    });
                    $('#us6-dialog').on('shown.bs.modal', function () {
                        $('#us3').locationpicker('autosize');
                    });
                    </script>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">[[[Close]]]</button>
                <button id="btnMapSave" type="button" class="btn btn-primary">[[[Save changes]]]</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var input = document.getElementById("us3-address");
        var autocomplete = new google.maps.places.Autocomplete(input);

        //$('#us6-dialog').modal('show');

    });

    $(document).on('click', '#btnMapSave', function (event) {
        var latLon = $("#us3-lat").val() + ',' + $("#us3-lon").val();
        //alert(latLon);
        $(".mapLat").val(latLon);

        $.get('https://maps.googleapis.com/maps/api/geocode/json?latlng=' + latLon + '&key=AIzaSyCi0cz9Vqdcu49U-U09TB7kOvWSRCRt1wQ', function (result) {

            if (result.status == 'OK') {

                if (result.results.length > 0) {
                   
                    var city = result.results.filter(function (e) { return e.types.filter(function (x) { return x == "administrative_area_level_2" }).length > 0 })[0].address_components.filter(function (e) { return e.types.filter(function (x) { return x == "administrative_area_level_2"; }).length > 0; })[0];

                    $('#CityName').val(city.long_name);
                }

            }

            $('#us6-dialog').modal('hide');

        })

        
    });



</script>
<style>
    .pac-container {
        z-index: 10000 !important;
    }
</style>
