﻿@model LPG.Models.DistributionModel
@{
    ViewBag.Title = "[[[ListDistribution]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[Daftar Agen]]]</span></div>
    </div>
    
    <div class="container-fluid">
        <p class="font-weight-bold">[[[Titik Distribusi]]]</p>
        <div class="table-responsive">
            <table class="table table-hover col-valign" id="dataTablex">
                <thead>
                    <tr>
                        <th>[[[Nama Agen Perusahaan]]]</th>
                        <th>[[[Nama Titik Distribusi]]]</th>
                        <th>[[[Koordinat]]]</th>
                        <th>[[[Alamat]]]</th>
                        <th>[[[Tindakan]]]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model.DistributionList.OrderByDescending(t => t.DistributionId).ToList())
                    {
                        <tr>
                            <td>
                                <table width="100%" class="table-noborder">
                                    <tr>
                                        <td width="40"><div class="cust-checkbox"><input type="checkbox" id="@data.DistributionId"><label for="@data.DistributionId"></label></div></td>
                                        <td>@data.CompanyAgent</td>
                                    </tr>
                                </table>
                            </td>
                            <td>@data.DistributionPoint</td>
                            <td>@data.Lat <i>,</i>@data.Long</td>
                            <td>@data.Address</td>
                            <td>
                                <a href="#" onclick="location.href='/Distribution/AddDistribution/@data.DistributionId';return false;" class="edit-link">[[[Edit]]]</a>
                                <a class="delete" id="@data.DistributionId" href="#">[[[Delete]]]</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#dataTablex').dataTable({
            "dom": '<"top"Bf>rt<"bottom"ilp><"clear">',//'Blftrip',
            "buttons": [
                {
                    extend: 'excel',
                    text: 'Export Excel',
                    className: 'exportExcel btn-success margin-bottom-5',
                    filename: 'Daftar Titik Distribusi',
                    exportOptions: {
                        modifier: {
                            page: 'all',
                        },
                        columns: [0, 1, 2, 3]
                    }
                }
            ],
            "aaSorting": [],
            "pagingType": "full_numbers",
            "language": {
                "url": "/Content/datatables/indonesia.json"
            },
        });
    });
    $('a.delete').click(function () {
        if (!confirm("[[[Apakah Anda ingin menghapus]]]")) {
            return false;
        }
        var id = $(this).attr("id");
        $.ajax({
            url: '/Distribution/DeleteDistribution', type: "POST", dataType: "text",
            data: { id: id },
            success: function (data) {
                //window.location.href = '/SuperAdmin/ListSuperAdmin';
                window.location.reload(true);
                alert('[[[Berhasil Delete!]]]');
            },
            error: function (xhr, status, error) {
                alert(xhr.responseText);
                alert(status);
                alert(error);
            }
        });
    });
</script>
