﻿@model LPG.Models.OrderModel

<div class="modal-header">
    <h6 class="modal-title" id="popup2Label"><strong>[[[Informasi Pesanan]]]</strong></h6>
    <img src="~/Content/backups/logo_vieworder.png" class="float-right" alt="">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="fa fa-times-circle text-danger" aria-hidden="true"></i>
    </button>
</div>
<div class="modal-body invoice-outer">
    <div>
        <table width="100%">
            <tr>
                <td>
                    <div>
                        Status : <strong class="text-md">
                            @*@((LPG.App_Classes.OrderStatus)Convert.ToInt32(Model.Status))*@
                            @if (Model.Status.ToString() == "1")
                            {
                                @Html.Raw("Belum diterima")
                            }
                            else if (Model.Status.ToString() == "2")
                            {
                                @Html.Raw("Diterima")
                            }
                            else if (Model.Status.ToString() == "3")
                            {
                                @Html.Raw("Dikirim")
                            }
                            else if (Model.Status.ToString() == "4")
                            {
                                @Html.Raw("Berhasil")
                            }
                            else if (Model.Status.ToString() == "5")
                            {
                                @Html.Raw("DibatalkanolehConsumer")
                            }
                            else if (Model.Status.ToString() == "6")
                            {
                                @Html.Raw("DibatalkanolehSystem")
                            }
                            else if (Model.Status.ToString() == "7")
                            {
                                @Html.Raw("DibatalkanolehSuperAdmin")
                            }
                            else if (Model.Status.ToString() == "8")
                            {
                                @Html.Raw("DibatalkanolehHQSuperAdmin")
                            }
                            else if (Model.Status.ToString() == "9")
                            {
                                @Html.Raw("Belum dikirim")
                            }
                            else
                            {
                                @Html.Raw("")
                            }
                        </strong>
                    </div>
                </td>
                <td>
                    <div>
                        Metode Beli : <strong class="text-md">
                            @if (Model.BuyingStatus.ToString() == "1")
                            {
                                @Html.Raw("Delivery (Aplikasi)")
                            }
                            else if (Model.BuyingStatus.ToString() == "2")
                            {
                                @Html.Raw("Delivery (Telepon)")
                            }
                            else
                            {
                                @Html.Raw("Delivery (Pickup)")
                            }
                        </strong>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="invoice-wrap">
        <div class="invoice-header">[[[No Invoice]]]: <strong>@(Model.InvoiceNo ?? "")</strong></div>
        <div class="invoice-body">
            <table width="100%" style="table-layout: fixed;">
                <tr>
                    <td>
                        <div class="font-italic text-secondary">[[[Nama Agen]]]</div>
                        <strong class="text-md">@Model.AgentName</strong>
                        <div class="address">
                            @Model.AgentAddress
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="font-italic text-secondary">[[[Nama Konsumen]]]</div>
                        <strong class="text-md">@Model.ConsumerName</strong>
                        <div class="address">
                            @Model.ConsumerAddress<br>
                        </div>
                    </td>
                </tr>
            </table>
            <p class="text-xs mb-1"><strong>[[[No Telp Admin]]]:</strong> @Model.AdminMobileNo</p>
            <p class="text-xs"><strong>[[[Waktu pengiriman]]]:</strong>  @(Model.TimeslotDate == null?"NA":Model.TimeslotDate.Value.ToString("dd/MM/yyyy")+" "+Model.DeliveryDate)</p>
            <table width="100%" cellspacing="0" class="invoice-table">
                <thead class="border-body">
                    <tr>
                        <th class="text-md">[[[Nama Barang]]]</th>
                        <th class="text-md text-center">[[[Jumlah]]]</th>
                        <th class="text-md text-right">[[[Harga Satuan]]]</th>
                        <th class="text-md text-right">[[[Total Harga]]]</th>
                    </tr>
                </thead>
                @if (Model.ProductList != null)

                {
                    int counter = 1;
                    decimal? subTotal = 0;
                    decimal? promoTotal = 0;
                    foreach (var item in Model.ProductList.Select((x, i) => new { Data = x, Index = i + 1 }))
                    {

                        if (item.Data.ProductName != "")
                        {
                            <tbody class="border-bottom">
                                <tr>
                                    <td colspan="4" height="5"></td>
                                </tr>
                                <tr>
                                    <td> <strong> @counter . @item.Data.ProductName</strong></td>
                                    <td class="text-center">@item.Data.Quantity</td>
                                    <td class="text-right">@string.Format("{0:n0}", item.Data.TubePrice)</td>
                                    <td class="text-right"><strong>@string.Format("{0:n0}", item.Data.TotalAmount)</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="4" height="5"></td>
                                </tr>
                            </tbody>
                            <tbody class="border-bottom">
                                <tr>
                                    <td>[[[Promo]]]</td>
                                    <td class="text-center">@item.Data.Quantity</td>
                                    <td class="text-right">
                                        @string.Format("{0:n0}", item.Data.PromoPrice)
                                    </td>
                                    <td class="text-right">@string.Format("{0:n0}", item.Data.TotalPromoProduct)</td>
                                </tr>
                                @if (Model.BuyingStatus != 3)
                                {
                                    <tr>
                                        <td>[[[Ongkos Kirim]]]</td>
                                        <td class="text-center">@item.Data.Quantity</td>
                                        <td class="text-right">@string.Format("{0:n0}", item.Data.ShippingAmount)</td>
                                        <td class="text-right">@string.Format("{0:n0}", (item.Data.ShippingAmount * item.Data.Quantity))</td>
                                    </tr>
                                    <tr>
                                        <td>[[[Promo Ongkos Kirim]]]</td>
                                        <td class="text-center">@item.Data.Quantity</td>
                                        <td class="text-right">@string.Format("{0:n0}", item.Data.PromoShippingAmount)</td>
                                        <td class="text-right">@string.Format("{0:n0}", (item.Data.PromoShippingAmount * item.Data.Quantity))</td>
                                    </tr>
                                }
                                <tr>
                                    <td colspan="4" height="10"></td>
                                </tr>
                            </tbody>

                            counter = counter + 1;
                            subTotal = subTotal + item.Data.TotalAmount + (Model.BuyingStatus != 3 ? (item.Data.ShippingAmount * item.Data.Quantity) : 0);
                            promoTotal = promoTotal + item.Data.TotalPromoProduct + (Model.BuyingStatus != 3 ? (item.Data.PromoShippingAmount * item.Data.Quantity) : 0);
                        }

                        if (item.Data.ProductRefillName != "")
                        {
                            <tbody class="border-bottom">
                                <tr>
                                    <td colspan="4" height="5"></td>
                                </tr>
                                <tr>
                                    <td> <strong> @counter . @item.Data.ProductRefillName</strong></td>
                                    <td class="text-center">@item.Data.RefillQuantity</td>
                                    <td class="text-right">@string.Format("{0:n0}", item.Data.RefillPrice)</td>
                                    <td class="text-right"><strong>@string.Format("{0:n0}", item.Data.TotalRefillAmount)</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="4" height="5"></td>
                                </tr>
                            </tbody>
                            <tbody class="border-bottom">
                                <tr>
                                    <td>[[[Promo]]]</td>
                                    <td class="text-center">@item.Data.RefillQuantity</td>
                                    <td class="text-right">@string.Format("{0:n0}", (item.Data.TotalPromoRefillAmount / item.Data.RefillQuantity))</td>
                                    <td class="text-right">@string.Format("{0:n0}", item.Data.TotalPromoRefillAmount)</td>
                                </tr>
                                @if (Model.BuyingStatus != 3)
                                {
                                    <tr>
                                        <td>[[[Ongkos Kirim]]]</td>
                                        <td class="text-center">@(item.Data.RefillQuantity)</td>
                                        <td class="text-right">@string.Format("{0:n0}", item.Data.ShippingAmount)</td>
                                        <td class="text-right">@string.Format("{0:n0}", (item.Data.ShippingAmount * item.Data.RefillQuantity))</td>
                                    </tr>
                                    <tr>
                                        <td>[[[Promo Ongkos Kirim]]]</td>
                                        <td class="text-center">@(item.Data.RefillQuantity)</td>
                                        <td class="text-right">@string.Format("{0:n0}", item.Data.PromoShippingAmount)</td>
                                        <td class="text-right">@string.Format("{0:n0}", (item.Data.PromoShippingAmount * item.Data.RefillQuantity))</td>
                                    </tr>
                                }
                                <tr>
                                    <td colspan="4" height="10"></td>
                                </tr>
                            </tbody>

                            counter = counter + 1;
                            subTotal = subTotal + item.Data.TotalRefillAmount + (Model.BuyingStatus != 3 ? (item.Data.ShippingAmount * item.Data.RefillQuantity) : 0);
                            promoTotal = promoTotal + item.Data.TotalPromoRefillAmount + (Model.BuyingStatus != 3 ? (item.Data.PromoShippingAmount * item.Data.RefillQuantity) : 0);
                        }
                    }

                    <tbody class="border-bottom">

                        <tr>
                            <td colspan="3">[[[Jumlah Total Awal (Rp)]]]</td>
                            <td class="text-right">@string.Format("{0:n0}", (subTotal))</td>
                        </tr>
                        <tr>
                            <td colspan="3">[[[Jumlah Total Promo (Rp)]]]</td>
                            <td class="text-right">@string.Format("{0:n0}", (promoTotal))</td>
                        </tr>
                        @if (Model.Voucher != null)
                        {

                            <tr>
                                <td colspan="3">[[[Voucher @Model.Voucher (Rp)]]]</td>
                                <td class="text-right">@string.Format("{0:n0}", (Model.PotonganVoucher))</td>
                            </tr>

                        }
                        <tr>
                            <td colspan="3"><strong>[[[Jumlah Total Akhir (Rp)]]]</strong></td>
                            <td class="text-right"><strong>@string.Format("{0:n0}", Model.TotalTotalEnd)</strong></td>
                        </tr>
                        <tr>
                            <td colspan="4" height="10"></td>
                        </tr>
                    </tbody>
                }
            </table>
            <table width="100%">
                <tr>
                    <td colspan="3" height="45"></td>
                </tr>
                <tr>
                    <td class="text-center text-secondary">[[[Tanda Terima]]]</td>
                    <td width="20%"></td>
                    <td class="text-center text-secondary">[[[Hormat Kami]]]</td>
                </tr>
                <tr>
                    <td colspan="3" height="20"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
