﻿@model LPG.Models.OrderModel
@{
    ViewBag.Title = "[[[ListOrder]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";


}

<style>
    .overlaywait {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9000;
        background-color: rgba(0, 0, 102,0.5);
        font-size: larger;
        font-weight: bolder;
        text-align: center;
        padding-top: 30vh;
        color: #fff;
        animation: blink normal 1.5s infinite ease-in-out;
    }

    @@keyframes blink {
        0% {
            color: rgba(255,255,255,1)
        }

        50% {
            color: rgba(255,255,255,0.5)
        }

        100% {
            color: rgba(255,255,255,1)
        }
    }
</style>

@*<div class="overlaywait">
        <div>Memuat Data...</div>
    </div>*@

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/Content/bootstrap/css/glyphicon.css" rel="stylesheet" />
<script src="~/Scripts/toastr.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
@*<script src="~/Scripts/bootstrap-datetimepicker.id.js"></script>*@

<div class="modal fade" id="modalVoucher" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail Voucher</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">Voucher</div>
                    <div class="col-md-6" id="kodevoucher"></div>
                </div>
                <div class="row">
                    <div class="col-md-6">Potongan</div>
                    <div class="col-md-6" id="potonganvoucher"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="#" target="_blank" id="linkpengaturan" class="btn btn-primary">Buka Pengaturan Promo</a>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[Cek Pesanan]]]</span></div>
    </div>
    <div class="container-fluid">
        <p class="font-weight-bold">[[[Daftar Pesanan Terbaru]]]</p>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="dtp_input1" class="control-label">Mulai</label>
                <div class="input-group" id="dtpStart">
                    <input class="form-control" size="16" id="txtStart" type="text" value="" readonly>
                    <span class="input-group-addon" id="clearStart"><span class="glyphicon glyphicon-remove"></span></span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="dtp_input2" class="control-label">Berakhir</label>
                <div class="input-group" id="dtpEnd">
                    <input class="form-control" id="txtEnd" size="16" type="text" value="" readonly>
                    <span class="input-group-addon" id="clearEnd"><span class="glyphicon glyphicon-remove"></span></span>
                </div>
            </div>

        </div>

        <div class="row" style="margin-bottom:5px;">
            <div class="col-md-4 input-group">
                <input type="text" class="form-control" placeholder="Search" id="txtsearch" />
            </div>
            <div class="col-md-2 input-group">
                <select class="form-control" id="searchtype">
                    <option value="nama" selected>Nama</option>
                    <option value="invoice">Invoice</option>
                    <option value="wilayah">Wilayah</option>
                    <option value="kota">Kota</option>
                    <option value="voucher">Voucher</option>
                </select>
            </div>
        </div>


        <div class="row" style="margin-top:1em;">
            <div class="col-md-2">
                @using (Html.BeginForm("Export", "Order", FormMethod.Post))
                {
                    <input type="hidden" id="exportdatestart" name="start_date" value="" />
                    <input type="hidden" id="exportdateend" name="end_date" value="" />
                    <button type="submit" id="exportOrderlist" onclick="setperiod()" class="btn btn-success btn-sm">[[[Export Excel]]]</button>
                }
            </div>
            <div class="col-md-2 input-group">
                <button type="button" class="btn btn-sm btn-primary" id="btnsearch"><i class="fa fa-search"></i>&nbsp;Cari</button>
            </div>
        </div>

        <div class="responsive-table">
            <table class="table table-hover col-valign orderview dt-responsive" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>[[[Nama Pelanggan]]]</th>
                        <th>[[[No Handphone]]]</th>
                        <th class="test">[[[No.Invoice]]]</th>
                        <th>[[[Region]]]</th>
                        <th>[[[Kota/Kab.]]]</th>
                        <th>[[[Produk]]]</th>
                        <th>[[[Jumlah]]]</th>
                        <th>[[[Order Date]]]</th>
                        <th>[[[Tanggal & Waktu Pengiriman]]]</th>
                        @*<th style=" display:none">[[[Order Date]]]</th>*@
                        <th>[[[Metode Beli]]]</th>
                        <th>[[[Voucher]]]</th>
                        <th>[[[Status]]]</th>
                        <th>[[[Total Harga(Rp)]]]</th>
                        <th>[[[Alamat Deliv]]]</th>
                        <th>[[[Agen]]]</th>
                        <th>[[[Outlet]]]</th>
                        <th>[[[Admin]]]</th>
                        <th>[[[Hp Admin]]]</th>
                        <th>[[[Tindakan]]]</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<!--partial Load-->
<div id="orderdetailContent">
    <div id="orderDetails" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @Html.Partial("Details")
            </div>
        </div>
    </div>
</div>
<style>
    tfoot {
        display: table-header-group;
    }

    .disabled_override {
        pointer-events: none;
        cursor: default;
        color: #000000;
    }

    .resizedTextbox {
        width: 100px;
    }
</style>
<script type="text/javascript">
    window.lastsearch = {
        search : [''],
        searchtype : $('#searchtype').val()
    }
    function convertDateFormat(date) {
        var today = date; var dd = today.getUTCDate(); var mm = today.getUTCMonth() + 1; //January is 0!
        var hour = today.getUTCHours();
        var minutes = today.getUTCMinutes();
        var yyyy = today.getUTCFullYear();
        if (dd < 10) { dd = '0' + dd }
        if (mm < 10) { mm = '0' + mm }
        if (hour < 10) { hour = '0' + hour }
        if (minutes < 10) { minutes = '0' + minutes }
        var today = dd + '/' + mm + '/' + yyyy;
        return today;
    }

    function convertOrderDateFormat(date) {
        var today = date; var dd = today.getDate(); var mm = today.getMonth() + 1; //January is 0!
        var hour = today.getHours();
        var minutes = today.getMinutes();
        var yyyy = today.getUTCFullYear();
        if (dd < 10) { dd = '0' + dd }
        if (mm < 10) { mm = '0' + mm }
        if (hour < 10) { hour = '0' + hour }
        if (minutes < 10) { minutes = '0' + minutes }
        var today = dd + '/' + mm + '/' + yyyy + ' ' + hour + ':' + minutes;
        return today;
    }

    $('#btnsearch').click(function () {

        var start = $('#txtStart').datepicker('getDate');
        var end = $('#txtEnd').datepicker('getDate');

        if (start) {
            start = moment($('#txtStart').datepicker('getDate')).format('YYYY-MM-DD');
        }
        else {
            start = null;
        }

        if (end) {
            end = moment($('#txtEnd').datepicker('getDate')).format('YYYY-MM-DD');
        }
        else {
            end = null;
        }

        window.lastsearch = {
            search : [$('#txtsearch').val()],
            searchtype: $('#searchtype').val(),
            start_date: start,
            end_date:end
        }

        thedatatable.ajax.reload();
    });

    function initDT2() {
        window.thedatatable = $('#dataTable').DataTable({
            "dom": '<"top">rt<"bottom"ilp><"clear">',//'Blftrip',
            //"buttons": [
            //    {
            //        extend: 'excel',
            //        text: 'Export excel',
            //        className: 'exportExcel btn-success margin-bottom-5',
            //        filename: 'Daftar Pesanan',
            //        exportOptions: {
            //            modifier: {
            //                page: 'all'
            //            },
            //            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9,10,11,12,13]
            //        }
            //    }
            //],
            "aaSorting": [[8, "desc"]],
            "columns": [
                {
                    target: 0,
                    render: function (data, type, row) {
                        var res = '';
                        res += '<table width="100%" class="table-noborder">';
                        res += '<tr>';
                        res += '<td width="40"><div class="cust-checkbox"><input type="checkbox" id="' + row.OrdrID + '"><label for="' + row.OrdrID + '"></label></div></td>';
                        res += '<td>' + row.Name + '</td>';
                        res += '</tr>';
                        res += '</table>';
                        return res
                    }
                },
                { data: 'MobileNumber', target: 1 },
                { data: 'InvoiceNumber', target: 2, "width": "5%" },
                { data: 'RegionName', target: 3 },
                { data: 'CityName', target: 4 },
                {
                    data: 'ProductList', target: 5,
                    render: function (data, type, row) {
                        return row.ProductList.replace(new RegExp(',', 'g'), '<br/>');
                    }
                },
                {
                    data: 'Quantity', target: 6,
                    render: function (data, type, row) {
                        if (row.Quantity)
                            return row.Quantity.replace(new RegExp(',', 'g'), '<br/>');
                    }
                },
                {
                    data: 'OrderDate',
                    //type: 'date',
                    target: 7,
                    render: function (data, type, row) {
                        if (type === 'display' || type === 'filter') {
                            if (row.OrderDateFormated) {
                                //console.log((row.OrderDate.match(/\d+/)[0] * 1));
                                //return convertDateFormat(new Date((row.OrderDate.match(/\d+/)[0] * 1)));
                                //return convertOrderDateFormat(new Date(row.OrderDateFormated));
                                return row.OrderDateFormated;
                            }
                            else {
                                return '';
                            }
                        }

                        // Otherwise the data type requested (`type`) is type detection or
                        // sorting data, for which we want to use the integer, so just return
                        // that, unaltered
                        return ((row.OrderDate || "0").match(/\d+/)[0] * 1);


                    }
                },
                {
                    data: 'DeliveryDate', target: 8,
                    render: function (data, type, row) {
                        if (type === 'display' || type === 'filter') {
                            var res = '';
                            if (row.DeliveryDate) {
                                res += convertDateFormat(new Date((row.DeliveryDate.match(/\d+/)[0] * 1)));

                                res += '<br />';

                                res += row.SlotName;
                            }
                            return res;
                        }

                        return ((row.DeliveryDate||"0").match(/\d+/)[0] * 1);
                    }
                },
                {
                    data: 'BuyingStatus', target: 9,
                    render: function (data, type, row) {
                        var res = '';

                        if (row.BuyingStatus == "1") {
                            res += "Delivery<br>(Aplikasi)";
                        }
                        else if (data.BuyingStatus == "2") {
                            res += "Delivery<br>(Telepon)";
                        }
                        else {
                            res += "Delivery<br>(Pickup)";
                        }

                        return res;
                    }
                },
                {
                    data: 'GrandTotal', target: 10,
                    render: function (data, type, row) {
                        ///PengaturanPromo/AddPromo?PromoID=' + row.PromoID

                        if (row.PromoID) {
                            return '<a href="#" onclick="return showVoucher(\'' + row.Voucher + '\',\'' + row.PotonganVoucher +'\','+row.PromoID+');">' + row.Voucher + '</a>';
                        }
                        else {
                            return '';
                        }
                    }
                },
                {
                    data: 'StatusID', target: 11,
                    render: function (data, type, row) {

                        var res = '';

                        if (row.StatusID == "1") {
                            res += "Belum diterima";
                        }
                        else if (row.StatusID == "2") {
                            res += "Diterima";
                        }
                        else if (row.StatusID == "3") {
                            res += "Dikirim";
                        }
                        else if (row.StatusID == "4") {
                            res += "Berhasil";
                        }
                        else if (row.StatusID == "5") {
                            res += "Dibatalkan oleh<br>Consumer";
                        }
                        else if (row.StatusID == "6") {
                            res += "Dibatalkan oleh<br>System";
                        }
                        else if (row.StatusID == "7") {
                            res += "Dibatalkan oleh<br>Super User";
                        }
                        else if (row.StatusID == "8") {
                            res += "Dibatalkan oleh<br>HQ Super User";
                        }
                        else if (row.StatusID == "9") {
                            res += "Belum dikirim";
                        }
                        else {
                            res += "";
                        }

                        return res;
                    }
                },
                {
                    data: 'GrandTotal', target: 12, orderable: false,
                    render: function (data, type, row) {
                        return '<b>Rp ' + formatNumber(row.GrandTotal) + '</b>';
                    }
                },
                {
                    data: 'Address', target: 13, orderable: false,
                    render: function (data, type, row) {
                        return (data.length > 30) ? data.substring(0, 30) + '...' : data;
                    }

                },
                {
                    data: 'Agen', target: 14, orderable: false
                },
                {
                    data: 'DistributionPointName', target: 15, orderable: false
                },
                {
                    data: 'AgentAdminName', target: 16, orderable: false
                },
                {
                    data: 'AgentAdminPhone', target: 17, orderable: false
                },
                {
                    data: 'StatusID', target: 18,
                    render: function (data, type, row) {
                        var res = '';

                        res += '<td class="text-center">'
                        res += '<a href="#" data-toggle="modal" data-target="#orderDetails" class="getorderDetail edit-link" onclick="getorderDetail(' + row.OrdrID + ',' + row.BuyingStatus + ');" data-id="' + row.OrdrID + '">[[[Melihat]]]</a>'
                        if (parseInt(data.StatusID) >= 4) {
                            res += '<a href="#" class="disabled_override">[[[Override]]]</a>'
                        }
                        else {
                            res += '<a href="#" class="delete" data-toggle="dropdown">[[[Override]]]</a>'
                            res += '<div class="dropdown-menu override-dropdown">'

                            res += '<a class="dropdown-item close1" id="' + row.StatusID + '"  href="/Order/deleteOrder/' + row.OrdrID + '">[[[Close]]]</a>'
                            res += '<a class="dropdown-item cancel" id="' + row.StatusID + '" href="/Order/CancelOrder/' + row.OrdrID + '">[[[Cancel]]]</a>'
                            res += '</div>'
                        }
                        '</td>'

                        return res;
                    }
                }
            ],
            "pagingType": "full_numbers",
            "language": {
                "url": "/Content/datatables/indonesia.json"
            },
            serverSide: true,
            ajax: {

                url: '/Order/ListOrderPaging',
                type: "POST",
                dataType: 'json',
                async: true,
                contentType: 'application/json',
                data: function (data) {

                    var x = {};

                    x.draw = data.draw;
                    x.length = data.length;
                    x.search = lastsearch.search;
                    x.start_date = lastsearch.start_date,
                    x.end_date = lastsearch.end_date,
                    x.start = (data.start / data.length)+1;
                    x.searchtype = lastsearch.searchtype;
                    return JSON.stringify(x); // return JSON string
                },
                processing: true,
                //dataSrc: function (data) {
                //    return data.data;
                //},
            }
        });

        //$.ajax({
        //    type: "POST",
        //    data: { model: null },
        //    url: '/Order/ListOrderPaging',
        //    success: function (result) {
        //        //console.log(result);
        //        //console.log(result.data);

        //        thedatatable.clear();
        //        thedatatable.rows.add(result.data);
        //        thedatatable.draw();
        //        $('.overlaywait').css('display', 'none');

        //    },
        //    error: function (err) {
        //        $('.overlaywait').css('display', 'none');
        //        alert(err);
        //    }
        //});
    }

    $('a.dropdown-item.close1').click(function (e) {
        var id = $(this).attr("id");
        alert(id);
        if (id == "Delivered") {
            alert("[[[Delivered orders cannot be closed]]]");
            return false;
        }
        else if (id == "5" || id == "6" || id == "7" || id == "8") {
            alert("[[[Cancelled orders can not be closed]]]");
            return false;
        }
        else
        {
            if (!confirm("[[[Are you sure want to Close]]]")) {
                return false;
            }
        }

    });

    $('a.dropdown-item.cancel').click(function (e) {
        var id = $(this).attr("id");
        alert(id);
        if (id == "Delivered") {
            alert("[[[Delivered orders can not be cancelled]]]");
            return false;
        }

        else if (id == "5" || id == "6" || id == "7" || id == "8") {
            alert("[[[Cancelled orders can not be cancelled again]]]");
            return false;
        }
        else {
            if (!confirm("[[[Are you sure want to cancel?]]]")) {
                return false;
            }
        }

    });

    formatNumber = function (number, nullReturn) {
        if (Number(number) != NaN && typeof (number) !== 'undefined') {
            number += '';

            var x = number.split('.');

            var x1 = x[0];
            var x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }

            return x1 + x2;
        }
        else {
            if (nullReturn) {
                return nullReturn;
            }
            else {
                return number;
            }
        }
    }
    function getorderDetail(OrderId,buyStatus) {
        $.ajax({
            type: "GET",
            data: { id: OrderId, buyType: buyStatus },
            url: '@Url.Action("OrderDetails", "Order")',
            success: function (result) {
                $('.modal-content').html(result);
            },
            error: function (result) {
            }
        });
    }
    $(document).ready(function () {
        initDT2();
    });

    function showVoucher(voucher, potongan, id) {

        $('#kodevoucher').html(voucher);
        $('#potonganvoucher').html(potongan);
        $('#linkpengaturan').attr('href', '/PengaturanPromo/AddPromo?PromoID=' + id);
        $('#modalVoucher').modal('show');

        return false;
    }

    function setperiod() {

        var start = $('#txtStart').datepicker('getDate');
        var end = $('#txtEnd').datepicker('getDate');

        if (start) {
            start = moment($('#txtStart').datepicker('getDate')).format('YYYY-MM-DD');
        }
        else {
            start = null;
        }

        if (end) {
            end = moment($('#txtEnd').datepicker('getDate')).format('YYYY-MM-DD');
        }
        else {
            end = null;
        }

        $('#exportdateend').val(end);
        $('#exportdatestart').val(start);

        return true;
    }

    !function (a) { a.fn.datepicker.dates.id = { days: ["Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu"], daysShort: ["Mgu", "Sen", "Sel", "Rab", "Kam", "Jum", "Sab"], daysMin: ["Mg", "Sn", "Sl", "Ra", "Ka", "Ju", "Sa"], months: ["Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember"], monthsShort: ["Jan", "Feb", "Mar", "Apr", "Mei", "Jun", "Jul", "Ags", "Sep", "Okt", "Nov", "Des"], today: "Hari Ini", clear: "Kosongkan" } }(jQuery);

    $('#txtStart , #txtEnd').datepicker({
        language:'id',
        zIndexOffset: 1000,
        orientation: "bottom",
        autoclose: true,
        format:'dd MM yyyy'
    });

    $('#clearStart').click(function (e) {
        $('#txtStart').datepicker('clearDates');
        e.preventDefault();
    });

    $('#clearEnd').click(function (e) {
        $('#txtEnd').datepicker('clearDates');
        e.preventDefault();
    });
</script>
<!--partial Loading-->
