﻿@model LPG.Models.SuperAdminModel
@{
    ViewBag.Title = "[[[ListSuperAdmin]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[User Management]]]</span></div>
        <div><button type="button" onclick="location.href='/SuperAdmin/AddSuperAdmin';return false;" class="btn btn-success">[[[Tambah User Baru]]]</button></div>
    </div>
    <div class="container-fluid">
        <p class="font-weight-bold">[[[Daftar Nama User]]]</p>
        <div class="table-responsive">
            <table class="table table-hover table-condensed col-valign" id="dataTable">
                <thead>
                    <tr>
                        <th>[[[Nama User]]]</th>
                        <th>[[[Alamat Email]]]</th>
                        <th>[[[Mobile Number]]]</th>
                        <th>[[[Role User]]]</th>
                        <th>[[[Tindakan]]]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model.SuperAdminModelList)
                    {
                        <tr>
                            <td>
                                <table width="100%" class="table-noborder">
                                    <tr>
                                        <td width="40"><div class="cust-checkbox"><input type="checkbox" id="@data.sAdminId"><label for="@data.sAdminId"></label></div></td>
                                        <td width="60"><img src="@data.profile_image" class="img-circle" width="40" height="40" /></td>
                                        <td><span class="message">@data.full_name</span></td>
                                    </tr>
                                </table>
                            </td>
                            <td>@data.email</td>
                            <td>@data.mobile_number</td>
                            <td>@data.type_name</td>
                            <td>
                                @Html.ActionLink("[[[Edit]]]", "AddSuperAdmin", new { id = data.sAdminId }, new { @class = "edit-link" })
                                @*@Html.ActionLink("[[[Delete]]]", "DeleteSuperAdmin", new { id = data.sAdminId })*@
                                <a class="delete" id="@data.sAdminId" href="#">[[[Dihapus]]]</a>
                                @*<a href="#" onclick="location.href='/SuperAdmin/DeleteSuperAdmin/@data.sAdminId';return false;" class="delete">[[[Delete]]]</a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $('a.delete').click(function () {
        if (!confirm("[[[Apakah Anda ingin menghapus]]]")) {
            return false;
        }
        var id = $(this).attr("id");
        $.ajax({
            url: '/SuperAdmin/DeleteSuperAdmin', type: "POST", dataType: "text",
            data: { id: id },
            success: function (data) {
                //window.location.href = '/SuperAdmin/ListSuperAdmin';
                window.location.reload(true);
                alert('[[[Berhasil Dihapus!]]]');
            },
            error: function (xhr, status, error) {
                alert(xhr.responseText);
                alert(status);
                alert(error);
            }
        });
    });

    $(document).ready(function () {
        $('#dataTable').dataTable({
            //"aaSorting": [[2, "desc"]],
            "pagingType": "full_numbers",
            "language": {
                "url": "/Content/datatables/indonesia.json"
            },
        });


    });
</script>
