﻿@model LPG.Models.ActivityModel
@{
    ViewBag.Title = "[[[ListActivity]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[Aktivitas Terbaru]]]</span></div>
    </div>
    <div class="container-fluid">
        <p class="font-weight-bold">[[[Aktivitas Terbaru]]]</p>
        <div class="table-responsive">
            <table class="table table-hover col-valign" width="100%" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th style="display:none;">[[[Id]]]</th>
                        <th>[[[Item]]]</th>
                        <th>[[[Aktivitas]]]</th>
                        <th>[[[User]]]</th>
                        <th>[[[Tanggal]]]</th>
                        <th>[[[Waktu]]]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model.ActivityList)
                    {
                        <tr>
                            <td style="display:none">@data.ActvID</td>
                            <td>
                                <table width="100%" class="table-noborder">
                                    <tr>
                                        <td width="40"><div class="cust-checkbox"><input type="checkbox" id="@data.ActvID"><label for="@data.ActvID"></label></div></td>
                                        <td>@data.Item</td>
                                    </tr>
                                </table>
                            </td>
                            <td>@data.Activity</td>
                            <td>@data.UserName</td>
                            <td data-order="@data.ActDate">@data.ActDate.ToString("dd/MM/yyyy")</td>
                            <td>@String.Format("{0:hh\\:mm}", @data.ActTime)</td>
                            @*<td style="display:none">@data.ActvID</td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function ($) {
        $('#dataTable').dataTable({
            "aaSorting": [[0, "desc"]],
            "language": {
                "url": "/Content/datatables/indonesia.json"
            },
            //columnDefs: [
            //    { type: 'date', targets: [3] }
            //],
            "pagingType": "full_numbers"
        });
    });

</script>
