﻿
@{
    ViewBag.Title = "AddPromo";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xls/0.7.4-a/xls.js"></script>
<link href="~/Content/css/toastr.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap/css/glyphicon.css" rel="stylesheet" />
<script src="~/Scripts/toastr.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.id.js"></script>
<style>
    .removeuser {
        color: #F52F2F;
    }

        .removeuser:hover {
            color: #FA7878;
        }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
</style>
@Scripts.Render("~/ bundles / toastr")
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[Pengaturan Promo]]]</span></div>
    </div>
    <div class="container-fluid">

        <h2>Form Pengaturan Promo</h2>
        <div class="row">
            <div class="col-md-12">
                @*<ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Item</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Region</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">User ID/Handphone</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                            @using(Html.BeginForm("AddItem", "PengaturanPromo"))
                            {

                            }

                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                    </div>*@
                <div class="form-group">
                    <label for="txtTitle">Judul<span style="color:red;">*</span></label>
                    <input type="text" id="txtTitle" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="txtTitle">Status<span style="color:red;">*</span></label>
                    <select id="cbbStatus" class="form-control">
                        <option value="1">Aktif</option>
                        <option value="0">Non Aktif</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="cbbItem">Pilih Item</label>
                    <select id="cbbItem" class="form-control" multiple></select>
                </div>
                <div class="form-group">
                    <label for="cbbRegions">Pilih Region</label>
                    <select id="cbbRegions" class="form-control" multiple></select>
                </div>
                <div class="form-group">
                    <label for="cbbUser">Pilih Customer</label>
                    <select id="cbbUser" class="form-control"></select>

                </div>
                <div class="form-group">
                    <label for="">Upload Customer dari xls &nbsp;&nbsp;</label>
                    <input type="file" id="fuXls" /> @using (Html.BeginForm("GetTemplate", "PengaturanPromo", FormMethod.Post))
                    {
                        <button type="submit" class="btn">Download Template</button>
                    }
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover col-valign" id="userTable" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>ID</th>
                                    <th>Nama</th>
                                    <th>No Handphone</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <div class="row" style="margin-top:1em;">
                    <div class="form-group col-md-6">
                        <label for="dtp_input1" class="control-label">Waktu Mulai</label>
                        <div class="input-group date form_datetime" id="dtpStart" data-date-format="dd MM yyyy - hh:ii" data-link-field="dtp_input1">
                            <input class="form-control" size="16" id="txtStart" type="text" value="" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                        <input type="hidden" id="dtp_input1" value="" /><br />
                    </div>

                    <div class="form-group col-md-6">
                        <label for="dtp_input2" class="control-label">Waktu Berakhir</label>
                        <div class="input-group date form_datetime " id="dtpEnd" data-date-format="dd MM yyyy - hh:ii" data-link-field="dtp_input2">
                            <input class="form-control" id="txtEnd" size="16" type="text" value="" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                        <input type="hidden" id="dtp_input2" value="" /><br />
                    </div>

                </div>

                <div class="form-group">
                    <label for="txtQuota">Quota (Per User)<span style="color:red;">*</span></label>
                    <input type="number" id="txtQuota" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="txtQuotaGlobal">Quota (Global)</label>
                    <input type="number" id="txtQuotaGlobal" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="txtPotongan">Potongan (Rp.)<span style="color:red;">*</span></label>
                    <input type="number" id="txtPotongan" class="form-control" />
                </div>
                <div class="row">
                    <div class="col-md-2"><button type="button" id="btnGenVoucher" class="btn btn-success">Generate Voucher</button></div>
                    <div class="col-md-3"><input type="text" id="txtVoucher" class="form-control" /></div><span style="color:red;">*</span>
                    <div class="col-md-3" id="voucherstatus"></div>
                </div>
                <div class="row" style="margin-top:1em;">
                    <div class="col-md-2"><button id="btnSimpan" type="button" class="btn btn-primary">Simpan</button></div>
                </div>


            </div>

        </div>

    </div>
</div>

<div class="modal" id="confmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Konfirmasi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="confirmatiomsg">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnConfirmSave" class="btn btn-primary">Simpan</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="tempContainer"></div>


<script>

    moment.locale('id');
    var promoId = getParameterByName('PromoID');
    var promoData = {
        Customers: [],
    };
    var isEditing = false;
    var userData = [];

    $('#dtpStart , #dtpEnd').datetimepicker({
        language: 'id',
        use24hours: true,
        weekStart: 1,
        todayBtn: 1,
        defaultDate: null,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });

    $('#btnConfirmSave').click(function () {
        var start = $('#txtStart').val();
        var end = $('#txtEnd').val();

        if (!$('#txtQuota').val() || !$('#txtTitle').val() || !$('#txtPotongan').val()) {

            alert('lengkapi data terlebih dahulu');
            return;
        }

        if (start) {
            start = moment($("#dtpStart").data("datetimepicker").getDate()).format('YYYY-MM-DDTHH:mm:ss');
        }
        else {
            start = null;
        }

        if (end) {
            end = moment($("#dtpEnd").data("datetimepicker").getDate()).format('YYYY-MM-DDTHH:mm:ss');
        }
        else {
            end = null;
        }

        $.ajax({
            type: "POST",
            url: "/PengaturanPromo/AddPromo",
            data: {
                StartDate: start,
                EndDate: end,
                UserQuota: $('#txtQuota').val(),
                Quota: $('#txtQuotaGlobal').val(),
                Title: $('#txtTitle').val(),
                Voucher: $('#txtVoucher').val(),
                Products: (($('#cbbItem').val() || []).map(function (obj) { return { ProdID: parseInt(obj) }; }) || []),
                Regions: (($('#cbbRegions').val() || []).map(function (obj) { return { RegionId: parseInt(obj) }; }) || []),
                Customers: (promoData.Customers.map(function (obj) { return { CustomerId: obj.CustomerId }; }) || []),
                IsActive: $('#cbbStatus').val() == "1",
                Potongan: $('#txtPotongan').val(),
                PromoID: promoId

            },
            success: function (result) {
                if (result.isSuccess) {
                    alert('Input data berhasil');
                    window.location = '/PengaturanPromo/ListPromo';

                    $('input').val(null);
                    $('select').val(null).change();
                }
                else {
                    alert(result.ErrorMessage)
                }
            }
        });

    });

    $('#btnSimpan').click(function () {

        var start = $('#txtStart').val();
        var end = $('#txtEnd').val();

        if (!$('#txtQuota').val() || !$('#txtTitle').val() || !$('#txtPotongan').val() || !$('#txtVoucher').val()) {

            alert('lengkapi data terlebih dahulu');
            return;
        }

        if (start) {
            start = moment($("#dtpStart").data("datetimepicker").getDate()).format('YYYY-MM-DDTHH:mm:ss');
        }
        else {
            start = null;
        }

        if (end) {
            end = moment($("#dtpEnd").data("datetimepicker").getDate()).format('YYYY-MM-DDTHH:mm:ss');
        }
        else {
            end = null;
        }

        var data = {
            StartDate: start,
            EndDate: end,
            UserQuota: $('#txtQuota').val(),
            Quota: $('#txtQuotaGlobal').val(),
            Title: $('#txtTitle').val(),
            Voucher: $('#txtVoucher').val(),
            Products: (($('#cbbItem').select2('data') || []).map(function (obj) { return { ProdID: parseInt(obj.id), ProductName: obj.text }; }) || []),
            Regions: (($('#cbbRegions').select2('data') || []).map(function (obj) { return { RegionId: parseInt(obj.id), RegionName: obj.text }; }) || []),
            Customers: (promoData.Customers.map(function (obj) { return { Name: obj.Name }; }) || []),
            IsActive: $('#cbbStatus').val() == "1",
            Potongan: $('#txtPotongan').val(),
            PromoID: promoId

        };

        var msg = 'Apakah anda yakin menyimpan data promo :';
        msg += '<br/>Judul : <strong>' + data.Title + '</strong>';
        msg += '<br/>Kode Voucher : <strong>' + data.Voucher + '</strong>';
        msg += '<br/>Potongan : <strong>Rp. ' + formatNumber(data.Potongan) + '</strong>';
        if (data.StartDate) msg += '<br/>Mulai pada <strong>' + $('#txtStart').val() + '</strong>';
        if (data.EndDate) msg += '<br/>Berakhir pada <strong>' + $('#txtEnd').val() + '</strong>';
        if (data.UserQuota) msg += '<br/>Maksimal penggunaan per User <strong>' + data.UserQuota + ' kali' + '</strong>';
        if (data.Quota) msg += '<br/>Maksimal penggunaan keseluruhan <strong>' + data.Quota + ' kali' + '</strong>';
        if (data.Products.length > 0) msg += '<br/>Untuk produk : <br/><ol>' + data.Products.map(function (e) { return '<li>' + e.ProductName + '</li>'; }).join('') + '</ol>';
        if (data.Regions.length > 0) msg += '<br/>Di Region : <br/><ol>' + data.Regions.map(function (e) { return '<li>' + e.RegionName + '</li>'; }).join('') + '</ol>';
        if (data.Customers.length > 0 && data.Customers.length <= 5) msg += '<br/>Untuk  pelanggan : <br/><ol>' + data.Customers.map(function (e) { return '<li>' + e.Name + '</li>'; }).join('') + '</ol>';
        if (data.Customers.length > 5) msg += '<br/>Untuk ' + data.Customers.length + ' Pelanggan';

        $('#confirmatiomsg').html(msg);

        $('#confmodal').modal({
            keyboard: false,
            backdrop: 'static'
        });

    });

    var delay = (function () {
        var timer = 0;
        return function (callback, ms) {
            clearTimeout(timer);
            timer = setTimeout(callback, ms);
        };
    })();

    var userTable = null;

    function deleteuser(sender) {
        var id = $(sender).data('id');

        for (var i = 0; i < promoData.Customers.length; i++) {
            if (promoData.Customers[i].CustomerId == id) {
                promoData.Customers.splice(i, 1);
                break;
            }
        }

        userTable.clear();
        userTable.rows.add(promoData.Customers);
        userTable.draw();

    }

    $('#cbbUser').change(function () {
        if ($(this).val()) {
            console.log($(this).val());
            $.ajax({
                type: "POST",
                url: "/PengaturanPromo/GetUserById",
                data: { ids: [$(this).val()] },
                success: function (result) {
                    //console.log(result);



                    if (result) {
                        if (result.length > 0) {
                            var isexists = false;
                            promoData.Customers.forEach(function (e) {
                                if (e.CustomerId == result[0].CustomerId) {
                                    alert('User sudah dipilih');
                                    $('#cbbUser').val(null).trigger('change');
                                    isexists = true;
                                    return;
                                }
                            });
                            if (!isexists) {
                                promoData.Customers.unshift(result[0]);
                                userTable.clear();
                                userTable.rows.add(promoData.Customers);
                                userTable.draw();
                            }
                        }

                    }

                    $('#cbbUser').val(null).trigger('change');


                }
            })

        }
    });

    $(document).ready(function () {

        $('#dtpStart').datetimepicker('update', null);
        $('#dtpEnd').datetimepicker('update', null);

        userTable = $('#userTable').DataTable({
            "dom": '<"top"Bf>rt<"bottom"ilp><"clear">',//'Blftrip',
            "buttons": [
                {
                    extend: 'excel',
                    text: 'Export excel',
                    className: 'exportExcel btn-success margin-bottom-5',
                    filename: 'Daftar Promo User ' + $('#txtTitle').val(),
                    exportOptions: {
                        modifier: {
                            page: 'all',
                        },
                        columns: [0, 1, 2]
                    }
                }
            ],
            "pagingType": "full_numbers",
            "language": {
                "url": "/Content/datatables/indonesia.json"
            },
            "columns": [
                {
                    data: "CustomerId",
                    targets: 0,
                    searchable: false,
                    width: "4em",
                    orderable: false
                },
                {
                    data: "CustomerId",
                    width: "6em",
                    target: 1,
                },
                {
                    data: "Name",
                    target: 2,
                },
                {
                    data: "MobileNo",
                    target: 3,
                },
                {
                    target: 4,
                    render: function (data, type, row) {
                        return '<div><span class="glyphicon glyphicon-remove removeuser" title="Remove" data-id="' + row.CustomerId + '" onclick="deleteuser(this)"></span></div>';
                    }
                }
            ]
        });

        userTable.on('order.dt search.dt', function () {
            userTable.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();

        $.when(
            $.ajax({
                type: "POST",
                url: "/PengaturanPromo/GetRegion"
            }),
            $.ajax({
                type: 'POST',
                url: '/PengaturanPromo/GetProduct'
            })

        ).done(function (r1, r2) {

            $('#cbbRegions').select2(
                {
                    data: $.map(r1[0], function (obj) { return { id: obj.RegionId, text: obj.RegionName } }),

                });

            $('#cbbItem').select2(
                {
                    data: $.map(r2[0], function (obj) { return { id: obj.ProdID, text: obj.ProductName } }),

                });

            if (promoId) {
                $.ajax({
                    type: 'POST',
                    url: '/PengaturanPromo/GetPromo',
                    data: { promoId: getParameterByName('PromoID') || 0 },
                    success: function (r3) {
                        //console.log(r3[0]);
                        promoData = r3;
                        isEditing = true;


                        //if (promoData.StartDate) $('#dtpStart').datetimepicker('update', (new Date((promoData.DStartDate.match(/\d+/)[0] * 1))));
                        //if (promoData.EndDate) $('#dtpEnd').datetimepicker('update', (new Date((promoData.DEndDate.match(/\d+/)[0] * 1))));

                        if (promoData.StartDate) $('#dtpStart').datetimepicker('update', (new Date(promoData.StartDate)));
                        if (promoData.EndDate) $('#dtpEnd').datetimepicker('update', (new Date(promoData.EndDate)));

                        $('#cbbRegions').val(promoData.Regions.map(function (obj) { return obj.RegionId })).trigger('change');
                        $('#cbbItem').val(promoData.Products.map(function (obj) { return obj.ProdID })).trigger('change');
                        //userCbb.select2('data', promoData.Customers.map(function (obj) { return obj.CustomerId })).trigger('change');//.val().trigger('change');
                        //promoData.Customers.forEach(function (obj) {
                        //    $('#cbbUser').append('<option value="' + obj.CustomerId + '" selected="selected">' + obj.Name + '</option>')
                        //});

                        userTable.clear();
                        userTable.rows.add(promoData.Customers);
                        userTable.draw();

                        $('#txtQuota').val(promoData.UserQuota);
                        $('#txtQuotaGlobal').val(promoData.Quota);
                        $('#txtPotongan').val(promoData.Potongan);
                        $('#txtTitle').val(promoData.Title);
                        $('#cbbStatus').val(promoData.IsActive ? 1 : 0);
                        $('#txtVoucher').val(promoData.Voucher);
                        //$('#txtVoucher').attr('disabled', 'disabled');
                        //$('#btnGenVoucher').attr('disabled', 'disabled');
                    }
                })


            }

            $('#cbbUser').select2({
                minimumInputLength: 3,
                ajax: {
                    url: '/PengaturanPromo/GetCustomer',
                    delay: 300,
                    type: 'POST',
                    data: function (params) {
                        var query = {
                            name: params.term
                        }
                        // Query parameters will be ?search=[term]&type=public
                        return query;
                    },
                    processResults: function (data) {
                        // Tranforms the top-level key of the response object from 'items' to 'results'
                        return {
                            results: data.map(function (obj) { return { id: obj.CustomerId, text: obj.Name + ' - ' + obj.MobileNo } })
                        };
                    }
                }
            });


        });



    });

    $('#txtVoucher').keyup(function () {
        if ($('#txtVoucher').val()) {
            $('#btnSimpan').removeAttr('disabled');
            $('#voucherstatus').html('Checking...');
            delay(function () {
                $.ajax({
                    type: 'POST',
                    url: '/PengaturanPromo/CheckVoucher',
                    data: { voucher: $('#txtVoucher').val() },
                    success: function (result) {
                        if (result == true) {
                            $('#voucherstatus').html('<p style="color:green">Voucher Tersedia</p>');
                            $('#btnSimpan').removeAttr('disabled');
                        }
                        else {
                            $('#voucherstatus').html('<p style="color:red">Voucher Tidak Tersedia</p>');
                            $('#btnSimpan').attr('disabled', 'disabled');
                        }

                        if (!$('#txtVoucher').val()) {
                            $('#voucherstatus').html('');
                        }
                    }
                });
            }, 1000);
        }
        else {
            $('#btnSimpan').removeAttr('disabled');
            $('#voucherstatus').html('');
        }
    });

    $('#btnGenVoucher').click(function () {
        $.ajax({
            type: 'POST',
            url: '/PengaturanPromo/GetVoucher',
            success: function (result) {
                if (result) {
                    $('#txtVoucher').val(result);
                    $('#voucherstatus').html('');
                    $('#btnSimpan').removeAttr('disabled');
                }
            }
        });
    });

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    var oFileIn;

    $(function () {
        oFileIn = document.getElementById('fuXls');
        if (oFileIn.addEventListener) {
            oFileIn.addEventListener('change', filePicked, false);
        }
    });

    $('#downloadtemplate').click(function (e) {
        e.preventDefault();

        toXls([{ ID: "ID" }], "Template.xls");

    })

    function filePicked(oEvent) {
        // Get The File From The Input
        var oFile = oEvent.target.files[0];
        var sFilename = oFile.name;
        // Create A File Reader HTML5
        var reader = new FileReader();

        // Ready The Event For When A File Gets Selected
        reader.onload = function (e) {
            var data = e.target.result;
            var cfb = XLS.CFB.read(data, { type: 'binary' });
            var wb = XLS.parse_xlscfb(cfb);
            // Loop Over Each Sheet
            wb.SheetNames.forEach(function (sheetName) {
                // Obtain The Current Row As CSV
                var sCSV = XLS.utils.make_csv(wb.Sheets[sheetName]);
                var oJS = XLS.utils.sheet_to_row_object_array(wb.Sheets[sheetName]);

                $("#my_file_output").html(sCSV);
                //console.log(oJS)

                $(oFileIn).val(null).trigger('change');

                $('#cbbUser').empty();



                $.ajax({
                    type: "POST",
                    url: "/PengaturanPromo/GetUserById",
                    data: { ids: oJS.map(function (e) { return parseInt(e.ID); }) },
                    success: function (result) {
                        //console.log(result);

                        promoData.Customers = result;

                        userTable.clear();
                        userTable.rows.add(promoData.Customers);
                        userTable.draw();
                    }
                })




            });
        };

        // Tell JS To Start Reading The File.. You could delay this if desired
        reader.readAsBinaryString(oFile);
    }

    function toXls(data, filename) {
        var xlsRows = [];

        var row = '';

        $.each(data, function (i, v) {

            row = '';

            $.each(v, function (indexJ, valueJ) {
                if (valueJ) row = row + valueJ.toString().replace(/\t/g, '&nbsp;&nbsp;&nbsp;&nbsp;') + '\t'; else row = row + '\t';
            });

            xlsRows.push(row);

        });

        var xlsString = xlsRows.join('\n');

        var blob = new Blob([xlsString], { type: "application/vnd.ms-excel" });

        var link = document.createElement('a');
        $(link).attr('href', URL.createObjectURL(blob));
        $(link).attr('download', filename);
        $('#tempContainer').append(link);
        link.click();
        $('#tempContainer').html('');

    }

    formatNumber = function (number, nullReturn) {
        if (Number(number) != NaN && typeof (number) !== 'undefined') {
            number += '';

            var x = number.split('.');

            var x1 = x[0];
            var x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }

            return x1 + x2;
        }
        else {
            if (nullReturn) {
                return nullReturn;
            }
            else {
                return number;
            }
        }
    }
</script>




