﻿@model List<LPG.Models.PengaturanPromoModel>
@{
    ViewBag.Title = "ListPromo";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<link href="~/Content/css/toastr.css" rel="stylesheet" />
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/toastr.js"></script>
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[List Kota]]]</span></div>
        <div><button type="button" onclick="location.href='/PengaturanPromo/AddPromo';return false;" class="btn btn-success">[[[Tambah Promo Baru]]]</button></div>
    </div>
    <div class="container-fluid">
        <div class="table-responsive">
            <table class="table table-hover col-valign" id="dataTablex" cellspacing="0">
                <thead>
                    <tr>
                        <th>[[[Judul Promo]]]</th>
                        <th>[[[Voucher]]]</th>
                        <th>[[[Region]]]</th>
                        <th>[[[Produk]]]</th>
                        <th>[[[User]]]</th>
                        <th>[[[Mulai]]]</th>
                        <th>[[[Akhir]]]</th>
                        <th>[[[Potongan]]]</th>
                        <th>[[[Quota]]]</th>
                        <th>[[[Terpakai]]]</th>
                        <th>[[[Status]]]</th>
                        <th>[[[Tindakan]]]</th>
                    </tr>
                </thead>
                <tbody>
                    

                    @foreach (var data in Model.OrderByDescending(t => t.PromoID).ToList())
                    {
                        <tr>
                            <td>@data.Title</td>
                            <td>@data.Voucher</td>
                            <td>
                                @if (data.Regions.Count <= 2)
                                {
                                    foreach (var item in data.Regions)
                                    {
                                        <div>@item.RegionName</div>
                                    }
                                }
                                else
                                {
                                    <div>@data.Regions[0].RegionName &nbsp;..+ @(data.Regions.Count - 1)</div>
                                }
                            </td>
                            <td>
                                @if (data.Products.Count <= 2)
                                {
                                    foreach (var item in data.Products)
                                    {
                                        <div>@item.ProductName</div>
                                    }
                                }
                                else
                                {
                                    <div>@(data.Products[0].ProductName + " ...+" + (data.Products.Count - 1))</div>
                                }
                            </td>
                            <td>
                                @if (data.Customers.Count <= 2)
                                {
                                    foreach (var item in data.Customers)
                                    {
                                        <div>@item.Name</div>
                                    }
                                }
                                else
                                {
                                    <div>@(data.Customers[0].Name + " ...+" + (data.Customers.Count - 1))</div>
                                }
                            </td>

                            @if (data.StartDate != null)
                            {
                                try
                                {
                                <td>@DateTime.Parse(data.StartDate).ToString("dd MMM yyyy HH:mm")</td>
                                }
                                catch
                                {
                                    try
                                    {
                                        if (data.DStartDate != null)
                                        {
                                            <td>@data.DStartDate.Value.ToString("dd MMM yyyy HH:mm")</td>
                                        }
                                    }
                                    catch
                                    {
                                        <td>@data.StartDate</td>
                                    }
                                }
                            }
                            else
                            {
                                <td></td>
                            }

                            @if (data.EndDate != null)
                            {
                                try
                                {
                                <td> @DateTime.Parse(data.EndDate).ToString("dd MMM yyyy HH:mm")</td>
                                }
                                catch
                                {
                                    try
                                    {
                                        if (data.DEndDate != null)
                                        {
                                            <td>@data.DEndDate.Value.ToString("dd MMM yyyy HH:mm")</td>
                                        }
                                    }
                                    catch
                                    {
                                        <td>@data.EndDate</td>
                                    }
                                }
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@data.Potongan</td>
                            <td>@data.Quota</td>
                            <td>@data.QuotaUsed</td>
                            <td>@((data.IsActive == null || data.IsActive == true) ? "Aktif" : "Non Aktif")</td>
                            <td>
                                <a href="#" class="Edit" onclick="location.href='/PengaturanPromo/AddPromo?PromoID=@data.PromoID';return false;">[[[Edit]]]</a>
                                @{
                                    var bannerid = (data.BannerInfo.Count > 0) ? "/"+data.BannerInfo[0].BannerInfoId : "";
                                }
                                <a href="#" style="color:blue;" onclick="location.href='/BannerInfo/AddBanner@(bannerid)?PromoID=@data.PromoID';return false;">[[[Promo Info]]]</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#dataTablex').dataTable({
            "dom": '<"top"Bf>rt<"bottom"ilp><"clear">',//'Blftrip',
            "buttons": [
                {
                    extend: 'excel',
                    text: 'Export Excel',
                    className: 'exportExcel btn-success margin-bottom-5',
                    filename: 'Promo Voucher',
                    exportOptions: {
                        modifier: {
                            page: 'all'
                        },
                        columns: [0,1,2,3,4,5,6,7,8,9,10]
                    }
                }
            ],
            "aaSorting": [],
            "pagingType": "full_numbers",
            "scrollX": true,
            "language": {
                "url": "/Content/datatables/indonesia.json"
            },
            "column": [
                {
                    data: null,
                    target: 5,
                    render: function (data, type, row) {
                        return '<div>' + "" + '</div>';
                    }
                }
            ]
        });
    });
</script>

