﻿@model LPG.Models.HomeBannerModel
@{
    ViewBag.Title = "[[[ListBanner]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[Banner Promo]]]</span></div>
        <div><button type="button" onclick="location.href='@Url.Content("~/BannerPromo/AddBanner/")';return false;" class="btn btn-success">[[[Tambah Banner Baru]]]</button></div>
    </div>
    
    <div class="container-fluid">
        <p class="font-weight-bold">[[[Daftar Banner Promo Terbaru]]]</p>
        <div class="table-responsive">
            <table class="table table-hover col-valign" width="100%" id="dataTablex" cellspacing="0">
                <thead>
                    <tr>
                        <th>[[[Nama banner Promo]]]</th>
                        <th>[[[Kategori Banner]]]</th>
                        <th>[[[Status]]]</th>
                        <th>[[[Tindakan Terakhir Oleh]]]</th>
                        <th>[[[Tindakan]]]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model.HomeBannerList)
                    {
                        <tr>
                            <td>
                                <table width="100%" class="table-noborder">
                                    <tr>
                                        <td width="40"><div class="cust-checkbox"><input type="checkbox" id="@data.HomeBannerId"><label for="@data.HomeBannerId"></label></div></td>
                                        <td width="100"><img src="@data.BannerImage" width="80" /></td>
                                        <td><span class="message">@data.Caption</span></td>
                                    </tr>
                                </table>
                            </td>
                            @*<td>@((LPG.App_Classes.BannerCategory)Convert.ToInt32(data.CategoryId))</td>*@
                            <td>
                                @if (data.CategoryId.ToString() == "1")
                                {
                                    @Html.Raw("Cover Banner")
                                }
                                else if (data.CategoryId.ToString() == "2")
                                {
                                    @Html.Raw("Footer Banner")
                                }
                                else
                                {
                                    @Html.Raw("Promo Banner")
                                }
                            </td>
                            <td>@(data.IsActive == true ? "[[[Publish]]]" : "[[[Unpublish]]]")</td>
                            <td>@data.LastModifiedDate.ToString("dd/mm/yyyy, hh:mm")<br /><span>@data.UpdatedUser</span></td>
                            <td>
                                <a href="#" class="edit-link" onclick="location.href='/BannerPromo/AddBanner/@data.HomeBannerId';return false;">[[[Edit]]]</a>
                                @*<a href="#" onclick="location.href='/BannerPromo/deletebannerPromo/@data.HomeBannerId';return false;" class="delete">[[[Delete]]]</a>*@
                                @Html.ActionLink("Delete", "deletebannerPromo", new { id = data.HomeBannerId }, new { onclick = "return confirm('[[[Apakah Anda ingin menghapus?]]]');", @class = "delete" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#dataTablex').dataTable({
            "dom": '<"top"Bf>rt<"bottom"ilp><"clear">',//'Blftrip',
            "buttons": [
                {
                    extend: 'excel',
                    text: 'Export Excel',
                    className: 'exportExcel btn-success margin-bottom-5',
                    filename: 'Banner Promo',
                    exportOptions: {
                        modifier: {
                            page: 'all'
                        },
                        columns:[0,1,2,3]
                    }
                }
            ],
            "aaSorting": [],
            "pagingType": "full_numbers",
            "language": {
                "url": "/Content/datatables/indonesia.json"
            },
        });
    });
</script>
