﻿@model LPG.Models.ContactModel
@{
    ViewBag.Title = "[[[AddContact]]]";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="content-wrapper py-3">
    <div class="page-header">
        <div><span class="page-name">[[[Hubungi kami]]]</span></div>
    </div>
    <div class="container-fluid">
        <p class="font-weight-bold">[[[Buat Kontak Baru]]]</p>
        <form id="contact-form" method="post">
            <div class="screen-content">
                <div class="row mt-10">
                    <div class="col-sm-1">
                        <div class="form-group">
                            @if (Model.BannerImage == null)
                            {
                                <img id="imgPreview" height="80" src="~/Content/backups/img-icon.png" width="80" />
                            }
                            else
                            {
                                <img id="imgPreview" height="80" src="@Model.BannerImage" width="80" />
                            }
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 pt-10">
                        <label for="UploadImg" class="btn btn-primary">[[[Unggah Gambar Kontak]]]</label>
                        <input type="file" class="btn btn-primary" id="UploadImg" />
                        <div class="info-text">[[[Ukuran file 350x350 pixel, format file JPG atau PNG]]]</div>
                    </div>
                    <div>@Html.ValidationMessageFor(model => model.BannerImage, null, new { @class = "errorMsg" })</div>
                    <div class="col-md-5 col-sm-6" style="display:none">
                        <div class="alert alert-dismissible sb-alert" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                            <div>[[[Ukuran file gambhar produk melebhi batas maksimal]]]</div>
                        </div>
                    </div>
                </div>
                <div class="row mb-15 sb-form">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>[[[Deskripsi]]]</label>
                            <textarea id="Description" class="form-control" rows="8" name="Description">@Model.Description</textarea>
                            @Html.ValidationMessageFor(model => model.Description, null, new { @class = "errorMsg" })
                        </div>
                    </div>
                </div>
                <input type="hidden" value="@Model.ContactId" name="ContactID" id="ContactID">
                <input type="hidden" value="@Model.BannerImage" name="BannerImage" id="BannerImage">
                <div class="btns-container">
                    <button type="submit" class="btn btn-success" id="btnsave">[[[Save]]]</button>
                    @*<button class="btn btn-default"><i class="fa fa-ban"></i> Cancel</button>*@
                    <button class="btn btn-default" onclick="location.href='/Contact/ListContact';return false;">[[[Cancel]]]</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    //$("#btnsave").click(function () {
    //    var imgVal = $('#UploadImg').val();
    //    if (imgVal == '') {
    //        alert("[[[Silahkan upload gambar]]]");
    //    }
    //});

    $(document).ready(function () {

        // Setup form validation on the #register-form element
        $("#contact-form").validate({

            // Specify the validation rules
            rules: {
                Description: "required",
            },

            // Specify the validation error messages
            messages: {
                Description: "[[[Please enter description]]]",
            },

            submitHandler: function (form) {
                form.submit();
            }
        });

    });

    $("#UploadImg").change(function () {
        var data = new FormData();
        var files = $("#UploadImg").get(0).files;
        if (files.length > 0) {
            data.append("MyImages", files[0]);
        }

        $.ajax({
            url: "/Contact/UploadFile",
            type: "POST",
            processData: false,
            contentType: false,
            data: data,
            success: function (response) {
                $("#BannerImage").val('/extfiles/contact/' + response);
                $("#imgPreview").attr('src', '/extfiles/contact/' + response);
            },
            error: function (er) {
                alert(er);
            }

        });
    });

</script>
