﻿@{
//ViewBag.
//var User = @Context.User.Identity;

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | [[[Bright Home Service]]]</title>
    @Styles.Render("~/Content/css")
    <script src="@Url.Content("~/Scripts/jquery-1.11.3.min.js")"></script>
    @Scripts.Render("~/bundles/modernizr")
    <script src="@Url.Content("~/Scripts/jquery-1.12.4.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.9.1/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.9.1/sweetalert2.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
</head>
<body class="fixed-nav" id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-theme fixed-top" id="mainNav">
        <a class="navbar-brand" href="#"><img src="~/Content/backups/bright-home.png" alt=""></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <div class="nav-outer">
                <ul class="navbar-nav navbar-sidenav">
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="[[[Homepage]]]">
                        <a class="nav-link" href="/Home/Index">
                            <i class="fa fa-fw fa fa-home"></i>
                            <span class="nav-link-text">
                                [[[Homepage]]]
                            </span>
                        </a>
                    </li>
                    @if (ViewBag.Role == " HQSuper User" || ViewBag.Role == "PCC Personnel")
    {
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="[[[Aktivitas Terbaru]]]">
                    <a class="nav-link" href="/RecentActivity/ListActivity/">
                        <i class="fa fa-fw fa-history"></i>
                        <span class="nav-link-text">
                            [[[Aktivitas Terbaru]]]
                        </span>
                    </a>
                </li>
}
                    @if (ViewBag.Role == " HQSuper User")
    {
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="[[[Daftar Produk]]]">
                    <a class="nav-link" href="/Product/ListProduct">
                        <img src="~/Content/backups/cylinder.png" />
                        <span class="nav-link-text">
                            [[[Daftar Produk]]]
                        </span>
                    </a>
                </li>
}
                    @if (ViewBag.Role == " HQSuper User" || ViewBag.Role == "PCC Personnel")
    {
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="[[[Cek Pesanan]]]">
                    <a class="nav-link" href="/Order/ListOrder">
                        <i class="fa fa-fw fa-shopping-cart"></i>
                        <span class="nav-link-text">
                            [[[Cek Pesanan]]]
                        </span>
                    </a>
                </li>
}
                    @if (ViewBag.Role == " HQSuper User")
    {
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="[[[Promo & Reminder]]]">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti">
                        <i class="fa fa-fw fa-tag"></i>
                        <span class="nav-link-text">
                            [[[Promo & Reminder]]]
                        </span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseMulti">
                        <li>
                            <a href="/BannerPromo/ListBanner">[[[Banner Promo]]]</a>
                        </li>
                        <li>
                            <a href="/BannerInfo/ListBanner">[[[Info Promo]]]</a>
                        </li>
                        <li>
                            <a href="/Reminder/ListReminder">[[[Reminder]]]</a>
                        </li>
                    </ul>
                </li>
}
                    @if (ViewBag.Role == " HQSuper User")
    {
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="[[[Form Registrasi]]]">
                    <a class="nav-link" href="/User/AddUser/">
                        <img src="~/Content/backups/check.png" />
                        <span class="nav-link-text">
                            [[[Form Registrasi]]]
                        </span>
                    </a>
                </li>
}
                    @if (ViewBag.Role == " HQSuper User" || ViewBag.Role == "PCC Personnel")
    {
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="[[[Daftar Pelanggan]]]">
                    <a class="nav-link" href="/Customer/ListCustomer/">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span class="nav-link-text">
                            [[[Daftar Pelanggan]]]
                        </span>
                    </a>
                </li>
}
                    @if (ViewBag.Role == " HQSuper User")
    {
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="[[[Daftar Agen]]]">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents">
                        <i class="fa fa-fw fa-users"></i>
                        <span class="nav-link-text">
                            [[[Daftar Agen]]]
                        </span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseComponents">
                        <li>
                            <a href="/Company/ListCompany/">[[[Perusahaan]]]</a>
                        </li>
                        <li>
                            <a href="/Distribution/ListDistribution/">[[[Titik Distribusi]]]</a>
                        </li>
                        <li>
                            <a href="/AgentBoss/ListAgentBoss/">[[[Agen Bos]]]</a>
                        </li>
                        <li>
                            <a href="/AgentAdmin/ListAgentAdmin/">[[[Agen Admin]]]</a>
                        </li>
                        <li>
                            <a href="/Driver/ListDriver/">[[[Driver]]]</a>
                        </li>
                    </ul>
                </li>
}
                    @if (ViewBag.Role == " HQSuper User" || ViewBag.Role == "PCC Personnel")
    {
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="[[[FAQ]]]">
                    <a class="nav-link" href="/FAQ/ListFAQ/">
                        <i class="fa fa-fw fa-question-circle-o"></i>
                        <span class="nav-link-text">
                            [[[FAQ]]]
                        </span>
                    </a>
                </li>
}
                    @if (ViewBag.Role == " HQSuper User")
    {
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="[[[Hubungi Kami]]]">
                    <a class="nav-link" href="/Contact/ListContact/">
                        <i class="fa fa-fw fa-phone"></i>
                        <span class="nav-link-text">
                            [[[Hubungi Kami]]]
                        </span>
                    </a>
                </li>
}
                    @if (ViewBag.Role == "System Admin")
    {
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="[[[User Management]]]">
                    <a class="nav-link" href="/SuperAdmin/ListSuperAdmin/">
                        <i class="fa fa-fw fa-cog"></i>
                        <span class="nav-link-text">
                            [[[User Management]]]
                        </span>
                    </a>
                </li>
}
                    @if (ViewBag.Role == " HQSuper User")
    {
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="[[[Daftar Produk]]]">
                    <a class="nav-link" href="/City/ListCity">
                        <img src="~/Content/backups/cylinder.png" />
                        <span class="nav-link-text">
                            [[[Master Kota]]]
                        </span>
                    </a>
                </li>
}
                </ul>
            </div>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <div class="user-wrap">
                <span class="date-updated"></span>
                <div class="account-menu dropdown">
                    <div data-toggle="dropdown">
                        <div>
                            <span class="user-name"></span>
                            <span class="user-type"></span>
                        </div>
                        <img src="~/Content/backups/img-icon.png" id="imgProfile" width="60" class="img-circle" alt="">
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">[[[Logout]]]</a>
                        <a class="dropdown-item drop-active" href="/SuperAdmin/EditSuperAdminPassword/">[[[Settings]]]</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">[[[Ready to Leave?]]]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    [[[Select "Logout" below if you are ready to end your current session]]].
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">[[[Cancel]]]</button>
                    <button type="button" id="logoutbtn" class="btn btn-primary">[[[Logout]]]</button>
                    @*<a class="btn btn-primary" href="login.html">[[[Logout]]]</a>*@
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    @Scripts.Render("~/bundles/LPGjquery")
    @RenderSection("scripts", required: false)
    @{ Html.RenderPartial("_Toaster"); }
    @*@Scripts.Render("~/bundles/LPGjquery")
        @Scripts.Render("~/ bundles / toastr")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        @RenderBody()
        @{ Html.RenderPartial("_Toaster"); }*@
</body>
</html>
<script type="text/javascript">

$(function(){

  $("#logoutbtn").click(function(e){
   e.preventDefault();
   $.post("@Url.Action("Logout", "Home")",function(res){
      if(res.status==="done")
      {
         //close the window now.
          window.location.href = '@Url.Content("~/Login")';
      }
    });



    });


        var li = $('.navbar-sidenav li > a[href="' + location.pathname + '"]').parent();
        $(li).addClass('active');

        if ($(li).parents('li').length > 0) {
            $(li).parents('li').find('a').click();
        }



@*$.ajax({
        type: "GET",
        url: '@Url.Action("GetSession", "Home",
                                      new {  })',
        json: true,
        data: $form.serialize()
      }).done(function (data) {

          var user_name = data.username;
          var user_role = data.user_role;
          alert(user_name);
          // window.location.href=newUrl; reload to the new url ?
      });*@

    $.post('/Home/GetSession',
        {}, function (data) {
            var user_name = data.username
            var user_role = data.userrole
            var user_img = data.profileimg
            var user_date = data.logindate

            //$("label[for='UserName']").html(user_name);
            //$("label[for='UserRole']").html(user_name);
            //alert(user_img);
            //var test = '~/extfiles/profile/superuser/ProfileImg_7d6b6b34 - 15af-4ae0-883b-a3382c077a87.jpg'
            $('.user-name').text(user_name)
            $('.user-type').text(user_role)
            $('.date-updated').text(user_date)

            $("#imgProfile").attr("src", user_img)
        });

    jQuery(window).on("load", function () {
        jQuery(".nav-outer").mCustomScrollbar({
            scrollInertia:0
        });
    });

});
</script>
